.masthead


  .span9{:align => 'center'}
 
    %h3.orange.strong
      Центр Здоровья и Красоты «Виэль»  
    %h3.orange
      основан 08 августа 2013 года.
    %hr
    %h3.orange
      «Виэль»  – первый и единственный Центр в Краснодарском крае, предоставляющий широкий  спектр услуг лечебного и СПА массажа.
    %hr 
    %br

  .span15.white.italic{:align => 'center'}
    %h3
      МЫ ПРЕДОСТАВЛЯЕМ:
    %br
    %h3
      %li
        Более 60-ти массажных техник,
    %br
    %h3
      %li
        Подлинные мастера из Таиланда,
    %br
    %h3
      %li
        8 видов пилингов, 
    %br
    %h3
      %li
        10 видов обертываний , 
    %br
    %h3
      %li
        SPA-программы,
    %br
    %h3
      %li
        Программы коррекции фигуры,
    %br
    %h3
      %li
        Широкий выбор косметологических услуг,
    %br
    %h3
      %li
        Психолог (детский, семейный, взрослый)
    %br
    %h3
      %li
        Диетолог 
    %br
    %h3
      %li
        Визаж
    %br
    %h3
      %li
        3D тату
    %br
    %h3
      %li
        Перманентный макияж
    %br
    %h3
      %li
        Маникюр, педикюр.
    %hr
    %br
    %h3
      Руководитель Центра здоровья и красоты «Виэль»,  Бычик Виолетта Вячеславовна, специалист с 20-тилетнем стажем работы в индустрии массажа (с 1994 года). Преподаватель лечебных техник и SPA методик, «Виртуоз России» - призер V-го Чемпионата SPA массажа. Член жюри VI-го Чемпионата России «Лучший SPA-мастер 2014».
    %hr
    %br
    %h3
      Наши специалисты – участники III Южно-Российского Чемпионата «Лучший СПА – мастер 2008» и VI Чемпионата России «Лучший СПА мастер 2014»
    %br
    %h3
      Все специалисты нашего Центра сертифицированы и имеют медицинское образование.
    %br
    %h3
      Каждый из них по-своему уникален, индивидуальный подход к каждому.
    %hr
    %br
    %h3
      ГЛАВНЫЕ ЗАДАЧИ НАШИХ СПЕЦИАЛИСТОВ:  
    %br
    %h3
      %li
        грамотно выявить потребности пациента 
    %br
    %h3
      %li
        в кратчайшие сроки помочь ему в осуществлении его желаний. 

      %br
      %br 
      %br
      %br
      %br
      %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






