.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    = image_tag('action_present2.jpg',  :class => 'img-rounded', height: "462", width: "400")
    %br
    %br
    %h2.OrangeRed{:'font-family' => 'font-centr'} Мы дарим Вам подарки!
    %hr   
    %h3.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel4.black

        %h3При покупке курса массажа или  подарочного сертификата стоимостью 10 000 рублей, выгодная дисконтная карта 
        %br
        %h3.OrangeRed «Мой Город» Вам в ПОДАРОК!!!
        %br
        Торопитесь, количество карт ограничено!
        %br
        %br
        Мы Вас любим!!!
        %br

        %hr

  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
