.masthead
  .container_viel2.black{:align => 'center'}
    = image_tag('friends.jpg',  :class => 'img-rounded', height: "462", width: "400")
    %br
    %br
    %h2.OrangeRed{:'font-family' => 'font-centr'} Приведи друга и получи...!!!
    %hr   
    %h3.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel4.black
      %tr
        %td.black{:colspan=>"2", :align => 'center'}
          %p.OrangeRedМассаж:
          %br
            1 человека – массаж головы/стоп/шейно-воротниковой зоны
          %br
            3 человека – массаж спины
          %br
            5 человек – общий массаж тела
          %br
          %p.OrangeRedКосметология:
          %br
            1 человека – коррекция/окрашивание бровей
          %br
            3 человека – депиляция рук/ноги до колена/подмышечная область
          %br
            5 человек – массаж лица
          %br
          %p.OrangeRedМаникюр:
          %br
            1 человека – массаж, скрабирование кистей рук
          %br
            3 человека – маникюр без покрытия
          %br
            5 человек – педикюр без покрытия
        %hr

  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
