.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    = image_tag('action3.jpeg',  :class => 'img-rounded', height: "462", width: "400")
    %br
    %br
    %h2.OrangeRed{:'font-family' => 'font-centr'} У Вас День Рождения?
    %hr   
    %h3.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel4.black

        %h3Мы дарим Вам скидку 10% на все наши услуги в этот день и два дня после него! 
        %br


        %hr

  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
