.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    = image_tag('learn1.jpg',  :class => 'img-rounded', height: "462", width: "400")
    %br
    %br
    %h2.OrangeRed{:'font-family' => 'font-centr'} ОБУЧЕНИЕ!!!
    %hr   
    %h3.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel4.black

        %h3Обучение проводит Призер VII Чемпионата России по массажу 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г." 
        %br
        %h3.OrangeRed Бычик Виолетта Вячеславовна.
        %br
        Спешите! Количество мест ограничено!
        %br
        Запись по телефону 8-938-429-23-28
        %br
        %br
        P.S. По окончанию обучения выдается сертификат!
        %br

        %hr

  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
