.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Астролог
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "307")
    %br
    %br

  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Вид консультации
      %th Время
      %th Цена, руб.




    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
