.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    = image_tag('open_door.jpg',  :class => 'img-rounded', height: "462", width: "450")
    %br
    %br
    %h2.OrangeRed{:'font-family' => 'font-centr'} ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ!
    %hr   


  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
