.masthead


  .span9{:align => 'center'}
 
    %h3.OrangeRed.strong
      Центр Здоровья и Красоты «Виэль»  
    %h3.OrangeRed
      ДЛЯ  ДЕТЕЙ


     
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






