.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши контакты:
  %hr 

    %address{:align => 'center'}
    %h4.white
      .span6{:'font-family' => 'font-centr', :align => 'left'}
        %strong Адрес:
        Краснодар, Бульвар Платановый, 4
        %br
        %strong <abbr title="Email">e-mail:</abbr>
        = mail_to 'viel-centr@rambler.ru', 'viel-centr@rambler.ru', {:subject => '"Виэль", центр красоты и здоровья'}
        %br
        %strong <abbr title="Телефон">тел.:</abbr> +7 (938) 429-23-28
        %br
        %strong <abbr title="Web-адрес">Web-адрес:</abbr>
        http://www.vielcentr.ru/
      %br
      %br
    %br
    %img{:class=>"decoded shrinkToFit", :width=>"450", :height=>"450", :src=>"http://static-maps.yandex.ru/1.x/?lang=ru-RU&ll=38.909476,45.031305&size=450,450&z=16&l=map&pt=38.909476,45.031305,pm2rdl1~38.909476,45.031305,pm2rdl1", :alt=>"http://static-maps.yandex.ru/1.x/?lang=ru-RU&ll=38.909476,45.031305&size=450,450&z=16&l=map&pt=38.909476,45.031305,pm2rdl1~38.909476,45.031305,pm2rdl1"}   

    .span4{:align => 'left'}
      %h4.white
        %br
        %strong <abbr title="Режим работы 9-21ч.">Режим работы: </abbr> 9-21ч.     
        %br
        %br
        %strong <abbr title="Транспорт:">Транспорт: </abbr> 
        %br
        .italic трамвай 6, 11, 21
        %br
        .italic марш. 11, 28, 38, 38а, 32, 75, 90, 95
        %br
        .italic троллейбус 11


    
    %br
  %br

         
