.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Косметология
  %hr    
    = image_tag('cosmic.png',  :class => 'img-rounded', height: "200", width: "745", :align => 'center')
    %br
    %br
    %br
  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Время
      %th Цена, руб.
    %tr{:align => 'center'}
      %td
      %td МАССАЖ ЛИЦА
    %tr
      %td 1
      %td Массаж лица косметический (зона декольте, воротниковая зона) массаж+маска
      %td 1 час 20 мин.
      %td 1300-1500
    %tr
      %td 2
      %td	Миопластический лимфодренажный массаж лица
      %td 30-40 мин.
      %td 1600
    %tr
      %td 3
      %td Массаж пластический с маской
      %td 1 час
      %td 1700-2000
    %tr
      %td 4
      %td Хиромассаж 
      %td 40 мин
      %td 1800-2000
    %tr
      %td 5
      %td Посизометрическая миорелаксация мышц лица (ПИРМ) без маски 
      %td 1 час
      %td 2000
    %tr{:align => 'center'}
      %td
      %td ЧИСТКА 
    %tr
      %td 6
      %td Атравматическая чистка лица (прохладное гидрирование)  (Может использоваться как программа "ежемесячный уход")
      %td 1,5-2 часа.
      %td 1500-2000
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - гидрирование/эксфолиация
    %tr
      %td
      %td - очищение пор механическое
    %tr
      %td
      %td - маска восстанавливающая по типу кожи
    %tr
      %td
      %td - крем защитный
    %tr
      %td 7
      %td Чистка кожи(область спины и плеч)
      %td 0,5-1 час.
      %td 1500
    %tr
      %td 8
      %td Чистка кожи(область спины и плеч)  с пилингом
      %td 0,5-1 час.
      %td 2500
    %tr
      %td 9
      %td Очищение проблемной и подростковой кожи с проявлениями акне (Может использоваться после чистки 2 раза в неделю до улучшения состояния кожи.)
      %td 1,5-2 часа.
      %td 1500-2500
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - размягчение верхнего слоя
    %tr
      %td
      %td - очищение пор механическое
    %tr
      %td
      %td - обработка локальных повреждений
    %tr
      %td
      %td - маска поросуживающая
    %tr
      %td
      %td - дарсонвализация
    %tr
      %td
      %td - маска "себо-контроль"
    %tr
      %td
      %td - крем защитный
    %tr
      %td 10
      %td Дарсонваль
      %td 10-15 мин.
      %td 500 
    %tr
      %td 11
      %td Ультрозвуковая чистка 
      %td 30 мин.
      %td 1200 

    %tr{:align => 'center'}
      %td
      %td УХОД ЗА ЛИЦОМ
    %tr
      %td 12
      %td Экспресс - уход
      %td 1 час
      %td 1600-1700
    %tr
      %td 13
      %td Процедура "выходного дня"
      %td 1,5-2 часа
      %td 2000
    %tr
      %td 14
      %td Антистрессовый уход за чувствительной кожей с элементамикпероза
      %td 1,5 часа
      %td 2400-3000
    %tr
      %td 15
      %td Активный омолаживающий уход с использованием концентратов, сывороток, би-термальной, альгинатной маски.
      %td 1,5-2 часа
      %td 2500-3500
    %tr
      %td 16
      %td Лифтинг - уход за шеей и декольте.
      %td 1час
      %td 2500
    %tr
      %td 17
      %td Осветляющия процедура
      %td 40 мин.
      %td 2000-2500
    %tr
      %td 18
      %td Комплексная процедура ухода по типу кожи (Может использоваться как программа "еженедельный уход")  
      %td 1,5-2 часа
      %td 2000-3500
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - гидрирование/эксфолиация
    %tr
      %td
      %td - массаж
    %tr
      %td
      %td - концентрат/сыворотка
    %tr
      %td
      %td - маска
    %tr
      %td
      %td - крем защитный
    %tr
      %td 19
      %td Маска по типу кожи:                                                     
      %td 40 мин
      %td 500-1000
    %tr
      %td
      %td - увлажнение
    %tr
      %td
      %td - питание
    %tr
      %td
      %td - отбеливание
    %tr
      %td
      %td - лифтинг
    %tr
      %td
      %td - антистресс
    %tr
      %td
      %td - коллагеновые
    %tr
      %td 20
      %td Экспресс-маска пластифицирующие  и ампулы (сыворотки) по типу кожи:   
      %td 40 мин.
      %td 1500-2000
    %tr
      %td
      %td - лифтинг
    %tr
      %td
      %td - насыщение кислородом
    %tr
      %td 21
      %td Программа "Гипсовый моделляж" на основе термоактивной гипсовой маски
      %td 1,5 часа
      %td 2500-3500
    %tr
      %td 22
      %td Концентрат, ампулы по типу кожи
      %td 
      %td 300-500
    %tr
      %td 23
      %td Химический пилинг
      %td 0,5-1 час
      %td 2700-4000
    %tr
      %td 24
      %td Миндальный пилинг 50% (с маской)
      %td 30 мин
      %td 1500-2800
    %tr
      %td 25
      %td Салициловый пилинг 15%, 30%
      %td 0,5-1 час
      %td 2000-2500
    %tr
      %td 26
      %td Гликолевый пилинг 35%, 50%, 70%
      %td 30 мин
      %td 2000-2500
    %tr
      %td 27
      %td Удаление милиумов кол-во
      %td 10 мин
      %td 50
    %tr
      %td 28
      %td Коррекция бровей
      %td 40 мин
      %td 250-300
    %tr
      %td 29
      %td Окрашевание ресниц
      %td 20 мин
      %td 250-300
    %tr
      %td 30
      %td Окрашевание бровей
      %td 10 мин
      %td 250-300
    %tr
      %td 31
      %td Парафинотерапия (кисти рук) теплое
      %td 15 мин
      %td 400
    %tr
      %td 32
      %td Парафинотерапия (кисти рук) холодное
      %td 15 мин
      %td 500
    %tr
      %td 33
      %td Нить 1шт
      %td 
      %td 2000
    %tr
      %td 34
      %td Ботекс за 1 ед
      %td 
      %td 100

    %tr{:align => 'center'}
      %td 35
      %td ДЕПИЛЯЦИЯ ВОСК: 
    %tr
      %td
      %td - верхняя губа
      %td 15 мин
      %td 300
    %tr
      %td
      %td - подбородок
      %td 20 мин
      %td 300-400
    %tr
      %td
      %td - руки полностью
      %td 40 мин
      %td 600-800
    %tr
      %td
      %td - руки до локтя
      %td 15-20 мин
      %td 400-600
    %tr
      %td
      %td - кисти рук
      %td 15 мин
      %td 300
    %tr
      %td
      %td - подмышечная область
      %td 20-30 мин
      %td 300-500
    %tr
      %td
      %td - ноги полностью
      %td 0,5-1 час.
      %td 1000-1300
    %tr
      %td
      %td - ноги до колена
      %td 30 мин
      %td 550-650
    %tr
      %td
      %td - пальцы ног
      %td 15 мин
      %td 150
    %tr
      %td
      %td - бикини не глубокое
      %td 20 мин
      %td 1000
    %tr
      %td
      %td - бикини глубокое
      %td 1 час
      %td 1300-1500

    %tr{:align => 'center'}
      %td 36
      %td ДЕПИЛЯЦИЯ ШУГАРИНГ: 
    %tr
      %td
      %td - верхняя губа
      %td 15 мин
      %td 400
    %tr
      %td
      %td - подбородок
      %td 20 мин
      %td 500
    %tr
      %td
      %td - руки полностью
      %td 40 мин
      %td 900
    %tr
      %td
      %td - руки до локтя
      %td 20 мин
      %td 500
    %tr
      %td
      %td - подмышечная область
      %td 30 мин
      %td 500-600
    %tr
      %td
      %td - ноги полностью
      %td 1 час.
      %td 1700-2000
    %tr
      %td
      %td - ноги до колена
      %td 30 мин
      %td 900-1000
    %tr
      %td
      %td - пальцы ног
      %td 20 мин
      %td 200
    %tr
      %td
      %td - живот
      %td 30 мин
      %td 500-600
    %tr
      %td
      %td - бикини не глубокое
      %td 30 мин
      %td 1100-1200
    %tr
      %td
      %td - бикини глубокое
      %td 1 час
      %td 1400-1600

    %tr{:align => 'center'}
      %td 37
      %td НАРАЩИВАНИЕ РЕСНИЦ: 
    %tr
      %td
      %td Поштучное наращивание ресниц
      %td 2-3 часа
      %td 2500-3200
    %tr
      %td
      %td Поштучное наращивание ресниц (уголки)
      %td 1-1,5 часа
      %td 1400
    %tr
      %td
      %td Химическая завивка ресниц
      %td 
      %td 2300
    %tr
      %td
      %td Наращивание пучками 1 пучок
      %td от количества
      %td 40-50
    %tr
      %td 38
      %td Бикини дизайн
      %td 0,5-1 часа
      %td от 300
    %tr{:align => 'center'}
      %td 39
      %td ПИРСИНГ
      %td 
      %td 
    %tr
      %td
      %td Пирсинг носа
      %td 
      %td 1200
    %tr
      %td
      %td Пирсинг пупка
      %td 
      %td 1200
    %tr
      %td
      %td Прокол 2х ушей
      %td 
      %td 900
    %tr
      %td
      %td Прокол 1го уха
      %td 
      %td 450

    %tr{:align => 'center'}
      %td 40
      %td ПЕРМАНЕНТНЫЙ МАКИЯЖ 
      %td Надежда
      %td Светлана
    %tr
      %td
      %td Брови
      %td 4000
      %td 6000
    %tr
      %td
      %td Губы (контур)
      %td 3500
      %td 4500
    %tr
      %td
      %td Губы (с тушовкой)
      %td 4500
      %td 6500
    %tr
      %td
      %td Глаза межресничка
      %td 3000
      %td 4000
    %tr
      %td
      %td Глаза (стрелки)
      %td 3500
      %td 4500
    %tr
      %td
      %td Мушка
      %td 800
      %td 1500
 
    %br
  %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")  
    %br
  %br

         
