.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2.OrangeRed{:align => 'center'} КОСМЕТИКА
    %br
    %br
    %br
    %br
  .container{:align => 'center'}
    %hr
    .span3
      %br
      =image_tag('anna_lotan.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Anna Lotan Professional Skin Care Products
      %p{:align => 'left'}     "Anna Lotan" ведущая биокосмецевтическая лаборатория Израиля, известная в мире благодаря основательным научным и патентным разработкам.
      %p{:align => 'left'}Профессиональный уход за кожей во всем мире
      %p{:align => 'left'} Анна Лотан - ученый с мировым именем, основатель школы косметологии Израиля, ведущий эксперт в области косметологии, косметической химии, биологии, обладатель множества патентов на уникальные косметический препараты, автор всемирно известных методик лечения проблемных состояний кожи, такие как акне, себорея, купероз и др. В профессиональных кругах Анна Лотан широко известна как автор уникальной методики "Прохладногогидрирования". Колоссальный опыт более 50 лет и профессионализм Анны Лотан позволили создать одну из самых известных салонных марок.
      =link_to '(http://profcosm.ru/anna-lotan.html)', 'http://profcosm.ru/anna-lotan.html'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('thalasso_bretagne.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Thalasso Bretagne
      %p{:align => 'left'}Thalasso Bretagne - опыт и передовые технологии
      %p{:align => 'left'} Бережное отношение к природе, использование высоких технологий и последних научных открытий позволили косметической продукции Thalasso Bretagne раскрыть уникальные возможности моря, дарить человеку здоровье, молодость, красоту.
      %p{:align => 'left'}Талассотерапия способна влиять на ключевые физиологические процессы организма человека, нормализуя их, что в буквальном смысле способно тормозить процессы старения и поворачивать время вспять.
      %p{:align => 'left'}Профессиональная косметическая марка Thalasso Bretagne (завод Bretagne Cosmetique Marins, Франция) представляет более 100 эффективных уходов по телу и лицу: соединяет в себе целебное действие водорослей и морской воды с новейшими технологиями, позволяющими получить наиболее интересные результаты по оздоровлению, коррекции силуэта и омоложению организма: действует в таких направлениях, как: талассо-, альго-, бальнео-, фанготерапия.
      =link_to '(http://www.thalassobretagne.com.ua/)', 'http://www.thalassobretagne.com.ua/'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('styx2.jpeg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 STYX NATURCOSMETIC
      %p{:align => 'left'}«жизнь меняется, ароматы вечны» - эти слова начертаны над входом в фамильное поместье Stix. Фамилия австрийских фармакологов и промышленников Stix уже много десятилетий несет концепцию химической непорочности старинной природной косметики и эфирных масел. Секреты производства косметических средств и ароматов безукоризненного качества передавались в семье Stix из поколения в поколение, так же как и старинные книги по химии, фармакологии, косметологии. Это объясняет уникальность традиций рецептуры и культуры производства компании " Styx naturcosmetics", торговая марка которой, в силу пренебрежительного отношения австрийцев к формализации именных ценностей, была зарегистрирована не очень давно, только к 1975 г. 
      %p{:align => 'left'}Деятельность компании Styx naturcosmetics, не ограничивается только научными разработками рецептуры, лабораторными исследованиями качества сырья, производством косметических средств и эфирных масел. Компания так же отслеживает экологическую ситуацию и особенности урожайности растений, используемых для производства эфирных масел, посещая плантации эфирно-масличных растений во всех частях света.
      %p{:align => 'left'}Все косметические продукты и эфирные масла компании Styx naturcosmetics сертифицированы на самом высоком международном уровне (GMP, ISN) и имеют свидетельства о биологически чистых плантациях, на которых выращиваются растения без употребления химических удобрений, пестицидов и гербицидов.
      %p{:align => 'left', :'font-style' => 'strong'}Ароматы Styx - это чистота гармонии земли, воздуха, воды и огня
      =link_to '(http://www.styx-cosmetics.ru/)', 'http://www.styx-cosmetics.ru/'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('natura_bisse.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Natura Bisse
      %p{:align => 'left'}Natura Bisse – элитная профессиональная косметика для салонов красоты нового поколения
      %p{:align => 'left'}Профессиональная салонная косметика NATURA BISSE занимает одно из лидирующих мест среди лучших профессиональных косметических линий класса «люкс» по уходу за кожей лица и тела для салонного и домашнего применения. 
      %p{:align => 'left'}Подводя итоги более чем 30-летнего опыта, испанский дом уверенно демонстрирует успешность и признание профессиональной косметики NATURA BISSE по всему миру, включая склонную к инновациям Америку, консервативную Японию и непредсказуемую Россию.
      %p{:align => 'left'}Доказательством высокого качества салонной косметики NATURA BISSE служит любовь мировых звезд, таких как Мадонна, Шарон Стоун, Гвинет Пэлтроу, Кейт Мосс, Джулия Робертс и Сара Джессика Паркер. С 2005 года Natura Bisse принимает участие в награждении премией Оскар, балуя знаменитых гостей роскошными косметологическими процедурами.
      %p{:align => 'left'}Возможно, Вам потребуется время, чтобы «понять» косметику для салонов NATURA BISSE, но, поверьте, узнав ее ближе, Вы останетесь с ней на многие годы!
      =link_to '(http://nbisse.ru/)', 'http://nbisse.ru/'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('depilOK.png',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 DepiLOK 
      %p{:align => 'left'}Представляемый бренд: Depil»OK (Испания).
      %p{:align => 'left'}Испанская компания DepiLOK предлагает полный спектр продукции для проведения процедур восковой депиляции и парафинотерапии. 
      %p{:align => 'left'}Воски DepilOK имеют температуру плавления, близкую к температуре тела человека, поэтому позволяют проводить высококачественного сырья (Braziliancolophonium, пчелиный воск) гарантирует эффективность и экономичность процедуры депиляции, т.к. позволяют наносить воск более тонким слоем.
      %p{:align => 'left'}Прозрачный корпус роликовых картриджей наглядно демонстрирует чистоту и качество используемых ингредиентов. Приборы для нагревания парафина и восков оснащены высокоточными термостатами, позволяющими стабильно поддерживать необходимую температуру плавления.
      %p{:align => 'left'}Мы так же предлагаем новейшие косметические средства для пред- и постдепиляционного ухода: аквамуссы, лосьоны и ампулы, замедляющие рост волос после депиляции. 
      =link_to ''

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('Depilflax.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Depilflax 
      %p{:align => 'left'} Depilflax (Испания).
      %p{:align => 'left'}Depilflax – крупный испанский производитель косметической продукции для профессионального и домашнего использования.  
      %p{:align => 'left'} В ассортименте компании воски для депиляции, специальная косметика для ухода за кожей после удаления нежелательных волос, продукция для модного среди посетителей салонов бикини-дизайна и создания био-тату, а также специальные косметические средства для парафинотерапии, включая и сам парафин. 
      %p{:align => 'left'}Прежде всего, мы предлагаем вам продукцию для депиляции – горячие воски в картриджах, брикетах и банках, а также специальную косметику для ухода до процедур и после, которая позволяет свести к минимуму дискомфорт клиента и сократить количество депиляций. Доступная цена, высокий уровень качества восков и широкий ассортимент помогут вам без труда приобрести все необходимое для проведения сеансов.
      %p{:align => 'left'}Производитель косметики Depilflax - испанская компания "Maystar S.L.", специализирующаяся в изготовлении и продаже косметики и продуктов депиляции для профессионалов. Компания имеет более чем 25 лет опыта работы в данном секторе. В настоящее время она присутствует более чем 65 странах. Компания занимает превосходное положение на таких рынках как: Германия, США, Россия, Китай и Австралия. В своем происхождении, компания Maystar, была предшественником в создании системы Roll-On в депиляции, что имело огромное значение и определило быстрое развитие для всего сектора косметологии. В настоящее время, Maystar – одна из самых крупных изготовителей воска в мире. В то же самое время, Maystar производит и реализует свою косметическую линию. Это высококачественные продукты для лица и тела. MAYSTAR имеет собственную лабораторию с последними технологиями. Это систематически позволяет включать новые продукты для косметологии и депиляции, согласно тенденциям рынка. Maystar характеризует, высокое качество и разнообразие продуктов, является престижной маркой на национальном и международном рынке красоты. 
      =link_to ''

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('HINOKI Clinical.gif',  :class => 'img-rounded', height: "174", width: "200") 
    .span9.black{:background => 'darkGreen'}    
      %h4 HINOKI Clinical 
      %p{:align => 'left'} Лечебная косметика — красота, дарованная природой.
      %p{:align => 'left'}Ваши волосы и кожа требуют ухода в любом возрасте и в любое время года. При этом особенно важно, чтобы косметические средства не только делали вас привлекательными, но и заботились о здоровье, обеспечивая положительный эффект на клеточном уровне. Такое под силу только высоким технологиям в области медицины и косметологии, которые легли в основу создания профессиональной косметики из Японии.
      %p{:align => 'left'} Японская космецевтика (лечебная косметика) сегодня представлена серией продукции HINOKI Clinical,основным компонентом которой является хиноктиол — вытяжка из кипарисового масла. Натуральная косметика показывает превосходные результаты в лечении сухости кожи, снижает проявление воспалительных процессов, способствует нормализации клеточной деятельности. И это только начало. 
      %p{:align => 'left'} Косметика Японии — выбор профессионалов
      %p{:align => 'left'}Что понимают под словосочетанием профессиональная косметика? Это уникальные в своем роде парафармацевтические препараты, которые служат для интенсивной коррекции разного рода эстетических недостатков.
      %p{:align => 'left'}Натуральная косметика HINOKI Clinical борется с проблемами кожи на клеточном уровне благодаря эффективному воздействию хиноктиола — очень редкого в органическом мире соединения, которому под силу проникать глубоко в кожу и регулировать процессы регенерации и формирования новых клеток. Это значит, что японская косметика способна оказывать восстанавливающий и вместе с тем омолаживающий эффект.
      %p{:align => 'left'}Профессиональная косметика для лица, а также профессиональная косметика для волос HINOKI Clinical — это уникальная формула красоты и здоровья ваших волос и кожи.
      %p{:align => 'left'}Запатентованное компанией-производителем марки HINOKI Clinical вещество хиноктиол получают из масла священного для японцев дерева — кипариса. Один только запах его оказывает благоприятное воздействие на нервную систему, и еще с древних времен в Японии обратили внимание на его целебные для кожи свойства. Японцы с успехом используют кипарис во многих сферах жизнедеятельности: в косметологии, медицине, пищевой промышленности, производстве традиционных деревянных купален о-фуро.
      %p{:align => 'left'}Но со времени открытия в 1936 г. в кипарисовом масле особого вещества — хиноктиола, для японской космецевтики началась новая эра. Косметика для лица, равно как и для волос марки HINOKI Clinical, очень быстро приобрела популярность среди ценителей подлинного качества и эффективности от 16 до 70 лет.
      %p{:align => 'left'}И в этом нет ничего удивительного. С помощью HINOKI Clinical можно всегда выглядеть свежо, молодо и привлекательно. Отбеливающий эффект — важное преимущество косметики HINOKI Clinical для обладательниц веснушек и нежелательных пигментных пятен.
      %p{:align => 'left'}Косметика из Японии проходит строгий дерматологический контроль, что позволяет ей гарантировать отменный результат для любого возраста и типа кожи. Кроме того, натуральная косметика HINOKI Clinical предлагает новые эффективные возможности по уходу за атопичной кожей и профилактике атопического дерматита.
      %p{:align => 'left'}HINOKI Clinical — отзывы об эффективности применения которой мы всё чаще получаем от наших постоянных клиентов. Мы являемся официальными дистрибьюторами в России японской компании HINOKI Shinyaku, выпускающей лечебную косметику HINOKI Clinical, и поэтому предлагаем своим партнерам наиболее выгодные условия для сотрудничества.
      %p{:align => 'left'}атуральная косметика — ваш первый шаг на пути к красоте, перед которой бессильно даже время!
      =link_to ''

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('Charme-d-Orient.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Charme d'Orient 
      %p{:align => 'left'} Charme d'Orient – французская марка элитной косметики по уходу за телом. 
      %p{:align => 'left'}Её основала уроженка Алжира Yasmina Zerroug. Она сумела превратить посещение салона в настоящий ритуал красоты, подарить традиционным косметическим процедурам чувственное обаяние. «Очарование Востока» – именно так в переводе с французского называется косметика Charme d'Orient. 
      %p{:align => 'left'} Одноименное название имеет также книжный бестселлер Yasmina Zerroug, в котором создательница марки рассказывает об искусстве хаммам – тысячелетней восточной практике очищения тела в бане. Большинство продуктов в ассортименте косметики Шарм де Ориент призваны превратить поход в сауну в настоящее чувственное приключение. Впрочем, место для роскошных снадобий Charme d'Orient найдётся и в рамках городской ванны.
      %p{:align => 'left'}Первый косметический продукт по старинному восточному рецепту Yasmina Zerroug создала на собственной кухне, тоскуя по Родине и домашним походам в хаммам. Ею стала паста для эпиляции из варёного мёда и лимонного сока. Она превосходно удаляла лишние волоски и при этом снабжала кожу полезными витаминами и энзимами. Отзывы о Charme d'Orient, вернее о дебютном продукте марке – чудо пасте – были настолько восторженными, что Ясмин пришлось сварить для подружек и подружек её подружек ни много, ни мало, а 400 кг.
      %p{:align => 'left'} И уже в скором времени маленький бизнес предприимчивой девушки обрёл промышленные масштабы. В ассортименте новой марки Charme d'Orient появились ароматные масла для ванн и массажа, пилинги для тела на основе квасцового камня и растительных экстрактов, разные виды увлажняющего молочка, гели для душа и целые наборы косметических средств для хаммама.
      %p{:align => 'left'}Традиционными компонентами косметических продуктов Charme d'Orient стали любимые фрукты, травы, масла, пряности восточных красавиц: гранат, кумин, инжир, хна, мёд, жасмин, арган, карите и т.д. Роскошный изысканный уход, предложенный маркой, по достоинству оценили француженки, а затем уже и женщины всего мира. 
      %p{:align => 'left'}Сегодня косметику Charme d'Orient купить можно по всей Европе. Бьюти-новинки из её ассортимента неоднократно были названы лучшими инновациями года по версии французской престижной премии Les Nouvelles Esthétiques. 
      %p{:align => 'left'}Хотите узнать, что такое настоящий хаммам? Купите Charme d'Orient – косметику, что отражает душу Востока. Она подарит Вашему телу красоту и невероятное ощущение расслабления.
      =link_to ''

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag(' alessandro.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 alessandro 
      %p{:align => 'left'} Часто глаза говорят намного больше, чем слова. Профессиональное удлинение ресниц добавит им выразительности.
      %p{:align => 'left'}Компания alessandro предлагает Вам новое выгодное направление бизнеса, основанное на модной тенденции Голливуда – профессиональном наращивании ресниц! 
      %p{:align => 'left'} Система Great Lashes – искусственные ресницы высокого качества, которые приклеиваются к натуральным ресницам, удлиняя их и добавляя густоты. Общее количество ресниц, которое Вы сможете добавить, зависит от желаемого эффекта. При правильном обращении результат сохранится до 8 недель. 
      %p{:align => 'left'}Линия Great Lashes уже завоевала сердца модниц всего мира, ведь длинные и густые ресницы от alessandro создают особый «манящий», невероятно привлекательный взгляд.
      %p{:align => 'left'} Компания alessandro International была основана Сильвией Троска в 1989 году. Признание на профессиональном рынке продукция получила благодаря инновационной технологии – использование UV-отверждаемых гелей для наращивания и моделирования ногтей. С тех пор каждый год компания выпускает  как минимум один новый продукт, каждый из которых получает всемирную известность, поэтому доверие к бренду продолжает расти. Для команды alessandro очень важно оставаться в постоянном поиске инноваций, компания неизменно подтверждает свой статус профессионалов и всегда предлагает своим клиентам только лучшие и актуальные продукты и тенденции. Продукты alessandro International трижды становились обладателем премии Beauty Awards - самой престижной премии в мировой индустрии красоты.
      %p{:align => 'left'}Основное преимущество alessandro - гармоничное сочетание высокого качества, самых современных технологий и большого выбора косметической продукции. Компания предлагает свыше 1000 наименований различных продуктов для салонных процедур, таких как SPA-маникюр, покрытие ногтей UV-отверждаемыми  лак-гелями, детокс-процедуры и велнесс–уход.
      %p{:align => 'left'}Компания alessandro international непрерывно совершенствует формулы и ассортимент предлагаемой продукции  и всегда использует только инновационныерешения, что позволяет ей сохранять лидирующую позицию на европейском рынке профессиональных средств для маникюра. 
      =link_to ''

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('aravia.png',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 «Аравия» 
      %p{:align => 'left'} Компания «Аравия» - крупнейший российский производитель профессиональной косметики.
      %p{:align => 'left'}Специалисты лаборатории «Аравия» совместно с ведущими косметологами разработали и создали уникальную линейку косметических средств для проведения качественной и безболезненной процедуры депиляции и продуктов по уходу за кожей.
      %p{:align => 'left'} - В состав всех косметических средств входят только натуральные активные компоненты, полученные из экстрактов растений, эфирных масел, витамины и аминокислоты, все продукты отлично подходят и дополняют друг друга, обеспечивая бережный уход и заботу о Вашей коже. 
      %p{:align => 'left'}- Эффективность продукции подтверждена как при специальных испытаниях в клинических и научных центрах, так и многолетним опытом её применения в профессиональных салонах красоты.
      %p{:align => 'left'}- Косметические средства гигиеничны и безопасны, продукция сертифицирована в соответствии с международными стандартами, имеет Сертификаты качества и Декларации соответствия.
      %p{:align => 'left'}Специалисты компании постоянно работают над созданием новых уникальных формул и технологий, чтобы предложить нашим клиентам самое лучшее. Постоянный научный поиск и обновление ассортимента выпускаемой продукции позволяет занимать лидирующие позиции среди средств профессиональной косметики для SPA-депиляции.
      %p{:align => 'left'} Продукция компания «Аравия» выпускается в двух направлениях:
      %p{:align => 'left'}Профессиональные косметические средства для салонов красоты
      %p{:align => 'left'}- Комплексная система SPA –депиляции сахарной пастой (Шугаринга) пользуется популярностью среди профессионалов и включает в себя: средства для очищения и подготовки кожи, широкий ассортимент сахарных паст для шугаринга, косметические средства для комплексного и специального ухода за кожей после процедуры депиляции;
      %p{:align => 'left'}- Косметические средства для проведения процедуры парафинотерапии, включают в себя: несколько видов косметических парафинов, холодный крем-парафин, а так же средства ухода за кожей, необходимые для проведения процедуры;
      %p{:align => 'left'}- Косметические средства для домашнего ухода за кожей, необходимые для обеспечения и поддержания длительного эффекта после проведения процедуры в салоне.
      %p{:align => 'left'}Косметические средства для проведения шугаринга в домашних условиях


  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('Margo.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.black{:background => 'darkGreen'}    
      %h4 Margo 
      %p{:align => 'left'} Margo 
      %p{:align => 'left'} 
      %p{:align => 'left'} 
      %p{:align => 'left'}
      %p{:align => 'left'} 
      %p{:align => 'left'} 
      %p{:align => 'left'}
      %p{:align => 'left'}
      =link_to ''
