.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Косметология
  %hr    
    = image_tag('cosmic.png',  :class => 'img-rounded', height: "200", width: "745", :align => 'center')
    %br
    %br
    %br
  %table.white{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Цена, руб.
    %tr
      %td 1
      %td Демакияж
      %td 200
    %tr
      %td 2
      %td Массаж лица косметический (зона декольте, воротниковая зона)
      %td 1000-1200
    %tr
      %td 3
      %td Массаж Кабидо
      %td 1600-1700
    %tr
      %td 4
      %td Лечебный массаж по схеме профессора А.И. Поспелова
      %td 600-800
    %tr
      %td 5
      %td Корректирующий массаж Шиацу по оригинальной методике HINOKI CLINICAL 
      %td 800
    %tr
      %td 6
      %td	Миопластический лимфодренажный массаж лица
      %td 1400
    %tr
      %td 7
      %td Массаж пластический с маской
      %td 1700-2000
    %tr
      %td 8
      %td Лечебный массаж по Жаке
      %td 600-800
    %tr
      %td 9
      %td Эксфолиация
      %td 300-400
    %tr
      %td 10
      %td Атравматическая чистка лица (прохладное гидрирование)  (Может использоваться как программа "ежемесячный уход")
      %td 1200-1500
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - гидрирование/эксфолиация
    %tr
      %td
      %td - очищение пор механическое
    %tr
      %td
      %td - маска восстанавливающая по типу кожи
    %tr
      %td
      %td - крем защитный
    %tr
      %td 11
      %td Очищение проблемной и подростковой кожи с проявлениями акне (Может использоваться после чистки 2 раза в неделю до улучшения состояния кожи.)
      %td 1200-1800
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - размягчение верхнего слоя
    %tr
      %td
      %td - очищение пор механическое
    %tr
      %td
      %td - обработка локальных повреждений
    %tr
      %td
      %td - маска поросуживающая
    %tr
      %td
      %td - дарсонвализация
    %tr
      %td
      %td - маска "себо-контроль"
    %tr
      %td
      %td - крем защитный
    %tr
      %td 12
      %td Комплексная процедура ухода по типу кожи (Может использоваться как программа "еженедельный уход")  
      %td 1600-3000
    %tr
      %td
      %td - демакияж
    %tr
      %td
      %td - тонизация
    %tr
      %td
      %td - гидрирование/эксфолиация
    %tr
      %td
      %td - массаж
    %tr
      %td
      %td - концентрат/сыворотка
    %tr
      %td
      %td - маска
    %tr
      %td
      %td - крем защитный
    %tr
      %td 13
      %td Удаление милиумов кол-во
      %td 50
    %tr
      %td 14
      %td Маска по типу кожи: 
      %td 400-700
    %tr
      %td
      %td - увлажнение
    %tr
      %td
      %td - питание
    %tr
      %td
      %td - отбеливание
    %tr
      %td
      %td - лифтинг
    %tr
      %td
      %td - анти-стресс
    %tr
      %td
      %td - коллагеновые
    %tr
      %td 15
      %td Экспресс-маска пластифицирующие  и ампулы (сыворотки) по типу кожи: 
      %td 1000-1400
    %tr
      %td
      %td - лифтинг
    %tr
      %td
      %td - насыщение кислородом
    %tr
      %td 16
      %td Программа "Гипсовый моделляж" на основе термоактивной гипсовой маски
      %td 1400-1600
    %tr
      %td 17
      %td Абсорбирующая, очищающая (широкие поры, комедоны)
      %td 800
    %tr
      %td 18
      %td  	Концентрат, ампулы по типу кожи
      %td 300-500
    %tr
      %td 19
      %td Химический пилинг
      %td 2500-3200
    %tr
      %td 20
      %td Коррекция бровей
      %td 200-250
    %tr
      %td 21
      %td Окраска ресниц
      %td 200-250
    %tr
      %td 22
      %td Окраска бровей
      %td 150-200
    %tr
      %td 23
      %td Дарсонваль
      %td 300-400
    %tr
      %td 24
      %td Ультрозвуковая чистка
      %td 800
    %tr
      %td 25
      %td	Парафинотерапия (кисти рук)
      %td 400-600
    %tr
      %td 26
      %td Депиляция воск: 
      %td 
    %tr
      %td
      %td - верхняя губа
      %td 150-250  
    %tr
      %td
      %td - подбородок
      %td 200-300  
    %tr
      %td
      %td - руки полностью
      %td 500-800  
    %tr
      %td
      %td - руки до локтя
      %td 300-500  
    %tr
      %td
      %td - кисти рук
      %td 250-300  
    %tr
      %td
      %td - подмышечная область
      %td 250-450  
    %tr
      %td
      %td - ноги полностью
      %td 900-1100  
    %tr
      %td
      %td - ноги до колена
      %td 450-550  
    %tr
      %td
      %td - пальцы ног
      %td 100-150  
    %tr
      %td
      %td - бикини не глубокое
      %td 800  
    %tr
      %td
      %td - бикини глубокое
      %td 1100-1300  
    %tr
      %td 26
      %td	Парафинотерапия (кисти рук)
      %td 400-600
    %tr
      %td 26
      %td Депиляция шугаринг: 
      %td 
    %tr
      %td
      %td - верхняя губа
      %td 150-250  
    %tr
      %td
      %td - руки полностью
      %td 700  
    %tr
      %td
      %td - руки до локтя
      %td 400-500  
    %tr
      %td
      %td - подмышечная область
      %td 400-500  
    %tr
      %td
      %td - ноги полностью
      %td 1500-1800  
    %tr
      %td
      %td - ноги до колена
      %td 700  
    %tr
      %td
      %td - пальцы ног
      %td 150  
    %tr
      %td
      %td - живот
      %td 300-500  
    %tr
      %td
      %td - бикини не глубокое
      %td 500-800  
    %tr
      %td
      %td - бикини глубокое
      %td 1100-1300 
    %tr
      %td 27
      %td Перманентный макияж
      %td 
    %tr
      %td
      %td Брови (коррекция бесплатно)
      %td 6000  
    %tr
      %td
      %td Губы (контур)
      %td 6000  
    %tr
      %td
      %td Губы (с тушовкой)
      %td 7000  
    %tr
      %td
      %td Глаза (стрелки)
      %td 5000  
    %tr
      %td
      %td Мушка
      %td 1000  
    %tr
      %td 28
      %td Наращивание ресниц
      %td 
    %tr
      %td
      %td Поштучное наращивание ресниц
      %td 2000  
    %tr
      %td
      %td Поштучное наращивание ресниц (уголки)
      %td 1000  
    %tr
      %td
      %td Химическая завивка ресниц
      %td 2000  
    %tr
      %td
      %td Наращивание пучками 1 пучок
      %td 30  
    %tr
      %td 29
      %td Бикини дизайн
      %td от 300
 
    %br
  %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")  
    %br
  %br

         
