.masthead
  %h2.orange{:align => 'center'} КОСМЕТИКА

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('anna_lotan.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.white{:background => 'darkGreen'}    
      %h4 Anna Lotan Professional Skin Care Products
      %p{:align => 'left'}     "Anna Lotan" ведущая биокосмецевтическая лаборатория Израиля, известная в мире благодаря основательным научным и патентным разработкам.
      %p{:align => 'left'}Профессиональный уход за кожей во всем мире
      %p{:align => 'left'} Анна Лотан - ученый с мировым именем, основатель школы косметологии Израиля, ведущий эксперт в области косметологии, косметической химии, биологии, обладатель множества патентов на уникальные косметический препараты, автор всемирно известных методик лечения проблемных состояний кожи, такие как акне, себорея, купероз и др. В профессиональных кругах Анна Лотан широко известна как автор уникальной методики "Прохладногогидрирования". Колоссальный опыт более 50 лет и профессионализм Анны Лотан позволили создать одну из самых известных салонных марок.
      =link_to '(http://profcosm.ru/anna-lotan.html)', 'http://profcosm.ru/anna-lotan.html'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('thalasso_bretagne.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.white{:background => 'darkGreen'}    
      %h4 Thalasso Bretagne
      %p{:align => 'left'}Thalasso Bretagne - опыт и передовые технологии
      %p{:align => 'left'} Бережное отношение к природе, использование высоких технологий и последних научных открытий позволили косметической продукции Thalasso Bretagne раскрыть уникальные возможности моря, дарить человеку здоровье, молодость, красоту.
      %p{:align => 'left'}Талассотерапия способна влиять на ключевые физиологические процессы организма человека, нормализуя их, что в буквальном смысле способно тормозить процессы старения и поворачивать время вспять.
      %p{:align => 'left'}Профессиональная косметическая марка Thalasso Bretagne (завод Bretagne Cosmetique Marins, Франция) представляет более 100 эффективных уходов по телу и лицу: соединяет в себе целебное действие водорослей и морской воды с новейшими технологиями, позволяющими получить наиболее интересные результаты по оздоровлению, коррекции силуэта и омоложению организма: действует в таких направлениях, как: талассо-, альго-, бальнео-, фанготерапия.
      =link_to '(http://www.thalassobretagne.com.ua/)', 'http://www.thalassobretagne.com.ua/'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('styx2.jpeg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.white{:background => 'darkGreen'}    
      %h4 STYX NATURCOSMETIC
      %p{:align => 'left'}«жизнь меняется, ароматы вечны» - эти слова начертаны над входом в фамильное поместье Stix. Фамилия австрийских фармакологов и промышленников Stix уже много десятилетий несет концепцию химической непорочности старинной природной косметики и эфирных масел. Секреты производства косметических средств и ароматов безукоризненного качества передавались в семье Stix из поколения в поколение, так же как и старинные книги по химии, фармакологии, косметологии. Это объясняет уникальность традиций рецептуры и культуры производства компании " Styx naturcosmetics", торговая марка которой, в силу пренебрежительного отношения австрийцев к формализации именных ценностей, была зарегистрирована не очень давно, только к 1975 г. 
      %p{:align => 'left'}Деятельность компании Styx naturcosmetics, не ограничивается только научными разработками рецептуры, лабораторными исследованиями качества сырья, производством косметических средств и эфирных масел. Компания так же отслеживает экологическую ситуацию и особенности урожайности растений, используемых для производства эфирных масел, посещая плантации эфирно-масличных растений во всех частях света.
      %p{:align => 'left'}Все косметические продукты и эфирные масла компании Styx naturcosmetics сертифицированы на самом высоком международном уровне (GMP, ISN) и имеют свидетельства о биологически чистых плантациях, на которых выращиваются растения без употребления химических удобрений, пестицидов и гербицидов.
      %p{:align => 'left', :'font-style' => 'strong'}Ароматы Styx - это чистота гармонии земли, воздуха, воды и огня
      =link_to '(http://www.styx-cosmetics.ru/)', 'http://www.styx-cosmetics.ru/'

  .container{:align => 'center'}
    %hr
    .span3
      %br
      %br
      =image_tag('natura_bisse.jpg',  :class => 'img-rounded', height: "174", width: "255") 
    .span9.white{:background => 'darkGreen'}    
      %h4 Natura Bisse
      %p{:align => 'left'}Natura Bisse – элитная профессиональная косметика для салонов красоты нового поколения
      %p{:align => 'left'}Профессиональная салонная косметика NATURA BISSE занимает одно из лидирующих мест среди лучших профессиональных косметических линий класса «люкс» по уходу за кожей лица и тела для салонного и домашнего применения. 
      %p{:align => 'left'}Подводя итоги более чем 30-летнего опыта, испанский дом уверенно демонстрирует успешность и признание профессиональной косметики NATURA BISSE по всему миру, включая склонную к инновациям Америку, консервативную Японию и непредсказуемую Россию.
      %p{:align => 'left'}Доказательством высокого качества салонной косметики NATURA BISSE служит любовь мировых звезд, таких как Мадонна, Шарон Стоун, Гвинет Пэлтроу, Кейт Мосс, Джулия Робертс и Сара Джессика Паркер. С 2005 года Natura Bisse принимает участие в награждении премией Оскар, балуя знаменитых гостей роскошными косметологическими процедурами.
      %p{:align => 'left'}Возможно, Вам потребуется время, чтобы «понять» косметику для салонов NATURA BISSE, но, поверьте, узнав ее ближе, Вы останетесь с ней на многие годы!
      =link_to '(http://nbisse.ru/)', 'http://nbisse.ru/'

