.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2.OrangeRed{:align => 'center'} ДОКУМЕНТЫ
    %br
    %br
    %br
    %br
  .container{:align => 'center'}
    %hr
    %br
    =image_tag('license.jpg',  :class => 'img-rounded', height: "174", width: "600") 
    %br 



  .container{:align => 'center'}
    %hr
    %br
    =image_tag('rospotreb.jpg',  :class => 'img-rounded', height: "174", width: "550") 
    =image_tag('ses.jpg',  :class => 'img-rounded', height: "174", width: "550") 

