.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr', :align => 'center'} ОБУЧЕНИЕ
  %hr    
    %h4.italic.OrangeRed{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    %h3.red обучение проводит 
    %h2.red Бычик Виолетта Вячеславовна
    %br
    %h3.black Руководитель центра "Виэль", преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г. 
    %h3.italic.black Стаж работы 20 лет.
    %br
    //= image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    //= image_tag('massage.jpg',  :class => 'img-rounded', height: "233", width: "307")
    %br

    %br
    %h3.red.italic 
 
    %table.fon_table{:cellpadding=> '5px 20px'}

      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")
      %tr  
        %col{:width=>"150", :valign=>"top"}
        %col{:width=>"600", :valign=>"top"}
        %td
          = image_tag('action3.jpeg',  :class => 'img-rounded', height: "100", width: "150")        
        %td.h2.red.italic.strong{:align => 'center'}
          %br
          ОБУЧЕНИЕ!!!
          %br
          %br


      %tr

        %td.black{:colspan=>"2", :align => 'center'}
          Обучение длится 1 день.         
          %br
          Все методики проходят с 10:00 до 17:00
          %br
          %br
            Обучение проводит Призер VII Чемпионата России по массажу 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г." Бычик Виолетта Вячеславовна.
          %br
            Спешите! Количество мест ограничено!
          %br
            Запись по телефону 8-938-429-23-28
          %br
            P.S. По окончанию обучения выдается сертификат!
      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")



  %table.black{:border => "3", :cellpadding=>"5", :'border-radius'=> '10px'}
    %tr
      %th Массажные методики
      %th Дата
      %th Время
      %th Кол-во дней
      %th Сумма, руб.
      %th Преподаватель
    %tr

      %td.strong{:align => 'center'} ЯНВАРЬ
    %tr
      %td Лимфодренажный массаж тела
      %td{:align => 'center'} 14.01.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гречишный массаж
      %td{:align => 'center'} 16.01.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Постизометрическая миорелаксация мышц тела (ПИРМ) 
      %td{:align => 'center'} 20.01.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж тела 
      %td{:align => 'center'} 27.01.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела 
      %td{:align => 'center'} 29.01.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr

      %td.strong{:align => 'center'} ФЕВРАЛЬ
    %tr
      %td Французский  мануальный висцеральный массаж
      %td{:align => 'center'} 03.02.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж лица + гимнастика Керрол Мэджио
      %td{:align => 'center'} 12.02.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж тела
      %td{:align => 'center'} 17.02.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гемолимфодренажный массаж тела
      %td{:align => 'center'} 20.02.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr

      %td.strong{:align => 'center'} МАРТ
    %tr
      %td Гречишный массаж
      %td{:align => 'center'} 03.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела
      %td{:align => 'center'} 12.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гемолимфодренажный массаж тела
      %td{:align => 'center'} 17.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж лица
      %td{:align => 'center'} 20.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж тела
      %td{:align => 'center'} 23.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Французский  мануальный висцеральный массаж
      %td{:align => 'center'} 26.03.2015
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.




    %tr

      %br
    
    %br
  %br
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         

         
