.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr', :align => 'center'} ОБУЧЕНИЕ
  %hr    
    %h4.italic.OrangeRed{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    %h3.red обучение проводит 
    %h2.red Бычик Виолетта Вячеславовна
    %br
    %h3.black Руководитель центра "Виэль", преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г. 
    %h3.italic.black Стаж работы 20 лет.
    %br
    //= image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    //= image_tag('massage.jpg',  :class => 'img-rounded', height: "233", width: "307")
    %br

    %br
    %h3.red.italic 
 
    %table.fon_table{:cellpadding=> '5px 20px'}

      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")
      %tr  
        %col{:width=>"150", :valign=>"top"}
        %col{:width=>"600", :valign=>"top"}
        %td
          = image_tag('action3.jpeg',  :class => 'img-rounded', height: "100", width: "150")        
        %td.h2.red.italic.strong{:align => 'center'}
          %br
          ОБУЧЕНИЕ!!!
          %br
          %br
          15.12.14 "Гречишный массаж тела" - 6 000 руб.
          %br
          %br
          16.12.14 "Миопластический массаж тела" - 5 000 руб.
          %br
          %br
          17.12.14 "Китайский точечный массаж", "Постизометрическая миорелаксация мышц тела (ПИРМ)" - 5 000 руб

      %tr

        %td.black{:colspan=>"2", :align => 'center'}
          Обучение длится 1 день.         
          %br
          Все методики проходят с 10:00 до 17:00
          %br
          %br
            Обучение проводит Призер VII Чемпионата России по массажу 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г." Бычик Виолетта Вячеславовна.
          %br
            Спешите! Количество мест ограничено!
          %br
            Запись по телефону 8-938-429-23-28
          %br
            P.S. По окончанию обучения выдается сертификат!
      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")



  %table.black{:border => "3", :cellpadding=>"5", :'border-radius'=> '10px'}
    %tr
      %th Массажные методики
      %th Дата
      %th Время
      %th Кол-во дней
      %th Сумма, руб.
      %th Преподаватель
    %tr

      %td.strong{:align => 'center'} НОЯБРЬ
    %tr
      %td Постизометрия мышц (ПИРМ) лица + гимнастика Кэрол Мадджио
      %td{:align => 'center'} 22.11-23.11.14
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела.
      %td{:align => 'center'} 25.11.14
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Детский массаж (до года) - Гипертонус, кривошея, дисплазия, косолапость, плоскостопие.
      %td{:align => 'center'} 29.11-30.11.14
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.
    %tr

      %td.strong{:align => 'center'} ДЕКАБРЬ
    %tr
      %td Лимфодренажный массаж тела
      %td{:align => 'center'} 03.12.2014
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гречишный массаж
      %td{:align => 'center'} 07.12-08.12.2014
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Детский массаж (до года) - Гипертонус, кривошея, дисплазия, косолапость, плоскостопие.
      %td{:align => 'center'} 12.12-13.12.2014
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гемолимфодренажный массаж тела
      %td{:align => 'center'} 16.12.14
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела
      %td{:align => 'center'} 19.12.2014
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 5 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гречишный массаж
      %td{:align => 'center'} 22.12-23.12.2014
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Постизометрия мышц (ПИРМ) лица + гимнастика Кэрол Мадджио
      %td{:align => 'center'} 26.12-27.12.14
      %td{:align => 'center'} 10:00-17:00
      %td{:align => 'center'} 2 дня
      %td{:align => 'center'} 8 000
      %td{:align => 'center'} Бычик В.В.




    %tr

      %br
    
    %br
  %br
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         

         
