.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr', :align => 'center'} ОБУЧЕНИЕ
  %hr    
    %h4.italic.OrangeRed{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    %h3.red обучение проводит 
    %h2.red Бычик Виолетта Вячеславовна
    %br
    %h3.black Руководитель центра "Виэль", преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г. 
    %h3.italic.black Стаж работы 20 лет.
    %br
    //= image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    //= image_tag('massage.jpg',  :class => 'img-rounded', height: "233", width: "307")
    %br

    %br
    %h3.red.italic 
 
    %table.fon_table{:cellpadding=> '5px 20px'}

      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")
      %tr  
        %col{:width=>"150", :valign=>"top"}
        %col{:width=>"600", :valign=>"top"}
        %td
          = image_tag('action3.jpeg',  :class => 'img-rounded', height: "100", width: "150")        
        %td.h2.red.italic.strong{:align => 'center'}
          %br
          ОБУЧЕНИЕ!!!
          %br
          %br


      %tr

        %td.black{:colspan=>"2", :align => 'center'}
          %br
            Обучение проводит Призер VII Чемпионата России по массажу 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г." Бычик Виолетта Вячеславовна.
          %br
            Спешите! Количество мест ограничено!
          %br
            Запись по телефону 8-938-429-23-28
          %br
            P.S. По окончанию обучения выдается сертификат!
      %tr
        %td{:colspan=>"2", :align => 'center', :bgcolor=>'red'}
          = image_tag('',  :class => 'img-rounded', height: "50", width: "400")



  %table.black{:border => "3", :cellpadding=>"5", :'border-radius'=> '10px'}
    %tr
      %th Массажные методики
      %th Дата
      %th Время
      %th Кол-во дней
      %th Сумма, руб.
      %th Преподаватель
    %tr


    %tr
      %td.strong{:align => 'center'} ИЮНЬ
    %tr
      %td Релаксационный массаж стоп
      %td{:align => 'center'} 02.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Постизометрия мышц лица
      %td{:align => 'center'} 05.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела
      %td{:align => 'center'} 10.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Французская мануальная техника (живот)
      %td{:align => 'center'} 15.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Гемолимфодренажный массаж тела
      %td{:align => 'center'} 18.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Лечебный массаж спины (пресс-роллинг, дип тишью, магнитотерапия)
      %td{:align => 'center'} 23.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Обертывания (горячее, холодное, бандажное пелинание, термо-одеяло)
      %td{:align => 'center'} 26.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Оздоровительный детский массаж (до 1 года)
      %td{:align => 'center'} 30.06.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.


    %tr
      %td.strong{:align => 'center'} ИЮЛЬ
    %tr
      %td Гречишный массаж
      %td{:align => 'center'} 02.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 7 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж тела
      %td{:align => 'center'} 06.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Антицеллюлитный массаж тела
      %td{:align => 'center'} 08.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Французская мануальная техника (живот)
      %td{:align => 'center'} 10.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Миопластический массаж лица
      %td{:align => 'center'} 13.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Релаксационный массаж стоп
      %td{:align => 'center'} 20.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Постизометрическая миорелаксация мышц тела
      %td{:align => 'center'} 22.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Концепт-уход "Клеопатра" (тело+лицо)
      %td{:align => 'center'} 24.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Лечебный массаж спины (пресс-роллинг, дип тишью, магнитотерапия)
      %td{:align => 'center'} 27.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.
    %tr
      %td Лимфодренажный массаж тела
      %td{:align => 'center'} 29.07.2015
      %td{:align => 'center'} 10:00-18:00
      %td{:align => 'center'} 1 день
      %td{:align => 'center'} 6 000
      %td{:align => 'center'} Бычик В.В.

    %tr

      %br
    
    %br
  %br
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         

         
