.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Обучение
  %hr    
    %address
    %h4.white
      .span3.offset2{:'font-family' => 'font-centr', :align => 'left'}
        %strong Адрес:
        Краснодар, Бульвар Платановый, 4
        %br
        %strong <abbr title="Email">e-mail:</abbr>
        = mail_to 'viel-centr@rambler.ru', 'viel-centr@rambler.ru', {:subject => '"Виэль", центр красоты и здоровья'}
        %br
        %strong <abbr title="Телефон">тел.:</abbr> +7 (938) 429-23-28
        %br
        %strong <abbr title="Web-адрес">Web-адрес:</abbr>
        http://www.viel-centr.ru/,
        http://www.vielcentr.ru/

      %br
    
    %br
  %br

         
