.masthead

  .span3.orange 
    %h3.page-header
      Отзывы
    %address
    %h4.white
      %strong Адрес:
      Краснодар, Бульвар Платановый, 4
      %br
      %strong <abbr title="Email">e-mail:</abbr>
      = mail_to 'viel-centr@rambler.ru', 'viel-centr@rambler.ru', {:subject => '"Виэль", центр красоты и здоровья'}
      %br
      %strong <abbr title="Телефон">тел.:</abbr> +7 (938) 429-23-28
      %br
      %strong <abbr title="Web-адрес">Web-адрес:</abbr>
      http://www.viel-centr.ru/,
      http://www.vielcentr.ru/


      %br
      %br 
      %br
      %br
      %br
      %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






