.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Галерея
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Наверное, нет и не было в мире, начиная с древних и до наших времен, более популярного метода оздоровления, чем массаж".
    %br
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    #slideshow1{:class=> "sliders"}
      .active-slide slide hello
      .slide world
      .slide again
