.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h3{:'font-family' => 'font-centr'} 
      =link_to 'Подарочные сертификаты', gift_certificate_viel_index_path


    %br
      %a{:href=>"#myModal", :role=>"button", :class=>"btn btn-large btn-primary", :'data-toggle'=>"modal", :align => 'right'}Заказать сертификат
 
      <!-- Modal -->
      #myModal.OrangeRed{:class=>"modal hide fade", :tabindex=>"-1", :role=>"dialog", :'aria-labelledby'=>"myModalLabel", :'aria-hidden'=>"true", :method => 'post', :action => 'mailto:nefochka@gmail.ru'}
        .modal-header
          .button{:type=>"button", :class=>"close", :'data-dismiss'=>"modal", :'aria-hidden'=>"true"}×
        %h3 
          #myModalLabel Заказ подарочного сертификата
        .modal-body
          %h8.italic Минимальная сумма доставляемых сертификатов — от 5000 руб. Доставка бесплатная. Вы всегда можете приобрести подарочный сертификат на меньшую сумму у нас в спа-центре. 
          %br
          %br
  
          -# блок для имени
          .control-group
            %label.control-label-order{:for => 'name', :'font-size' => 'large'} Имя*:
            .controls
              %input{:type => 'text', :name => 'name', :placeholder => 'имя', :required => 'Ваше имя'}

          -# блок для телефона
          .control-group
            %label.control-label-order{:for => 'phone'} Контактный телефон*:
            .controls
              %input{:type => 'text', :name => 'phone', :placeholder => 'контактный телефон', :required => 'Ваш телефон'}

          -# блок для времени звонка
          .control-group
            %label.control-label-order{:for => 'time'} В какое время Вам лучше позвонить?
            .controls
              %textarea{:type => 'text', :name => 'time', :placeholder => 'время для звонка'}

          -# блок для e-mail
          .control-group
            %label.control-label-order-1{:for => 'email'} Введите Ваш e-mail:
          .controls
            %input{:type => 'text', :name => 'email', :placeholder => 'e-mail'}

          %h8.italic ВНИМАНИЕ! Поля, помеченные *, обязательны для заполнения

        .modal-footer
          .button.btn{:'data-dismiss'=>"modal", :'aria-hidden'=>"true"}Закрыть
          .button.btn.btn-primary{:type => 'submit'} Отправить заказ


  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} Каждый раз в преддверии праздников, дней рождений, юбилеев, корпоративных торжеств Вы задаетесь одним и тем же вопросом: Чтобы такое подарить, чтобы Ваш подарок запомнился, стал действительно дорогим, пришелся по вкусу? Подарите своим друзьям и любимым, родственникам и бизнес партнерам нечто оригинальное: подарите им наслаждение, таинства ритуалов красоты, подарите ощущение физической и духовной гармонии. Поверьте, такой подарок станет особенным и запомнится надолго.
    %br
    %p.italic.white{:'font-family' => 'font-centr'} Центр красоты и здоровья "Виэль" предлагает Вам воспользоваться системой подарочных сертификатов, удовлетворяющей самым изысканным вкусам, пожеланиям и бюджету. Его стильное оформление избавит Вас от необходимости заботиться о достойной упаковке.
    %p.white{:'font-family' => 'font-centr'} Возможна доставка по Краснодару(стоимость доставки зависит от стоимости подарочного сертификата. При заказе сертификата стоимостью свыше 5000 руб. доставка по Краснодару бесплатная).
    
    %h4.white{:'font-family' => 'font-centr', :'font-style' => 'strong'} Подарочные сертификаты могут быть трех видов:
    %h4.white{:'font-family' => 'font-centr', :'font-style' => 'strong'}
      =link_to '1. Программные сертификаты', program_certificates_viel_index_path, data: {'no-turbolink' => true, :'font-family' => 'font_viel_emblema', :align => 'center', :'text-decoration' => 'underline'}
    %p.italic.white{:'font-family' => 'font-centr'} Вы выбираете одну из предложенных нашим центром разработанных СПА программ, которая отвечает критериям пола, возраста, предпочтениям реципиента, а также требованиям бюджета. Предложенные СПА пакеты с красивыми говорящими названиями позволят Вам быстро и безошибочно определиться какой выбрать подарочный сертификат.
    %h4.orange{:'font-family' => 'font-centr', :'font-style' => 'strong'} 2. Индивидуальный сертификат 
    %p.italic.white{:'font-family' => 'font-centr'} - опытные СПА операторы и администраторы центра по Вашему желанию помогут Вам составить индивидуальную СПА программу, отвечающую только Вашим индивидуальным предпочтениям.
    %h4.orange{:'font-family' => 'font-centr', :'font-style' => 'strong'} 3. Денежный сертификат  
    %p.italic.white{:'font-family' => 'font-centr'} Вы указываете определенный денежный эквивалент номиналом не менее 3000 руб., на сумму которого реципиент может воспользоваться любыми услугами нашего центра красоты и здоровья по собственному усмотрению.

    %h4.white{:'font-family' => 'font-centr', :'font-style' => 'strong'}Правила активации:
    %ul.white
      %li Подарочный сертификат действителен в течение трех месяцев с даты продажи, которая указывается на бланке.
      %li При реализации подарочного сертификата общей стоимостью ниже его номинала разница в денежном эквиваленте не компенсируется.
      %li Подарочные сертификаты не подлежат возврату и обмену на денежные средства.
      %li Бронирование времени для прохождения процедур по подарочному сертификату происходит по предварительной записи по контактну телефону центра: +7 (938) 429-23-28, не менее чем за 3-4 дня на будние дни, а на выходные дни - не менее чем за 2-3 недели.
      %li Если по каким-то причинам Вы не можете посетить центр в забронированное по подарочному сертификату время, Администрация центра просит отменять визит не менее чем за 24 часа.
      %li Несвоевременный отказ от забронированного времени прохождения процедур по сертификату ведет к его аннулированию.
      %li Подарочный сертификат в наш центр красоты и здоровья является подтверждением внесения авансового платежа и предоставляет владельцу право пользования услугами в "Виэль" на сумму, эквивалентную номиналу подарочного сертификата в ассортименте и в соответствии с внутренними нормами spa-этикета, предусмотренными "Виэль" (подробнее см. раздел 
      =link_to 'SPA-этикет', spa_etiquette_viel_index_path
      %li Услуги оказываются при предъявлении подарочного сертификата в нашем центре красоты и здоровья. 

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    



