.masthead


  .container-viel2{:align => 'center'}
 

    %h4.italic{:'font-family' => 'font-centr', :align => 'right'} 
      .row{:align => 'center'}
        %h2.OrangeRed{:'font-family' => 'font-centr'} НАШИ НОВОСТИ!!!
        %hr 
        %br
        %br

          =link_to image_tag('open_door.jpg',  :class => 'img-rounded', height: "77", width: "250", :align => 'center'), banner_1_viel_index_path
          %br
            =link_to "ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ!", banner_1_viel_index_path
          %br

        %h2.OrangeRed{:'font-family' => 'font-centr'} НАШИ АКЦИИ!!!
        %hr 
        %br
        .span4        
          =link_to image_tag('learn1.jpg',  :class => 'img-rounded', height: "77", width: "220", :align => 'center'), action_1_viel_index_path
          %br
            =link_to "ОБУЧЕНИЕ!!!", action_1_viel_index_path
          %br
          %br
          =link_to image_tag('friends.jpg',  :class => 'img-rounded', height: "77", width: "230", :align => 'center'), action_2_viel_index_path
          %br
            =link_to "Приведи друга и получи...!!!", action_2_viel_index_path
          %br    

  
          %br
        .span4
          =link_to image_tag('action3.jpeg',  :class => 'img-rounded', height: "77", width: "220", :align => 'center'), action_3_viel_index_path
          %br
            =link_to "У Вас День Рождения?", action_3_viel_index_path
          %br   

          =link_to image_tag('action3.jpeg',  :class => 'img-rounded', height: "77", width: "220", :align => 'center'), action_4_viel_index_path
          %br
            =link_to "Мы дарим Вам подарки!", action_4_viel_index_path
          %br
  %br
  %br  
  %br
 
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")



