.masthead


  .span9{:align => 'center'}
 
    %h3.darkorange.strong
      Центр Здоровья и Красоты «Виэль»  
    %hr
    %h3.red.italic 
      АКЦИИ!!!
    %hr
    %h3.red.italic
      Мы дарим Вам подарки!
      %br
      %h3.white.italic
        
        %br
          При покупке курса массажа или  подарочного сертификата стоимостью 10 000 рублей, выгодная дисконтная карта
        %br
        %h3.orange.strong
          «Мой Город» Вам в ПОДАРОК!!!
      %h3.orange.italic
        Торопитесь, количество карт ограничено!
    %h3.white.strong
      Мы Вас любим!!!

    %hr
    %h3.red.italic 
      У Вас День Рождения?

    %h3.white
      Мы дарим Вам скидку 10% на все наши услуги в этот день и два дня после него!
 
    %hr
    %h3.red.italic 
      Приведи друга и получи...!!!
      %br
      %br
      = image_tag('friends.jpg',  :class => 'img-rounded', height: "100", width: "150")
      %br
      %h3.orange.strong
        Массаж:
      %h3.white.italic
        %li
          1 человека – массаж головы/стоп/шейно-воротниковой зоны
        %br
        %li
          3 человека – массаж спины
        %br
        %li
          5 человек – общий массаж тела
      %h3.orange.strong
        Косметология:
      %h3.white.italic
        %li
          1 человека – коррекция/окрашивание бровей
        %br
        %li
          3 человека – депиляция рук/ноги до колена/подмышечная область
        %br
        %li
          5 человек – массаж лица
      %h3.orange.strong
        Маникюр:
      %h3.white.italic
        %li
          1 человека – массаж, скрабирование кистей рук
        %br
        %li
          3 человека – маникюр без покрытия
        %br
        %li
          5 человек – педикюр без покрытия
      %hr

      %br
      %br 
      %br
      %br
      %br
      %br       
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






