.masthead


  .span9{:align => 'center'}
 
    %h3.OrangeRed.strong
      Центр Здоровья и Красоты «Виэль»  
    %br
    %h3.red.italic 
      АКЦИИ!!!
    %hr
    %table.OrangeRed{:border=>'2'}
      %tr
        %td.h2.red.italic.strong{:align => 'center'}
          Мы дарим Вам подарки!
        %td
          = image_tag('',  :class => 'img-rounded', height: "100", width: "150")        
        %td.black
          При покупке курса массажа или  подарочного сертификата стоимостью 10 000 рублей, выгодная дисконтная карта
          %br
          «Мой Город» Вам в ПОДАРОК!!!
          %br
          Торопитесь, количество карт ограничено!
          %br
            Мы Вас любим!!!

      %tr
        %td.h2.red.italic.strong{:align => 'center'} 
          У Вас День Рождения?
        %td
          = image_tag('',  :class => 'img-rounded', height: "100", width: "150")    
        %td.black
          Мы дарим Вам скидку 10% на все наши услуги в этот день и два дня после него!

      %tr
        %td.h2.red.italic.strong{:align => 'center'} 
          Приведи друга и получи...!!!
        %td
          = image_tag('friends.jpg',  :class => 'img-rounded', height: "100", width: "150")
        %td.black
          Массаж:
          %br
            1 человека – массаж головы/стоп/шейно-воротниковой зоны
          %br
            3 человека – массаж спины
          %br
            5 человек – общий массаж тела
          %br
          Косметология:
          %br
            1 человека – коррекция/окрашивание бровей
          %br
            3 человека – депиляция рук/ноги до колена/подмышечная область
          %br
            5 человек – массаж лица
          %br
          Маникюр:
          %br
            1 человека – массаж, скрабирование кистей рук
          %br
            3 человека – маникюр без покрытия
          %br
            5 человек – педикюр без покрытия

      %br
    
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






