.masthead



  .span9{:align => 'center'}
 
    %h3.orange.strong
      Центр Здоровья и Красоты «Виэль»  
    %h3.orange
      основан 08 августа 2013 года.
    %hr
    %br
    %h3.white.italic 
      Мы – первый и единственный центр в Краснодаре, предоставляющий такой спектр услуг. У нас более 60-ти массажных техник, 

  .span15.white.italic{:align => 'center'}
    %h3
      более 10 видов пилингов, 15 видов обертываний + SPA программы.
    %br
    %h3
      А так же широкий выбор косметологических услуг.
    %br
    %h3
      Наш руководитель, Бычик Виолетта Вячеславовна, специалист с 20-тилетнем стажем (работает в этой сфере с 1994 года). Преподаватель лечебных техник и SPA методик, «Виртуоз России» - призер V-го Чемпионата SPA массажа. Член жюри VI-го Чемпионата SPA массажа.
    %br
    %h3
      Каждый из специалистов уникален и достиг больших высот в своем деле!
    %br
    %h3
      Мы индивидуально подходим к каждому клиенту, встречаем его с теплом, заботой и улыбкой.


      %br
      %br 
      %br
      %br
      %br
      %br    
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






