.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br

  .container_viel{:align => 'center'}
    =image_tag('lupandina.jpg',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Лупандина Анна', :title => 'Лупандина Анна')
    %h3.OrangeRed  Лупандина Анна Алексанровна
    %h4.black     Начала работать визажистом с 19 лет, закончила курсы у преподавателя Дукиной Ксении Анатольевны (чемпион Европы по визажу), и работала еще 3 года под её руководством в салоне. Большой опыт работы с невестами, работа с различными техниками макияжа. 5 лет совместных работ на съемочных площадках, создание образов для видео-реклам на федеральном и региональном уровнях. 
    %h4.black Визаж-это хобби, которое переросло в работу и приносящие огромное удовольствие.
    %h4.black дата рождения  29.12.1990
    %h4.black стаж 7 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Лупандиной Анны Алексанровны
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner




    %br



  %br

         
