.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Маникюр, педикюр
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "307")
    %br
    %br

  %table.white{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Цена, руб.
    %tr
      %td 
      %td{:align => 'center'} МАНИКЮР
      %td 
    %tr
      %td 1
      %td Женский классический
      %td 350
    %tr
      %td 2
      %td Мужской классический
      %td 500
    %tr
      %td 3
      %td Европейский
      %td 300
    %tr
      %td 4
      %td Комбинированный
      %td 650
    %tr
      %td 5
      %td Аппаратный
      %td 600
    %tr
      %td 6
      %td Детский (до 12 лет)
      %td 200
    %tr
      %td 
      %td{:align => 'center'} ПЕДИКЮР
      %td 
    %tr
      %td 7
      %td Женский классический
      %td 700
    %tr
      %td 8
      %td Мужской классический
      %td 1000
    %tr
      %td 9
      %td Комбинированный (европ.+классич.)
      %td 1100
    %tr
      %td 10
      %td Комбинированный (аппарат.+классич.)
      %td 1300
    %tr
      %td 11
      %td Аппаратный
      %td 950
    %tr
      %td 12
      %td Детский (до 12 лет)
      %td 350
    %tr
      %td 
      %td{:align => 'center'} ПОКРЫТИЕ
      %td 
    %tr
      %td 13
      %td Покрытие лаком
      %td 200
    %tr
      %td 14
      %td Снятие лака
      %td 100
    %tr
      %td 15
      %td Покрытие Шеллаком
      %td 600
    %tr
      %td 16
      %td Снятие Шеллака
      %td 300
    %tr
      %td 17
      %td Гелевое покрытие
      %td 1000
    %tr
      %td 18
      %td Покрытие Шеллаком френч
      %td 700
    %tr
      %td 
      %td{:align => 'center'} ДРУГИЕ ПРОЦЕДУРЫ
      %td 
    %tr
      %td 19
      %td Наращивание ногтей
      %td 1000
    %tr
      %td 20
      %td Коррекция ногтей
      %td 800
    %tr
      %td 21
      %td Парафинотерапия рук
      %td 600
    %tr
      %td 22
      %td Парафинотерапия ног
      %td 800
    %tr
      %td 23
      %td SPA уход "Бархатные ручки" (скраб+массаж)
      %td 200


  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
