.masthead
  %title Мануальный терапевт в Краснодаре
  %keywords{:content =>'мануальный терапевт,мануальный терапевт краснодар,мануальная терапия,лечение позвоночника'}
  %description{:content =>'В цетре виэль работает высококвалифицированный мануальный терапевт, записаться на прием к которому можно по телефону на сайте.'}
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Мануальная терапия
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} Мануальная терапия – это древний метод консервативного лечения без применения сторонних инструментов. Название и само понятие «мануальный терапевт» означает «лечение руками», в народе врача, в совершенстве владеющего этой техникой называют по-простому – костоправом.
    %br Цель мануального воздействия - лечение позвоночника, суставов и мышц для устранения смещения и блокировки позвонков, деформаций позвоночника. Но применяя разные методики и техники, мануальный терапевт (Краснодар), способен намного расширить область ее применения: для устранения ортопедических, неврологических и соматических патологий. Причем возможно устранять не только заболевания костных и околосуставных тканей, но и органов, находящихся глубоко внутри организма: дискинезию ЖВП, язвенные болезни желудка и 12-п. кишки, холециститы и панкреатиты.
    %br И это не полный список заболеваний, с которыми справляется мануальный терапевт (Краснодар). Манипулируя своими руками, он применяет от легких, еле ощутимых прикасаний к определенному участку тела, до достаточно грубых, при которых слышен хруст суставов.
    %br Мануальный терапевт исключительный врач, его манипуляции считаются самыми безобидными, во многих случаях, как правило, незапущенной стадии заболевания – гарантирован успешный результат.
  %hr    


  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
   
