.masthead
  %title Лечебный массаж в Краснодаре
  %keywords{:content =>'лечебный массаж,лечебный массаж в краснодаре,массаж спины,массаж ног,антицеллюлитный массаж,общий массаж,классический массаж, расслабляющий массаж'}
  %description{:content =>'Центр красоты и здоровья Виэль предлагает массаж тела, обертывание, эстетику тела и коррекцию фигуры'}
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Лечебный массаж
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Наверное, нет и не было в мире, начиная с древних и до наших времен, более популярного метода оздоровления, чем массаж".
    %br
  .container_viel.OrangeRed{:align => 'center'}

    = image_tag('massage4.jpg',  :class => 'img-rounded', height: "231", width: "500")

    %br
    %br
    %h4.italic.black{:'font-family' => 'font-centr'} Методически грамотно построенный массаж (когда правильно выбраны и проведены приемы,определена их интенсивность и доза) является отличным средством лечения и восстановления работоспособности, снятия утомления и поддержания общего тонуса организма, активным средством укрепления здоровья. Ценность этой системы массажа подтверждают в настоящее время специалисты многих стран и нашего центра в том числе.
    %h4.black{:'font-family' => 'font-centr'} Центр красоты и здоровья "Виэль" предлагает Вам: эстетику тела, обертывание (горячее, холодное), антицеллюлитный, криомассаж, детский, логопедический, спортивный массаж, сколиоз, оздоровительный, остеохондроз и т. д.
    %br
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} При различного рода болезнях в наше время принять использовать методику  лечебного массажа.
    %br За основу  в лечебном массаже закладывается вид текущего заболевания, ибо методика  выбираемого массажа подбирается напрямую от заболеваний. Стоит отметить, что вид массажа будет подобран ИНДИВИДУАЛЬНО в зависимости от заболеваний и анатомических особенностей человека.
    %br Два основных вида лечебного массажа: частная форма и общая. Общая форма - массаж всего тела, при этом пристальное внимание уделяется  тем зонам, которые напрямую связаны с определенным заболеванием.
    %br При применении же частной формы массажа, выполняется массаж определенных частей тела.
    %br
  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Время
      %th Цена, руб.
    %tr
      %td 
      %td{:align => 'center'} ОЗДОРОВИТЕЛЬНЫЙ МАССАЖ
      %td
      %td 
    %tr
      %td 1
      %td Массаж спины лечебный
      %td 30 мин.
      %td 800
    %tr
      %td 
      %td.italic Массаж спины представляет собой комплекс массажных приемов, направленных на профилактику  заболеваний опорно-двигательной системы, улучшение работоспособности и эластичности суставов, мышечной ткани и функций внутренних органов. Основные методики лечебного массажа спины и интенсивность их применения подбираются индивидуально для каждого пациента, в зависимости от желаемого эффекта, степени проблем и задач, которые стоят перед специалистом.
      %td 
      %td 
    %tr
      %td 2
      %td Магнито-терапия (1 зона) 
      %td 15 мин.
      %td 400

    %tr
      %td 
      %td 
      %td 30 мин.
      %td 600
    %tr
      %td 
      %td.italic Способ лечения различных заболеваний магнитными полями. При воздействии магнитного поля облегчается боль у людей с тяжелыми травмами, недомоганиями, связанными с артритами и артрозами. Также магнитотерапия успешно применяется для снятия воспалений и рассасывания гематом. Необходима для людей с нарушением осанки, болями в спине, мышцах и фасциональных тяжах.
      %td
      %td  
    %tr
      %td 3
      %td	Массаж воротниковой зоны
      %td 20 мин.
      %td 500
    %tr
      %td 
      %td.italic После проведения первого массажа вы почувствуете улучшение вашего самочувствия. При проведении полного курса такого массажа болезненные ощущения ослабляются, появляется бодрость, повышается работоспособность, исчезает бессонница и раздражительность.  Снимаются блоки. Улучшаются память, внимание, процессы мозговой деятельности.
      %td
      %td  
    %tr
      %td 4
      %td	Массаж шейно-грудного отдела
      %td 20 мин.
      %td 600
    %tr
      %td 5
      %td	Массаж пояснично-крестцового отдела
      %td 20 мин.
      %td 450
    %tr
      %td 6
      %td Массаж головы (классический)
      %td 15 мин
      %td 400
    %tr
      %td 
      %td.italic Массаж головы эффективно снимает головную боль и мигрень. В результате такой приятной и очень действенной процедуры происходит релаксация, быстрое воздействие на работу головного мозга. Кроме того, заметно улучшается состояние волос и кожи головы.
      %td 
      %td 
    %tr
      %td 7
      %td Массаж головы с элементами Шиацу
      %td 20 мин
      %td 500
    %tr
      %td 
      %td.italic Это один из видов японского массажа. Техника точечного массажа способствует нормализации потока внутренней энергии «Ци», проходящей через меридианы (каналы энергии) организма. Отличительной особенностью данной техники массажа является его широкое лечебное воздействие на весь организм.
      %td 
      %td 
    %tr
      %td 8
      %td Рука
      %td 15 мин
      %td 350
    %tr
      %td 
      %td.italic Процедура массажа – не только одна из самых расслабляющих, но и самых полезных в мире. В древние времена ее использовали в качестве профилактики и лечения различных заболеваний.
      %td 
      %td 
    %tr
      %td 9
      %td Нога
      %td 15 мин
      %td 450
    %tr
      %td 
      %td.italic Массаж ног и стоп – это несравнимое удовольствие, которое не только снимает усталость стоп, приводит мышцы ног и всего тела в тонус, но и уникальная релаксирующая процедура. 
      %td 
      %td 
    %tr
      %td 10
      %td Живот (классика)
      %td 15 мин
      %td 450
    %tr
      %td 11
      %td Контрактурный  (на все тело)
      %td 60 мин
      %td 1500
    %tr
      %td 
      %td.italic Глубокий массаж направленный на устранение так называемых КОНТРАКТУР (лат. contractura — стягивание, сужение) то есть на устранение механических препятствий, возникающими как в самом суставе, так и в тканях, окружающих его или расположенных вблизи сустава (в мышцах, сухожилиях, коже, фасциях и пр.)  Достигается при помощи стретчинга и широко амплитудных движений направленных на увеличение количества кислорода в тканях. 
      %td 
      %td 
    %tr
      %td 12
      %td Адаптационный
      %td 60 мин
      %td 1600
    %tr
      %td 
      %td.italic Этот массаж является профилактиктикой заболеваний, поддерживает высокий уровень трудоспособности на протяжении длительного времени. Восстанавливает организм после болезни. Рекомендован при хронической усталости. 
      %td 
      %td 
    %tr
      %td 13
      %td Антистрессовый (головы)
      %td 15 мин
      %td 500
    %tr
      %td 
      %td.italic Этот вид массажа поможет человеку избавиться от стресса, снять усталость, утомление и нервозность. Антистрессовый массаж будет расслабляющей и приятной техникой с целью ослабить напряжение. 
      %td 
      %td 
    %tr
      %td 14
      %td Мультифазная мобилизация суставов (по зонам)
      %td 20 мин
      %td 400
    %tr
      %td 
      %td.italic Полный комплекс реабилитации по конкретному суставу или проблемной области, включая мобилизации, специальных упражнения для укрепления сустава с различными уровнями сложности и продвинутые техники кинезиотейпирования для воздеиствие на мышечно-фасциальные связи, связанные с этой патологией, таким образом, создавая кумулятивный эффект воздействия, который может длиться от 4 дней до недели и более.  
      %td
      %td 
    %tr
      %td 15
      %td Дэнас-терапия
      %td 20-30 мин
      %td 700
    %tr
      %td 
      %td.italic Новый общедоступный метод рефлексотерапии, при котором осуществляется абсолютно безвредное влияние на кожную проекцию жалобы (боли, нездорового органа), зоны соответствующей сегменту спинного мозга, активные и латентные рефлексогенные зоны, классические и "новые" акупунктурные точки.  
      %td
      %td 
    %tr
      %td 16
      %td Висцеральный массаж Старославянский
      %td 20 мин
      %td 800
    %tr
      %td 
      %td.italic Висцеральная терапия берет своё начало от старорусского хиромассажа внутренних органов. Ещё бабки-ведуньи, знахари могли вправить копчик («пердячья кость»), «правили живот», «поднимали» почки, устраняли «загиб матки», делали кровопускание и многое другое. После проведения сеанса массажа живота, человек раскрывается более ярко, свежо и совершенно по-новому. Работа внутренних органов взаимосвязана с работой позвоночника, мышц, фасций и других суставов.  
      %td
      %td 
    %tr
      %td 17
      %td Французский мануальный висцеральный массаж (плоский живот+легкие ноги)
      %td 20 мин
      %td 800
    %tr
      %td 18
      %td Классический общий
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td 
      %td 90 мин
      %td 2200
    %tr
      %td 
      %td.italic Это прекрасная оздоровительная процедура для всего организма. Даже единственная встреча с профессиональным массажистом способна избавить вас от усталости, переутомления и подавленного состояния. Кроме того, классический массаж известен своими лечебными и профилактическими свойствами. После массажа у пациентов улучшается кровоснабжение суставов, нормализуется обмен веществ, восстанавливаются защитные силы организма. Особенно действенен общий массаж при заболеваниях нервной системы, органов дыхания и пониженном/повышенном артериальном давлении.  
      %td 
      %td
    %tr
      %td 19
      %td Оздоровительный общий
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td 
      %td 90 мин
      %td 2400
    %tr
      %td 
      %td.italic Общий массаж является классическим лечебным массажем. Он оказывает лечебное действие как самостоятельно, так и в комплексе с другими лечебными мероприятиями. Общий массаж - один из любимийших массажей, и пользуется большой популярностью. Поэтому он широко используется не только с лечебной, но и оздоровительной целью. Лечебный массаж способен облегчить состояние при заболеваниях сердечно-сосудистой системы и органов дыхания, нарушениях опорно-двигательного аппарата, болезнях органов пищеварения и нервной системы. Данная процедура ускоряет восстановительный процесс после травм, а также при высокой физической и умственной нагрузке.  
      %td
      %td 
    %tr
      %td 20
      %td Массаж Диптишью (все тело)
      %td 50 мин
      %td 1800
    %tr
      %td 21
      %td Массаж Диптишью (по зонам)
      %td 20 мин
      %td 600
    %tr
      %td 
      %td.italic Это мощный инструмент для решения проблем опорно-двигательного аппарата. Это безболезненное, мягкое воздействие, направленное на восстановление соединительных тканей. С его помощью можно нормализовать функцию всего опорно-двигательного аппарата, как единой системы, устранить локальные перегрузки и снять боль.
      %td
      %td 
    %tr
      %td 22
      %td Стрейн-контрстрейн
      %td 45 мин
      %td 1400
    %tr
      %td 23
      %td Стрейн-контрстрейн (по зонам)
      %td 20 мин
      %td 400
    %tr
      %td 
      %td.italic В переводе с английского языка это означает: Техника напряжения и противонапряжения. Мышца, которая находится в состоянии ложного напряжения, может стать причиной возникновения болевых рефлекторных точек в разных частях тела.  
      %td
      %td 
    %tr
      %td 24
      %td Периостальный (по зонам)
      %td 20 мин
      %td 500
    %tr
      %td 
      %td.italic Для предотвращения негативных изменений и восстановления костных тканей организма рекомендуется проводить сеансы периостального массажа, который направлен на воздействие измененных болезненных точек, имеющих рефлекторную связь с внутренними органами. Периостальный массаж эффективен при лечении заболеваний суставов, опорно-двигательного аппарата, внутренних органов человека. Периостальный массаж улучшает кровоснабжение и лимфоток организма, улучшает метаболические и трофические процессы. 
      %td
      %td 
    %tr
      %td 25
      %td Рефлексотерапия (стопы и кисты)
      %td 20 мин кисти
      %td 800
    %tr
      %td 
      %td 
      %td 25 мин стопы
      %td 900
    %tr
      %td 
      %td.italic Это абсолютно безопасный метод массажа, который более широко известен, как точечный массаж. Его суть заключается в оказании давления на рефлекторные точки стоп и кистей. Рефлексотерапию используют для лечения некоторых обычных недомоганий, в том числе: боль в спине, проблемы пищеварения, мигрень, предменструальный синдром, а также общий стресс и напряжение. Этим методом лечат и более серьезные нарушения, например болезни сердца и различные формы склероза. 
      %td
      %td 
    %tr
      %td 26
      %td Сегментарный (по зонам)
      %td 15-20 мин
      %td 550
    %tr
      %td 
      %td.italic Рефлекторно–сегментарный массаж помогает при болях в пояснично-крестцовом отделе  его влияние также распространяется на органы брюшной полости и малого таза и также на сосуды нижних конечностей. Так же этот массаж крайне эффективен при головных болях, обусловленных спазмом сосудов головного мозга и его оболочек. В этом случае эффект достигается благодаря сосудорасширяющему рефлекторному действию массажа. 
      %td
      %td 
    %tr
      %td 27
      %td Соединительно-тканный (по зонам)
      %td 15-20 мин
      %td 550-650
    %tr
      %td 
      %td.italic Соединительнотканный массаж воздействует на организм через вегетативную нервную систему,оказывая нормализующее влияние на вегетативно управляемые функции. 
      %td 
      %td
    %tr
      %td 28
      %td Шведский общий
      %td 50 мин
      %td 1800
    %tr
      %td 
      %td 
      %td 80 мин
      %td 2200
    %tr
      %td 
      %td.italic Данный вид массажа показан при заболеваниях суставов как восстановительный после травм и оперативного вмешательства, а также при хроническом стрессе, депрессии, нарушениях сна. 
      %td
      %td 
    %tr
      %td 29
      %td Финский (по зонам)
      %td 15-25 мин
      %td 600
    %tr
      %td 
      %td.italic Финская система массажа начала свое формирование от техники разминания, применяемой в Финляндии в XVIII в. при посещении саун. Современный финский массаж принято совмещать с баней, а также с другими тепловыми процедурами, финский массаж предназначен для тонких групп мышц, расположенных вдоль позвоночника и вокруг суставов, и хорошо зарекомендовал себя при лечении болей в спине. 
      %td
      %td 
    %tr
      %td 30
      %td Общий массаж 
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td  
      %td 80-90 мин
      %td 2200
    %tr
      %td 
      %td.italic Является классическим оздоровительным массажем. Он оказывает оздоровительное действие как самостоятельно, так и в комплексе с другими оздоровительными мероприятиями. Эта замечательная оздоровительная процедура вляется средством профилактики заболеваний, залогом долговременного сохранения работоспособности. 
      %td 
      %td
    %tr
      %td 31
      %td Антицеллюлитный 
      %td 60 мин
      %td 1500
    %tr
      %td 32
      %td Антицеллюлитный (по зонам)
      %td 20 мин 
      %td 600
    %tr
      %td 
      %td.italic Методика антицеллюлитного массажа направлена на комплексное улучшение состояния стенок кровеносных сосудов, стимуляцию притока и оттока крови лимфы и межклеточной жидкости в определённых частях организма с помощью специальных массажных техник. Это приводит к быстрому, мощному и стабильному результату: устранение целлюлита и излишков жировых отложений, и, как следствие, — избавление от лишних килограммов. Так же антицеллюлитный массаж способствует выведению шлаков и улучшает обменные процессы в организме, что также способствует сжиганию подкожного жира. 
      %td 
      %td
    %tr
      %td 33
      %td Пресс-роллинг (все тело)
      %td 40 мин.
      %td 1600
    %tr
      %td 34
      %td Пресс-роллинг (по зонам)
      %td 15-20 мин 
      %td 500-600
    %tr
      %td 
      %td.italic Этот массаж проводится без смазывающих средств, через легкую одежду или простыню. В этой технике отсутствует элемент проскальзывания руки массажиста по коже пациента, поэтому применяются иные формы воздействия Основные группы приемов – качение (роллинг), надавливание, потряхивание и мобилизации суставов.
      %td  
      %td
    %tr
      %td 35
      %td Миопластический (все тело) 
      %td 90 мин
      %td 2800
    %tr
      %td 36
      %td Миопластический (ягодицы + бедра) 
      %td 40 мин
      %td 1800
    %tr
      %td 37
      %td Миопластический (живот+руки) 
      %td 40 мин
      %td 1300
    %tr
      %td 38
      %td Миопластический (спина+живот+ягодицы+бедра)
      %td 70 мин 
      %td 2500
    %tr
      %td 
      %td.italic Авторская методика массажа, направленная на глубокую проработку тканей с целью снять мышечное напряжение, открыть глубокие кровеносные тоннели и размягчить уплотненные ткани. Происходит качественная проработка каждого сегмента, благодаря этому устраняются  патологические изменения в тканях, ликвидируются застойные процессы, улучшается кровоток, повышается доступ к тканям кислорода и питательных веществ,  активизируется адекватный лимфоотток и  из организма выводятся все шлаки и другие токсические вещества. 
      %td
      %td 
    %tr
      %td 39
      %td Медовый
      %td 40 мин 
      %td 1300
    %tr
      %td 
      %td.italic Интенсивно очищает кожу, техника массажного воздействия включает в себя элемент активного пилинга. Массаж улучшает кровоток и дыхание через кожу. Как говорили древние целители, мед лучше чего-либо другого "кормит кожу". Медовый массаж представляет собой чрезвычайно эффективный метод профилактики вегетососудистой дистонии, нарушений работы внутренних органов, при лечении бронхитов, затяжных пневмоний, при пониженном иммунитете, хорошо восстанавливает нормальную работу всех суставов. Благодаря тому, что мед отлично питает все ткани, при длительном курсе медового массажа излечивается остеохондроз, являющийся следствием нарушения именно трофических процессов в позвоночнике. 
      %td
      %td 
    %tr
      %td 40
      %td Баночный 
      %td 40 мин
      %td 1300
    %tr
      %td 
      %td.italic В основе лежит оказание активного воздействия на тело человека при помощи вакуума, который создается в специальной банке, предназначенной для массажа. Особенная польза баночного массажа заключается в том, что в местах присасывания банок к телу усиливается кровообращение и лимфообращение в тканях, коже и органах, производится активное питание тканей. 
      %td
      %td 
    %tr
      %td 41
      %td Точечный Китайский (общий) 
      %td 50-60 мин
      %td 2000
    %tr
      %td 
      %td.italic Данный вид массажа является великолепным способом избавления от головных болей, болезненных проявлений в суставах. Наблюдается положительный эффект при: артрите; язве желудка; миозите; ишиасе, запоре; бронхиальной астме. Воздействует на определённые точки, находящиеся на голове, спине и животе, массажист восстанавливает нормальную циркуляцию жизненной энергии Ци и способствует улучшению работы организма пациента. Кроме того, китайский массаж также обладает отменным антицеллюлитным эффектом. 
      %td
      %td 
    %tr
      %td 42
      %td Меридианный
      %td 40-50 мин 
      %td 1800
    %tr
      %td 
      %td.italic Согласно древнекитайским трактатам по медицине, жизненная энергия «Чи» циркулирует в организме по меридианам – тонким энергетическим каналам, пронизывающим всё тело человека. При блокировании энергии возникает дисбаланс, затем и заболевание в соответствующем меридиану органе. Меридианный массаж необходим для свободного течения энергии в организме человека. 
      %td
      %td 
    %tr
      %td 43
      %td Дренажный 
      %td 60-80 мин
      %td 1800-2000
    %tr
      %td 
      %td.italic Это прекрасное оздоровительное средство при травмах опорно-двигательной системы, заболеваниях костной и мышечной систем организма, варикозе, отеках, лимфостазе. Дренажный массаж, выполненный профессиональным массажистом, полностью избавляет от отечности, устраняя, тем самым, сдавленность сосудов. Дренажный массаж улучшает циркуляцию крови, лимфы и межклеточной жидкости. Благотворно влияя на протекание метаболических процессов, дренажный массаж является прекрасным средством для профилактики гипоксии клеток и тканей организма. Курс дренажного массажа полностью излечивает варикозное расширение вен на начальной стадии, является тонизирующим средством. Уже после первых процедур такого массажа исчезнет боль в мышцах ног, суставах, восстановится кровяная циркуляция и лимфодренаж, улучшится общее состояние и настроение, повысится работоспособность.
      %td  
      %td
    %tr
      %td 44
      %td Гемолимфодренажный 
      %td 60 мин
      %td 1800
    %tr
      %td 
      %td 
      %td 90 мин
      %td 2200
    %tr
      %td 
      %td.italic Этот массаж представляет собой комплекс действий, направленных на лечение и профилактику варикозного расширения вен на ногах. Применяют этот массаж и для восстановления функций опорно-двигательной системы, снятия отеков и а также устранения усталости и повышение тонуса мышц. 
      %td 
      %td
    %tr
      %td 45
      %td Лимфодренажный 
      %td 40 мин
      %td 1700
    %tr
      %td 
      %td  
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td.italic Показан при выраженном отечном синдроме, варикозном расширении вен. Он так же успешно применяется в программах снижения массы тела, коррекции фигур и сочетается с программой по детоксикации организма. 
      %td 
      %td
    %tr
      %td 46
      %td Ишиас, люмбалгия (люмбоишалгия) 
      %td 30 мин
      %td 800
    %tr
      %td 
      %td.italic Ишиалгия- это невралгия седалищного нерва. Различают верхний, нижний и средний ишиас. При устойчивом ишиасе, вызванном сдавлением нервов в пояснично-крестцовом отделе позвоночника, иногда может потребоваться оперативное лечение. Своевременное обращение к специалистам. Люмбалгия – клинический симптом, для которого характерна боль в пояснице с иррадиацией в ягодичную область, внутреннюю и/или заднюю поверхность бедра либо без оной. При наличии иррадиации мы имеем право говорить о присоединении к синдрому люмбалгии ишиаса (компрессия ветвей седалищного нерва), или о люмбоишиалгии. 
      %td 
      %td
    %tr
      %td 47
      %td Логопедический
      %td 40 мин. 
      %td 700-900
    %tr
      %td 
      %td.italic Это один из методов коррекционно-педагогического воздействия, используемых при коррекции тяжелых речевых нарушений. Это нетрадиционный и эффективный метод коррекции звукопроизношения, т.к. логопедический массаж способствует нормализации произносительной стороны речи, улучшает состояние голоса, речевого дыхания, нормализует эмоциональное состояние человека, страдающего речевыми нарушениями. Логопедический массаж является составной частью комплексной медико-педагогической системы реабилитации детей, подростков и взрослых, страдающих речевыми нарушениями. 
      %td 
      %td
    %tr
      %td 48
      %td Перкуссионный (спина) 
      %td 30 мин
      %td 1200
    %tr
      %td 
      %td.italic Массаж включает элементы общего массажа, проводится китайскими и бамбуковыми палочками, руками массажиста. Массаж китайскими палочками (перкус – в переводе палочка) весьма эффективен при ожирении, избыточном весе, умственном и физическом переутомлении, для улучшения состояния кожи, коррекции фигуры. При заболеваниях бронхо-легочной системы, хронических заболеваниях органов дыхания, остаточных процессов после различных воспалительных заболеваний.  
      %td 
      %td
    %tr
      %td 49
      %td Детский (до 1 г.) Общий массаж + ЛФК 
      %td 30 мин
      %td 750
    %tr
      %td 50
      %td Детский (от 1 года до 5 л.)
      %td 40-50 мин.
      %td 900-1100
    %tr
      %td 51
      %td Дисплазия (старше 3 л.)
      %td 40-50 мин 
      %td 900-1300
    %tr
      %td 
      %td.italic Дисплазия тазобедренного сустава (порок развития всех элементов сустава). У новорожденного формирование сустава не завершено, поэтому очень важна ранняя диагностика и лечение заболевания. 
      %td 
      %td
    %tr
      %td 52
      %td Плоскостопие (до 12 л.) ноги полностью. 
      %td 30 мин
      %td 900
    %tr
      %td 
      %td.italic Массаж при плоскостопии – это целый лечебный курс, комплекс регулярных процедур. Единичные занятия действенного эффекта не производят. Стандартный курс включает в среднем не менее 12 процедур, выполняемых через день. Многие специалисты рекомендуют перед тем, как приступить к непосредственному массажу свода стопы, уделить внимание пояснице. Ведь именно в поясничном отделе спинного мозга начинается иннервация ног. Поэтому предварительный массаж поясницы сделает массаж ног более эффективным.
      %td 
      %td
    %tr
      %td 53
      %td Детский  от 5 лет до 10 лет. 
      %td 50 мин
      %td 1100-1300
    %tr
      %td 54
      %td Детский  от 10 лет до 14 лет. 
      %td 50 мин
      %td 1300-1500

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
   
