.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Массаж
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Наверное, нет и не было в мире, начиная с древних и до наших времен, более популярного метода оздоровления, чем массаж".
    %br
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    = image_tag('head_massage.jpg',  :class => 'img-rounded', height: "231", width: "230")
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "340")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "340")
    %br
    %br
    %h4.italic.white{:'font-family' => 'font-centr'} Методически грамотно построенный массаж (когда правильно выбраны и проведены приемы,определена их интенсивность и доза) является отличным средством лечения и восстановления работоспособности, снятия утомления и поддержания общего тонуса организма, активным средством укрепления здоровья. Ценность этой системы массажа подтверждают в настоящее время специалисты многих стран и нашего центра в том числе.
    %h4.white{:'font-family' => 'font-centr'} Центр красоты и здоровья "Виэль" предлагает Вам: эстетику тела, обертывание (горячее, холодное), антицеллюлитный, криомассаж, детский, логопедический, спортивный массаж, сколиоз, оздоровительный, остеохондроз и т. д.
    %br
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    
