.masthead
  .container_viel2.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Лечебный массаж
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Наверное, нет и не было в мире, начиная с древних и до наших времен, более популярного метода оздоровления, чем массаж".
    %br
    %br
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    = image_tag('head_massage.jpg',  :class => 'img-rounded', height: "231", width: "228")
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "340")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "347")
    %br
    %br
    %h4.italic.white{:'font-family' => 'font-centr'} Методически грамотно построенный массаж (когда правильно выбраны и проведены приемы,определена их интенсивность и доза) является отличным средством лечения и восстановления работоспособности, снятия утомления и поддержания общего тонуса организма, активным средством укрепления здоровья. Ценность этой системы массажа подтверждают в настоящее время специалисты многих стран и нашего центра в том числе.
    %h4.white{:'font-family' => 'font-centr'} Центр красоты и здоровья "Виэль" предлагает Вам: эстетику тела, обертывание (горячее, холодное), антицеллюлитный, криомассаж, детский, логопедический, спортивный массаж, сколиоз, оздоровительный, остеохондроз и т. д.
    %br
  %table.white{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Цена, руб.
    %tr
      %td 
      %td{:align => 'center'} ОЗДОРОВИТЕЛЬНЫЙ МАССАЖ
      %td 300 - 2500
    %tr
      %td 1
      %td Массаж спины
      %td 700-800
    %tr
      %td 
      %td.italic Массаж спины представляет собой комплекс массажных приемов, направленных на профилактику  заболеваний опорно-двигательной системы, улучшение работоспособности и эластичности суставов, мышечной ткани и функций внутренних органов. Чаще всего лечебный массаж спины применяют в качестве средства, направленного на устранение повреждений, нанесенных полученными травмами позвоночника. Основные методики лечебного массажа спины и интенсивность их применения подбираются индивидуально для каждого пациента, в зависимости от желаемого эффекта и степенью заболевания.
      %td 
    %tr
      %td 2
      %td Массаж спины + магнитотер
      %td 800-1000
    %tr
      %td 3
      %td Магнито-терапия
      %td 400-600
    %tr
      %td 
      %td.italic Способ лечения различных заболеваний магнитными полями. При воздействии магнитного поля облегчается боль у людей с тяжелыми травмами, недомоганиями, связанными с артритами и артрозами. Также магнитотерапия успешно применяется для снятия воспалений и рассасывания гематом. 
      %td 
    %tr
      %td 4
      %td	Массаж воротниковой зоны
      %td 400-500
    %tr
      %td 
      %td.italic После проведения первого массажа вы почувствуете улучшение вашего самочувствия. При проведении полного курса такого массажа болезненные ощущения ослабляются, появляется бодрость, повышается работоспособность, исчезает бессонница и раздражительность.
      %td 
    %tr
      %td 5
      %td Массаж головы (классический)
      %td 300-400
    %tr
      %td 
      %td.italic Массаж головы эффективно снимает головную боль и мигрень. В результате такой приятной и очень действенной процедуры происходит релаксация, быстрое воздействие на работу головного мозга. Кроме того, заметно улучшается состояние волос и кожи головы.
      %td 
    %tr
      %td 6
      %td Массаж головы с элементами Шиацу
      %td 500-600
    %tr
      %td 
      %td.italic Это один из видов японского массажа. Техника точечного массажа способствует нормализации потока внутренней энергии «Ци», проходящей через меридианы (каналы энергии) организма. Отличительной особенностью данной техники массажа является его широкое лечебное воздействие на весь организм.
      %td 
    %tr
      %td 7
      %td Рука
      %td 300-350
    %tr
      %td 
      %td.italic Процедура массажа – не только одна из самых расслабляющих, но и самых полезных в мире. В древние времена ее использовали в качестве профилактики и лечения различных заболеваний.
      %td 
    %tr
      %td 8
      %td Нога
      %td 450-500
    %tr
      %td 
      %td.italic Массаж ног и стоп – это несравнимое удовольствие, которое не только снимает усталость стоп, приводит мышцы ног и всего тела в тонус, но и уникальная релаксирующая процедура. Действительно, массаж ступней – это весьма и весьма приятное действо, которое приводит к перерождению если уж не всего организма, то, по крайней мере, сил в целом. 
      %td 
    %tr
      %td 9
      %td Живот
      %td 450-550
    %tr
      %td 10
      %td Контрактурный
      %td 1300-1500
    %tr
      %td 
      %td.italic Глубокий массаж направленный на устранение так называемых КОНТРАКТУР (лат. contractura — стягивание, сужение) то есть на устранение механических препятствий, возникающими как в самом суставе, так и в тканях, окружающих его или расположенных вблизи сустава (в мышцах, сухожилиях, коже, фасциях и пр.)  Достигается при помощи стретчинга и широко амплитудных движений направленных на увеличение количества кислорода в тканях. 
      %td 
    %tr
      %td 11
      %td Адаптационный
      %td 1300-1600
    %tr
      %td 
      %td.italic Адаптация — это комплекс реакций, обеспечивающих возможность приспособления к постоянно изменяющимся условиям существования во внешней среде. Этот массаж является профилактиктикой заболеваний, поддерживает высокий уровень трудоспособности на протяжении длительного времени. 
      %td 
    %tr
      %td 12
      %td Антистрессовый (головы)
      %td 500-600
    %tr
      %td 
      %td.italic Этот вид массажа поможет человеку избавиться от стресса, снять усталость, утомление и нервозность. Антистрессовый массаж будет расслабляющей и приятной техникой с целью ослабить напряжение. Во время массажа разум и тело расслабляются, отдыхают от многих привычек, забот и проблем. Это помогает исцелению тела и души, возвращает внутреннюю гармонию. 
      %td 
    %tr
      %td 13
      %td Мультифазная мобилизация суставов (по зонам)
      %td 400-700
    %tr
      %td 
      %td.italic Полный комплекс реабилитации по конкретному суставу или проблемной области, включая мобилизации, специальных упражнения для укрепления сустава с различными уровнями сложности и продвинутые техники кинезиотейпирования для воздеиствие на мышечно-фасциальные связи, связанные с этой патологией, таким образом, создавая кумулятивный эффект воздействия, который может длиться от 4 дней до недели и более.  
      %td
    %tr
      %td 14
      %td Дэнас-терапия
      %td 500-800
    %tr
      %td 
      %td.italic Новый общедоступный метод рефлексотерапии, при котором осуществляется абсолютно безвредное влияние на кожную проекцию жалобы (боли, нездорового органа), зоны соответствующей сегменту спинного мозга, активные и латентные рефлексогенные зоны, классические и "новые" акупунктурные точки.  
      %td
    %tr
      %td 15
      %td Висцеральный массаж
      %td 600-800
    %tr
      %td 
      %td.italic Висцеральная терапия берет своё начало от старорусского хиромассажа внутренних органов. Ещё бабки-ведуньи, знахари могли вправить копчик («пердячья кость»), «правили живот», «поднимали» почки, устраняли «загиб матки», делали кровопускание и многое другое. После проведения сеанса массажа живота, человек раскрывается более ярко, свежо и совершенно по-новому. работа внутренних органов взаимосвязана с работой позвоночника, мышц, фасций и других суставов.  
      %td
    %tr
      %td 16
      %td Классический общий
      %td 1500-1800
    %tr
      %td 
      %td.italic Это прекрасная оздоровительная процедура для всего организма. Даже единственная встреча с профессиональным массажистом способна избавить вас от усталости, переутомления и подавленного состояния. Кроме того, классический массаж известен своими лечебными и профилактическими свойствами. После массажа у пациентов улучшается кровоснабжение суставов, нормализуется обмен веществ, восстанавливаются защитные силы организма. Особенно действенен общий массаж при заболеваниях нервной системы, органов дыхания и пониженном/повышенном артериальном давлении.  
      %td
    %tr
      %td 17
      %td Оздоровительный общий
      %td 1700-1800
    %tr
      %td 
      %td.italic Общий массаж является классическим лечебным массажем. Он оказывает лечебное действие как самостоятельно, так и в комплексе с другими лечебными мероприятиями. Общий массаж - один из любимийших массажей, и пользуется большой популярностью. Поэтому он широко используется не только с лечебной, но и оздоровительной целью. Лечебный массаж способен облегчить состояние при заболеваниях сердечно-сосудистой системы и органов дыхания, нарушениях опорно-двигательного аппарата, болезнях органов пищеварения и нервной системы. Данная процедура ускоряет восстановительный процесс после травм, а также при высокой физической и умственной нагрузке.  
      %td
    %tr
      %td 18
      %td Массаж Диптишью
      %td 1500-1700
    %tr
      %td 19
      %td Массаж Диптишью по зонам
      %td 600-800
    %tr
      %td 
      %td.italic Это мощный инструмент для решения проблем опорно-двигательного аппарата. Это безболезненное, мягкое воздействие, направленное на восстановление соединительных тканей. С его помощью можно нормализовать функцию всего опорно-двигательного аппарата, как единой системы, устранить локальные перегрузки и снять боль. Методология специальных приемов Массажа глубоких тканей, однозначно, расширяет профессиональные возможности специалиста по массажу для получения устойчивых результатов у пациентов. Одна из главных целей массажа глубоких тканей – устранение деформаций соединительной ткани: фасций, сухожилий, связок и других тканей. И здесь у этого метода нет конкурентов среди массажных методик. Приемы Массажа глубоких тканей принципиально отличаются от приемов классического массажа. Это особые зацепы и растяжения тканей, для чего применяют кончики или фаланги пальцев, кулак, предплечье или локоть. Воздействие мягкое, плавное и безболезненное. Поскольку проведение каждого приема занимает длительное время, очень важна эргономика.  
      %td
    %tr
      %td 20
      %td Стрейн-контрстрейн
      %td 900-1200
    %tr
      %td 21
      %td Стрейн-контрстрейн по зонам
      %td 400-600
    %tr
      %td 
      %td.italic В переводе с английского языка это означает: Техника напряжения и противонапряжения. Мышца, которая находится в состоянии ложного напряжения, может стать причиной возникновения болевых рефлекторных точек в разных частях тела.  
      %td
    %tr
      %td 22
      %td Периостальный по зонам
      %td 500-600
    %tr
      %td 
      %td.italic Для предотвращения негативных изменений и восстановления костных тканей организма рекомендуется проводить сеансы периостального массажа, который направлен на воздействие измененных болезненных точек, имеющих рефлекторную связь с внутренними органами. Периостальный массаж эффективен при лечении заболеваний суставов, опорно-двигательного аппарата, внутренних органов человека. Периостальный массаж улучшает кровоснабжение и лимфоток организма, улучшает метаболические и трофические процессы. 
      %td
    %tr
      %td 23
      %td Рефлексотерапия (стопы и кисты)
      %td 800-900
    %tr
      %td 
      %td.italic Это абсолютно безопасный метод массажа, который более широко известен, как точечный массаж. Его суть заключается в оказании давления на рефлекторные точки стоп и кистей. Рефлексотерапию используют для лечения некоторых обычных недомоганий, в том числе: боль в спине, проблемы пищеварения, мигрень, предменструальный синдром, а также общий стресс и напряжение. Этим методом лечат и более серьезные нарушения, например болезни сердца и различные формы склероза. Полагают также, что рефлексотерапевт может иногда определить надвигающуюся болезнь и провести профилактическое лечение. 
      %td
    %tr
      %td 24
      %td Сегментарный по зонам
      %td 550-650
    %tr
      %td 
      %td.italic Рефлекторно–сегментарный массаж благотворно влияет на деятельность головного и спинного мозга, сосуды, на органы грудной полости, на сосуды верхних конечностей. Рефлекторную реакцию в пояснично-крестцовом отделе вызывает массаж пояснично-крестцовой зоны, его влияние также распространяется на органы брюшной полости и малого таза и также на сосуды нижних конечностей. Рефлекторно-сегментарный массаж оказывает помощь при заболеваниях опорно-двигательного аппарата, внутренних органов, системы органов дыхания, желудочно-кишечного тракта, сердечнососудистой системы, нервной и мочеполовой систем. Рефлекторно-сегментарный массаж крайне эффективен при головных болях, обусловленных спазмом сосудов головного мозга и его оболочек. В этом случае эффект достигается благодаря сосудорасширяющему рефлекторному действию массажа. Рефлекторно-сегментарный массаж проводится как отдельно, так и вместе с общим классическим медицинским массажем для усиления оздоровительного эффекта. 
      %td
    %tr
      %td 25
      %td Соединительно-тканный по зонам
      %td 450-550
    %tr
      %td 
      %td.italic Соединительнотканный массаж воздействует на организм через вегетативную нервную систему,оказывая нормализующее влияние на вегетативно управляемые функции. 
      %td
    %tr
      %td 26
      %td Шведский общий
      %td 1300-1500
    %tr
      %td 
      %td.italic Данный вид массажа показан при заболеваниях суставов как восстановительный после травм и оперативного вмешательства, а также при хроническом стрессе, депрессии, нарушениях сна. 
      %td
    %tr
      %td 27
      %td Финский по зонам
      %td 500-600
    %tr
      %td 
      %td.italic Финская система массажа начала свое формирование от техники разминания, применяемой в Финляндии в XVIII в. при посещении саун. Современный финский массаж принято совмещать с баней, а также с другими тепловыми процедурами, финский массаж предназначен для тонких групп мышц, расположенных вдоль позвоночника и вокруг суставов, и хорошо зарекомендовал себя при лечении болей в спине. 
      %td
    %tr
      %td 28
      %td Общий массаж 
      %td 1500-1800
    %tr
      %td 29
      %td Общий массаж (7 - 12 лет) 
      %td 1000
    %tr
      %td 30
      %td Общий массаж (12 - 17 лет) 
      %td 1200
    %tr
      %td 
      %td.italic Является классическим оздоровительным массажем. Он оказывает оздоровительное действие как самостоятельно, так и в комплексе с другими оздоровительными мероприятиями. Эта замечательная оздоровительная процедура вляется средством профилактики заболеваний, залогом долговременного сохранения работоспособности. 
      %td
    %tr
      %td 31
      %td Антицеллюлитный 
      %td 1300-1500
    %tr
      %td 32
      %td Антицеллюлитный по зонам 
      %td 600-800
    %tr
      %td 
      %td.italic Методика антицеллюлитного массажа направлена на комплексное улучшение состояния стенок кровеносных сосудов, стимуляцию притока и оттока крови лимфы и межклеточной жидкости в определённых частях организма с помощью специальных массажных техник. Это приводит к быстрому, мощному и стабильному результату: устранение целлюлита и излишков жировых отложений, и, как следствие, — избавление от лишних килограммов. Так же антицеллюлитный массаж способствует выведению шлаков и улучшает обменные процессы в организме, что также способствует сжиганию подкожного жира. 
      %td
    %tr
      %td 33
      %td Пресс-роллинг 
      %td 1400
    %tr
      %td 34
      %td Пресс-роллинг по зонам 
      %td 500-600
    %tr
      %td 
      %td.italic Этот массаж проводится без смазывающих средств, через легкую одежду или простыню. В этой технике отсутствует элемент проскальзывания руки массажиста по коже пациента, поэтому применяются иные формы воздействия Основные группы приемов – качение (роллинг), надавливание, потряхивание и мобилизации суставов. 
      %td
    %tr
      %td 35
      %td Миопластический (все тело) 
      %td 2800
    %tr
      %td 36
      %td Миопластический (ягодицы + бедра) 
      %td 1500-1800
    %tr
      %td 37
      %td Миопластический (живот+руки) 
      %td 1300
    %tr
      %td 38
      %td Миопластический (спина+живот+ягодицы + бедра) 
      %td 2000-2500
    %tr
      %td 
      %td.italic Авторская методика массажа, направленная на глубокую проработку тканей с целью снять мышечное напряжение, открыть глубокие кровеносные тоннели и размягчить уплотненные ткани. Происходит качественная проработка каждого сегмента, благодаря этому устраняются  патологические изменения в тканях, ликвидируются застойные процессы, улучшается кровоток, повышается доступ к тканям кислорода и питательных веществ,  активизируется адекватный лимфоотток и  из организма выводятся все шлаки и другие токсические вещества. 
      %td
    %tr
      %td 39
      %td Медовый 
      %td 1200
    %tr
      %td 
      %td.italic Интенсивно очищает кожу, техника массажного воздействия включает в себя элемент активного пилинга. Массаж улучшает кровоток и дыхание через кожу. Как говорили древние целители, мед лучше чего-либо другого "кормит кожу". Медовый массаж представляет собой чрезвычайно эффективный метод профилактики вегетососудистой дистонии, нарушений работы внутренних органов, при лечении бронхитов, затяжных пневмоний, при пониженном иммунитете, хорошо восстанавливает нормальную работу всех суставов. Благодаря тому, что мед отлично питает все ткани, при длительном курсе медового массажа излечивается остеохондроз, являющийся следствием нарушения именно трофических процессов в позвоночнике. 
      %td
    %tr
      %td 40
      %td Баночный 
      %td 1300
    %tr
      %td 
      %td.italic В основе лежит оказание активного воздействия на тело человека при помощи вакуума, который создается в специальной банке, предназначенной для массажа. Особенная польза баночного массажа заключается в том, что в местах присасывания банок к телу усиливается кровообращение и лимфообращение в тканях, коже и органах, производится активное питание тканей. 
      %td
    %tr
      %td 41
      %td Точечный Китайский (общий) 
      %td 2000-2200
    %tr
      %td 
      %td.italic Данный вид массажа является великолепным способом избавления от головных болей, болезненных проявлений в суставах. Наблюдается положительный эффект при: артрите; язве желудка; миозите; ишиасе, запоре; бронхиальной астме. Воздействует на определённые точки, находящиеся на голове, спине и животе, массажист восстанавливает нормальную циркуляцию жизненной энергии Ци и способствует улучшению работы организма пациента. Кроме того, китайский массаж также обладает отменным антицеллюлитным эффектом. 
      %td
    %tr
      %td 42
      %td Меридианный 
      %td 1800-2000
    %tr
      %td 
      %td.italic Согласно древнекитайским трактатам по медицине, жизненная энергия «Чи» циркулирует в организме по меридианам – тонким энергетическим каналам, пронизывающим всё тело человека. При блокировании энергии возникает дисбаланс, затем и заболевание в соответствующем меридиану органе. Меридианный массаж необходим для свободного течения энергии в организме человека. 
      %td
    %tr
      %td 43
      %td Дренажный 
      %td 1300-1500
    %tr
      %td 
      %td.italic Это прекрасное оздоровительное средство при травмах опорно-двигательной системы, заболеваниях костной и мышечной систем организма, варикозе, отеках, лимфостазе. Дренажный массаж, выполненный профессиональным массажистом, полностью избавляет от отечности, устраняя, тем самым, сдавленность сосудов. Дренажный массаж улучшает циркуляцию крови, лимфы и межклеточной жидкости. Благотворно влияя на протекание метаболических процессов, дренажный массаж является прекрасным средством для профилактики гипоксии клеток и тканей организма. Курс дренажного массажа полностью излечивает варикозное расширение вен на начальной стадии, является тонизирующим средством. Уже после первых процедур такого массажа исчезнет боль в мышцах ног, суставах, восстановится кровяная циркуляция и лимфодренаж, улучшится общее состояние и настроение, повысится работоспособность. 
      %td
    %tr
      %td 44
      %td Гемолимфодренажный 
      %td 1400-1600
    %tr
      %td 
      %td.italic Этот массаж представляет собой комплекс действий, направленных на лечение и профилактику варикозного расширения вен на ногах. Применяют этот массаж и для восстановления функций опорно-двигательной системы, снятия отеков и а также устранения усталости и повышение тонуса мышц. 
      %td
    %tr
      %td 45
      %td Лимфодренажный 
      %td 1500-1800
    %tr
      %td 
      %td.italic Показан при выраженном отечном синдроме, варикозном расширении вен. Он так же успешно применяется в программах снижения массы тела, коррекции фигур и сочетается с программой по детоксикации организма. 
      %td
    %tr
      %td 46
      %td Сколиоз 
      %td 800-1300
    %tr
      %td 
      %td.italic Лечение сколиоза является комплексным и включает в себя не только посещение мануального терапевта, но и лечебную гимнастику, не только коррегирующую, но и укрепляющую мышечный корсет, физиотерапию, ношение корсета  и, конечно же, массаж. Массаж при сколиозе показан в любом возрасте и в разных стадиях развития сколиоза. Целью такого массажа является улучшение лимфообращения и кровообращения, укрепление мышцы спины, уменьшение ощущения усталости мышц, боли в спине, выравнивание осанки. Рекомендуемый курс на усмотрение специалиста, но не менее 15 сеансов. 
      %td
    %tr
      %td 47
      %td Ишиас, люмбалгия (люмбоишалгия) 
      %td 800-1000
    %tr
      %td 
      %td.italic Ишиалгия- это невралгия седалищного нерва. Различают верхний, нижний и средний ишиас. При устойчивом ишиасе, вызванном сдавлением нервов в пояснично-крестцовом отделе позвоночника, иногда может потребоваться оперативное лечение. Своевременное обращение к специалистам. Люмбалгия – клинический симптом, для которого характерна боль в пояснице с иррадиацией в ягодичную область, внутреннюю и/или заднюю поверхность бедра либо без оной. При наличии иррадиации мы имеем право говорить о присоединении к синдрому люмбалгии ишиаса (компрессия ветвей седалищного нерва), или о люмбоишиалгии. 
      %td
    %tr
      %td 48
      %td Логопедический 
      %td 600-800
    %tr
      %td 
      %td.italic Это один из методов коррекционно-педагогического воздействия, используемых при коррекции тяжелых речевых нарушений. Это нетрадиционный и эффективный метод коррекции звукопроизношения, т.к. логопедический массаж способствует нормализации произносительной стороны речи, улучшает состояние голоса, речевого дыхания, нормализует эмоциональное состояние человека, страдающего речевыми нарушениями. Логопедический массаж является составной частью комплексной медико-педагогической системы реабилитации детей, подростков и взрослых, страдающих речевыми нарушениями. 
      %td
    %tr
      %td 49
      %td Перкуссионный (спина) 
      %td 500-700
    %tr
      %td 
      %td.italic Массаж включает элементы общего массажа, проводится китайскими и бамбуковыми палочками. Массаж китайскими палочками (перкус – в переводе палочка) весьма эффективен при ожирении, избыточном весе, умственном и физическом переутомлении, для улучшения состояния кожи, коррекции фигуры. 
      %td
    %tr
      %td 50
      %td Детский (до 1 г.) 
      %td 500-600
    %tr
      %td 51
      %td Детский (до 3 л.) 
      %td 400-600
    %tr
      %td 52
      %td Дисплазия (старше 3 л.) 
      %td 600-800
    %tr
      %td 
      %td.italic Дисплазия тазобедренного сустава (порок развития всех элементов сустава). У новорожденного формирование сустава не завершено, поэтому очень важна ранняя диагностика и лечение заболевания. 
      %td
    %tr
      %td 53
      %td Плоскостопие (до 12 л.) 
      %td 700-800
    %tr
      %td 
      %td.italic Массаж при плоскостопии – это целый лечебный курс, комплекс регулярных процедур. Единичные занятия действенного эффекта не производят. Стандартный курс включает в среднем не менее 12 процедур, выполняемых через день. Многие специалисты рекомендуют перед тем, как приступить к непосредственному массажу свода стопы, уделить внимание пояснице. Ведь именно в поясничном отделе спинного мозга начинается иннервация ног. Поэтому предварительный массаж поясницы сделает массаж ног более эффективным.
      %td

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
   
