.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('logotyp.png',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Мбутука Роман', :title => 'Мбутука Роман')
    %h3.white Мбутука Роман Чолавич 
    %h4.white дата рождения 11.07.1985
    %h4.white стаж работы 9 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.orange Сертификаты Мбутука Романа Чолавича
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('mbutuka1.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka2.JPG',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('mbutuka3.JPG',  :class => 'class_large_my_2', height: "100", width: "156")


    %br
  %br

         
