.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %br
    %br
    %br
    %br
  .container_viel{:align => 'center'}
    =image_tag('obuhovskij.jpg',  :class => 'img-rounded', height: "100", width: "230", :alt => 'Обуховский Сергей', :title => 'Обуховский Сергей')
    %h3.OrangeRed Обуховский Сергей Сергеевич
    %h4.black Учился в Государственном Израильском медицинском университете. В Израиле прошел большую практику и участвовал в 3 конференциях. Разработал авторскую методику по коррекции осанки (сколиоз). С 14 лет начал заниматься мануальной терапией. Преподаватель – Александр Гофман. Лечит людей от болей и напряжений в спине, от остеохондроза, миозита, лордоза, кифоза и сколиоза. Помог более 120 людям при заболеваниях в позвоночнике. Самый сложный случай – женщина с болями в спине, упавшая с 5-го этажа дома.
    %h4.black Девиз: «С какой бы проблемой ни обратился ко мне клиент, всегда приму и сделаю все, чтобы избавить его от боли.»
    %h4.black дата рождения  31.05.1993
    %h4.black стаж работы 5 лет

    .accordion{:id=> 'accordion2'}
      .accordion-group
        .accordion-heading
          %a{:class => "accordion-toggle", :'data-toggle' => "collapse", :'data-parent' => "#accordion2", :href => "#collapseOne"} 
            %h3.OrangeRed Сертификаты Обуховский Сергея Сергеевича
        #collapseOne{:class => "accordion-body collapse in"}
          .accordion-inner

            = image_tag('obuhovskij1.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('obuhovskij2.jpg',  :class => 'class_large_my_2', height: "100", width: "300")
            = image_tag('obuhovskij4.jpg',  :class => 'class_large_my_2', height: "100", width: "300")

            = image_tag('obuhovskij3.jpg',  :class => 'class_large_my_2', height: "100", width: "156")


 
    %br
  %br

         
