.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %hr
  .container_viel2{:align => 'center'}
    %h3.black Массажисты:
    %br
    .span3
      =image_tag('bychik.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Бычик Виолетта', :title => 'Бычик Виолетта')
    .span9
      %h4.black.strong Бычик Виолетта Вячеславовна
      %p.black   руководитель центра, преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г., Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014г."
      %p.black дата рождения 17.07.1973, стаж работы 19 лет
      =link_to "Подробнее...", bychik_viel_index_path
     
  
  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('mbutuka.jpg',  :class => 'img-rounded', height: "100", width: "150", :alt => 'Мбутука Роман', :title => 'Мбутука Роман')
    .span9
      %h4.black.strong Мбутука Роман Чолавич
      %p.black   дата рождения 11.07.1985, стаж работы более 10 лет
      =link_to "Подробнее...", mbutuka_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('yakubjanova.JPG',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Якубджанова София', :title => 'Якубджанова София')
    .span9
      %h4.black.strong Якубджанова София Рафиковна
      %p.black   дата рождения 18.07.1979, стаж работы 6 лет
      =link_to "Подробнее...", yakubjanova_viel_index_path

  %hr
  %br
  .container{:align => 'center'}
    %h3.black Мануальный терапевт:
    %br
    .span3
      =image_tag('obuhovskij.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Обуховский Сергей', :title => 'Обуховский Сергей')

    .span9
      %h4.black.strong Обуховский Сергей Сергеевич
      %p.black   дата рождения 31.05.93 , стаж работы 5 лет. 
      =link_to "Подробнее...", obuhovskij_viel_index_path



  %hr
  %br
  .container{:align => 'center'}
    %h3.black Косметологи:
    %br
    .span3
      =image_tag('zadorozhnaya.JPG',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Задорожная Вероника', :title => 'Задорожная Вероника')

    .span9
      %h4.black.strong Задорожная Вероника Витальевна
      %p.black   дата рождения 04.05.1977, стаж работы 14 лет
      =link_to "Подробнее...", zadorozhnaya_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('rudenko.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Руденко Светлана', :title => 'Руденко Светлана')
    .span9
      %h4.black.strong Руденко Светлана Владимировна
      %p.black   дата рождения 21.12.1983г, стаж работы 7 лет
      =link_to "Подробнее...", rudenko_viel_index_path


  %br
  %hr
  .container{:align => 'center'}
    %h3.black Психологи:
    %br
    .span3
      =image_tag('sharevich.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Шаревич Юлия', :title => 'Шаревич Юлия')

    .span9
      %h4.black.strong Шаревич Юлия Борисовна
      %p.black (детский психолог)
      %p.black дата рождения 03.07.1976, стаж работы 3 года  
      =link_to "Подробнее...", sharevich_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('sidenko.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Сиденко Вера', :title => 'Сиденко Вера')
    .span9
      %h4.black.strong Сиденко Вера Борисовна
      %p.black (взрослый, семейный психолог)
      %p.black   дата рождения 30.10.1971г, стаж работы 10 лет
      =link_to "Подробнее...", sidenko_viel_index_path


  %br
  %hr
  .container{:align => 'center'}
    %h3.black Визажист:
    %br
    .span3
      =image_tag('lupandina.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Лупандина Анна', :title => 'Лупандина Анна')

    .span9
      %h4.black.strong  Лупандина Анна Алексанровна
      %p.black дата рождения 29.12.1990, стаж работы 7лет  
      =link_to "Подробнее...", lupandina_viel_index_path

  %br
  %hr
  .container{:align => 'center'}
    %h3.black Астролог:
    %br
    .span3
      =image_tag('svetlova.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Светлова Милена', :title => 'Светлова Милена')

    .span9
      %h4.black.strong   Светлова Милена Валерьевна
      %p.black дата рождения 30.12.1973, стаж работы  
      =link_to "Подробнее...", svetlova_viel_index_path
 
    %br
  %br

         
