.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Наши специалисты
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} "Цель коллектива центра здоровья и красоты  «Виэль» — тесное сотрудничество с клиентами в доброжелательной и доверительной атмосфере. Сочетание демократических цен, качества, внимательное отношение ко Всем посетителям сделают приятным и комфортным прибывание в нашем центре."
    %br
    %hr
  .container{:align => 'center'}
    %h3.black Массажисты:
    %br
    .span3
      =image_tag('bychik.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Бычик Виолетта', :title => 'Бычик Виолетта')
    .span9
      %h4.black.strong Бычик Виолетта Вячеславовна
      %p.black   руководитель центра, преподаватель лечебных техник и SPA методик, «Виртуоз России» V-го Чемпионата SPA массажа 2013г., дата рождения 17.07.1973, стаж работы 19 лет
      =link_to "Подробнее...", bychik_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('mbutuka.jpg',  :class => 'img-rounded', height: "100", width: "150", :alt => 'Мбутука Роман', :title => 'Мбутука Роман')
    .span9
      %h4.black.strong Мбутука Роман Чолавич
      %p.black   дата рождения 11.07.1985, стаж работы 9 лет
      =link_to "Подробнее...", mbutuka_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('yakubjanova.JPG',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Якубджанова София', :title => 'Якубджанова София')
    .span9
      %h4.black.strong Якубджанова София Рафиковна
      %p.black   дата рождения 18.07.1979, стаж работы 6 лет
      =link_to "Подробнее...", yakubjanova_viel_index_path
  %hr
  %br
  .container{:align => 'center'}
    %h3.black Косметологи:
    %br
    .span3
      =image_tag('zadorozhnaya.JPG',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Задорожная Вероника', :title => 'Задорожная Вероника')

    .span9
      %h4.black.strong Задорожная Вероника Витальевна
      %p.black   дата рождения 04.05.1977, стаж работы 14 лет
      =link_to "Подробнее...", zadorozhnaya_viel_index_path

  .container{:align => 'center'}
    %br
    %br
    .span3
      =image_tag('hramcovskaya.JPG',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Храмцовская Капитолина', :title => 'Храмцовская Капитолина')
    .span9
      %h4.black.strong Храмцовская Капитолина Евгеньевна
      %p.black   дата рождения 10.03.1990, стаж работы 4 года 
      =link_to "Подробнее...", hramcovskaya_viel_index_path

  %br
  %hr
  .container{:align => 'center'}
    %h3.black Психолог:
    %br
    .span3
      =image_tag('sharevich.jpg',  :class => 'img-rounded', height: "100", width: "175", :alt => 'Шаревич Юлия', :title => 'Шаревич Юлия')

    .span9
      %h4.black.strong Шаревич Юлия Борисовна
      %p.black дата рождения 03.07.1976, стаж работы 3 года  
      =link_to "Подробнее...", sharevich_viel_index_path
 
    %br
  %br

         
