.masthead
  %title Пилинг в Краснодаре
  %keywords{:content =>'пилинг, пилинг лица, чистка лица, пилинг краснодар'}
  %description{:content =>'Пилинг лица в Краснодаре по доступным ценам в центре здоровья и Красоты Виэль.'}
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Пиллинги
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel.OrangeRed{:align => 'center'}
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "307")
    %br
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} Пилинг как средство обновления кожных покровов появился в Древнем Египте и по сей день считается самым доступным и эффективным. В современной косметологии для снятия ороговевшего слоя кожи применяют следующие методики:
    %br Химический пилинг – один из самых популярных. Он выполняется при помощи специальных химических средств, которые вызывают ожог наружного слоя кожи с его последующим отслоением. В Средние века чистка лица проводилась винной кислотой, в современности самой щадящей считается гликолевая.
    %br Механический пилинг лица осуществляется путем воздействия вращений щеток из натурального ворса на распаренную кожу. Как следствие – ороговевшие частицы кожи разрыхляются, при этом улучшается кровоснабжение и обмен веществ. Процедура длительностью в 10 минут не приносит болевых ощущений.
    %br Ультразвуковой пилинг лица. Название говорит само за себя – направленные на определенные участки кожи ультрафиолетовые лучи бережно и нежно очищают кожу, разглаживают мелкие морщинки.
    %br Выполнив качественный пилинг (Краснодар) после первой процедуры можно заметить кардинальные переменны – улучшение цвета, поры заметно ссужаются, разглаживаются мелкие морщины, а глубокие становятся менее заметными. Благодаря глубокому увлажнению кожа становится бархатистой и гладкой. 
    %br

  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Время
      %th Цена, руб.
    %tr
      %td 
      %td{:align => 'center'} ПИЛЛИНГИ
      %td
      %td 
    %tr
      %td 1
      %td Скрабирование тела:
      %td 30 мин 
      %td 1000-1300
    %tr
      %td 
      %td.italic Пилинг появился в Древнем Египте как один из методов очищения кожи. В Средние века в качестве химического пилинга использовалось вино, а винная кислота выступала в роли активного агента. В Азии пилинг также начали использовать в период Средних веков, и местная практика этой процедуры здесь насчитывает не одну сотню лет. Любой вид пилинга истончает роговой слой, удаляет мелкие комедоны, облегчает доступ к более глубоким слоям кожи, расширяет поры и смягчает кожу, что часто делает пилинг подготовительным процессом для последующих процедур. Также пилинг усиливает деление клеток базального слоя, и кожа становится гладкой и светлой, приобретая более молодой и здоровый вид.
      %td 
      %td 
    %tr
      %td 
      %td - маковое
      %td
      %td 
    %tr
      %td 
      %td - чайное
      %td
      %td 
    %tr
      %td 
      %td - кофейное
      %td 
      %td 
    %tr
      %td 
      %td - сахарное
      %td
      %td 
    %tr
      %td 
      %td - солевое
      %td
      %td 
    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
