.masthead
  %title Татуаж бровей и перманентный макияж
  %keywords{:content =>'татуаж, перманентный макияж, татуаж губ, татуаж век,татуаж глаз, татуаж бровей, татуаж краснодар, тату'}
  %description{:content =>'Центр Виэль оказывает широкий спектр устуг по татуажу любых зон. Татуаж бровей и губ приятно удивит результатом'}
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} ТАТУ, ТАТУАЖ
  %hr   
  .container_viel.OrangeRed{:align => 'center'} 
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} В современном мире развитие косметических технологий не стоит на месте и ежедневно расширяется, привнося в нашу жизнь что-то новое. Одним из таких нововведений является татуаж или перманентный макияж. Татуаж представляет собой введение специальных красящих пигментов в верхние слои кожного покрова, придавая тем самым эффект постоянного макияжа на длительный срок. Перманентный макияж позволяет изменить форму объем губ, исправить ассиметрию бровей, а тату позволяеит скрыть дефекты кожи. Это позволяет Вам  сэкономить  время, благодаря чему Вы сможете выглядеть превосходно всегда.
    %br Татуаж обладает неоспоримыми преимуществами:
    %li не смывается водой
    %li с его помощью можно создать максимально естественные веснушки или родинки
    %li с использованием татуажа отпадает надобность ежедневном нанесении макияжа
    %br Перманентный макияж -  способ цветокоррекции формы различных участков тела, например, бровей, губ или век, при этом, что немаловажно, особо не причиняя вред коже. Процедуру татуажа определяют к ряду медицинских.
    %br Татуаж бровей отлично подойдет для тех женщин, которые устали постоянно мучить себя болезненным выщипыванием бровей. Татуаж бровей оформляется в виде тонкой линии или же может в точности повторять форму естественных бровей.
    %br Если же вы хотите корректировать форму губ или же придать им пикантный объем, то все известные новые технологии татуажа губ в кашим услугам.
    %br Татуаж глаз позволит вам, милые дамы, надолго забыть о постоянно и наскучившей подводке глаз. При помощи татуажа глаз вы сможете красиво подчеркнуть форму глаз и зрительно их увеличить.
    %br При татуаже век наносится очень тончайшая линия практически вплотную к корням ресниц, дабы акцентировать внимание  и зрительно увеличить глаза.
    %br Как Вы уже успели заметить, перманентный макияж становится незаменимым помощником при замене классического макияжа, именно он позволяет сэкономить ваше драгоценное время и нервы.
  %hr


  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
   
