.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h3{:'font-family' => 'font-centr'} 
      =link_to 'Программные сертификаты'
  %hr    
    %h4.italic.white{:'font-family' => 'font-centr', :align => 'right'} Вы выбираете одну из предложенных нашим центром разработанных SPA программ, которая отвечает критериям пола, возраста, предпочтениям реципиента, а также требованиям бюджета. Предложенные SPA пакеты с красивыми говорящими названиями позволят Вам быстро и безошибочно определиться с подарком.
    %br
    %br
    %br
    %p.italic.white{:'font-family' => 'font-centr'} Центр красоты и здоровья "Виэль" предлагает Вам воспользоваться системой подарочных сертификатов, удовлетворяющей самым изысканным вкусам, пожеланиям и бюджету. Его стильное оформление избавит Вас от необходимости заботиться о достойной упаковке.
    
    %br
  
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    



