.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Психолог
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "307")
    %br
    %br

  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Вид консультации
      %th Время
      %th Цена, руб.

    %tr
      %td 1
      %td Дети до 10 лет 
      %td 40 мин
      %td 900
    %tr
      %td 2
      %td Подростки 10-18 лет
      %td 1 час
      %td 1100
    %tr
      %td 3
      %td Взрослые от 18 лет 
      %td 1 час
      %td 2500
    %tr
      %td 4
      %td Семья (пара) 
      %td 1 час
      %td 3000
    %tr
      %td 5
      %td Групповые тренинги 
      %td 2,5 ч.
      %td 4000


    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
