.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} SPA-процедуры
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    = image_tag('spa1.jpg',  :class => 'img-rounded', height: "231", width: "177")
    = image_tag('spa2.jpg',  :class => 'img-rounded', height: "231", width: "290")
    = image_tag('spa3.jpg',  :class => 'img-rounded', height: "231", width: "286")
    %br
    %br
  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Время
      %th Цена, руб.

    %tr
      %td 
      %td{:align => 'center'} SPA - МАССАЖ
      %td 
    %tr
      %td 1
      %td Массаж для беременных
      %td 50 мин
      %td 1400
    %tr
      %td 
      %td.italic Главный принцип процедуры СПА для беременных - не навредить здоровью матери и ее будущему малышу. В комплекс процедуры входит массаж головы, воротниковой зоны, рук и ног.
      %td 
    %tr
      %td 2
      %td Массаж стоп "стопы Будды" (стопы)
      %td 30 мин
      %td 800
    %tr
      %td 3
      %td Массаж стоп "стопы Будды" (стопы + всё тело)
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td.italic Массаж выполняется лежа на полу, ногами по всему телу – разминающими, ударными и мелкими вибрационными движениями стоп. Результатом является снятие мышечного и нервного напряжения, освобождение от блоков и зажимов, улучшение общего кровообращения и лимфотока. Достигается эффект освобождение энергетических каналов, запускаются глубинные (внутри клеток) иммунные процессы само регуляции организма. Активизируется обмен веществ и повышается стрессоустойчивость, что в свою очередь способствует возвращению стройности фигуры, достижению ощущения легкости, гармонии, расслабления и тонуса.  
      %td 
    %tr
      %td 4
      %td	SLIM-массаж Азиатский
      %td 30мин
      %td 1300
    %tr
      %td 
      %td	
      %td 60мин
      %td 2000
    %tr
      %td 
      %td.italic Этот массаж выполняется южно-азиатским антицеллюлитным кремом с глубокой проработкой жировой ткани. Результаты впечатляют своей быстротой и видимостью. 
      %td 
    %tr
      %td 5
      %td Ба-гуа массаж в 2 руки
      %td 60 мин
      %td 2200
    %tr
      %td 6
      %td Ба-гуа массаж в 4 руки
      %td 60 мин
      %td 3800
    %tr
      %td 
      %td.italic Это современная концепция оздоровления человека, адаптированная для проведения великолепной по своей эффективности СПА-процедуре. Корни БАГУА уходят в оздоровительные практики древнего Китая. Движения выполняются мастером в традиции древней оздоровительной системы Тай-цзи и Багуаджан с использованием более 50 уникальных приемов.
      %td 
    %tr
      %td 7
      %td Аюрведический (тело + голова) 
      %td 60 мин
      %td 2200
    %tr
      %td 
      %td.italic Представляет собой соединение индийской системы естественного исцеления и уникальной техники проработки мягких тканей и мышц. Эффект аюрведического массажа: глубокая релаксация, детоксикация организма, здоровые суставы, улучшение лимфодренажа, активизация кровообращения. представляет собой соединение индийской системы естественного исцеления и уникальной техники проработки мягких тканей и мышц. Эффект аюрведического массажа: глубокая релаксация, детоксикация организма, здоровые суставы, улучшение лимфодренажа, активизация кровообращения.
      %td 
    %tr
      %td 8
      %td - Абъянга
      %td 60 мин
      %td 1700
    %tr
      %td 
      %td.italic Это масляный массаж, который проникает глубоко в кожу, расслабляет тело, расщепляет нечистоты, стимулирует как артериальную, так и лимфатическую циркуляцию, усиливает продвижение питательных веществ к изголодавшимся клеткам и обеспечивает удаление застоявшихся отходов. Абъянга предотвращает и замедляет процессы старения, избавляет от хронической усталости, улучшает зрение, питает тело, увеличивает продолжительность жизни, улучшает сон, обеспечивает крепость тела. 
      %td 
    %tr
      %td 9
      %td - Мукха Абъянга
      %td 30 мин
      %td 900
    %tr
      %td 
      %td.italic Массаж лица, головы, шеи, зоны декольте. С помощью особой техники выполнения и смесей  лекарственных масел действует локально и рефлексивно: локально он подтягивает и омолаживает кожу лица, а рефлексивно действует на все тело. Снимает напряжение мышц и последствия стрессов, сглаживая морщины и придавая мягкость выражению лица.
      %td 
    %tr
      %td 10
      %td - Марма-терапия
      %td 30 мин 
      %td 2000
    %tr
      %td 
      %td.italic Это самая древняя из известных ныне техник восполнения жизненной энергии и восстановления обмена веществ. Точные и деликатные прикосновения к особым точкам тела (мармам) оказывают энергетическое воздействие на глубинные структуры мозга и эндокринную систему. Тело и ум возвращаются на высокий энергетический уровень. Результатом Марма-терапии являются радость, спокойствие, хороший сон, отсутствие тревоги и депрессии.
      %td 
    %tr
      %td 11
      %td !!! Гречишный !!!
      %td 90 мин
      %td 2500
    %tr
      %td 
      %td.italic Этот массаж на Руси существовал издревле. Знахари, ведуны, православные монахи лечили горячими целебными травами с гречневой крупой разные хвори. Гречка помогает не только от телесных недугов, но и при «пустоте душевной» и «суете разума», т.е. используется в качестве антидепрессанта. Данный массаж активизирует биологические стимуляторы, нормализует ЦНС, устраняет заболевания периферической нервной системы, улучшает тонус мышц, восстанавливает упругость кожи, уменьшает жировые отложения. А так же пилинг тела, «кожа, как у младенца».  
      %td 
    %tr
      %td 12
      %td Стоун-терапия
      %td 60 мин
      %td 2300
    %tr
      %td 
      %td.italic Это массаж горячими  камнями, один из древнейших методов релаксации и оздоровления, имеющий за своими плечами тысячелетнюю историю. Стоун-массаж позитивно влияет на деятельность сердечно-сосудистой и дыхательной систем, способствует нормализации артериального давления, стимулирует центральную и вегетативную нервную систему. Регулярные сеансы  стоун-терапии помогают адаптироваться организму к стрессам, снять синдром хронической усталости, укрепить иммунную систему, исцелиться физически, энергетически и духовно. 
      %td 
    %tr
      %td 13
      %td.OrangeRed Волшебная  процедура, авторская методика «Шелковый путь»
      %td 60 мин 
      %td 2500
    %tr
      %td 
      %td.italic Включает массаж всего тела. Имеет лимфодренажную направленность, воздействует на основные меридианы и на биологически активные точки. «Шелковый путь» включает в себя расслабление спины, снятие основных мышечных блоков, дренаж поверхностный и глубинных тканей для улучшения лимфо-  и кровообращения, моделирование проблемных зон. Изюминкой данного ритуала являются саморазогревающиеся «Массажные камни» с уникальным минеральным составом, с помощью которых происходит мощное воздействие на энергетические точки. В результате данной программы тело наполняется жизненной силой, улучшаются психоэмоциональный настрой и самочувствие, «округлости» уменьшаются, а кожа приобретает упругость и шелковистость.  
      %td
    %tr
      %td 14
      %td Балинезийский
      %td 60 мин
      %td 2200
    %tr
      %td 
      %td.italic Искусство этого расслабляющего массажа основано на традиционной балийской технике и передается из поколения в поколение. Совокупность этих приемов способствуют улучшению лимфо- и кровообращения, снимает нервное и мышечное напряжение, восстанавливает внутренний баланс организма, обеспечивает прекрасное самочувствие и настроение. При выполнении этой экзотичной процедуры применяются различные смеси натуральных масел - кокосового ореха, розы, винограда и жасмина. Лечебные свойства ароматических масел в сочетании с массажными движениями способствуют питанию, увлажнению кожи и полному расслаблению тела.  
      %td
    %tr
      %td 15
      %td Индонезийский
      %td 60 мин
      %td 1800
    %tr
      %td 
      %td.italic Индонезия - страна мистики и тайны, красочных обрядов и ритуалов. Индонезийский архипелаг славится различными массажными техниками, которые не только глубоко расслабляют тело, снимают стресс и усталость, но и лечат различные заболевания, повышают общий тонус организма. В большинстве разновидностей индонезийских массажей используются лекарственные средства, полученные из эфирно-масличных растений и пряностей, выращенных на островах Ява, Суматра, Калимантан (Борнео), Сулавеси, Новая Гвинея.  
      %td
    %tr
      %td 16
      %td Энергетический висцеральный
      %td 30 мин
      %td 900
    %tr
      %td 
      %td.italic Энергетический массаж позволяет гармонизировать энерго-вибрационную структуру человека, что приводит к расширению осознания, увеличению светимости энергетического тела (просветлению) и, как естественному следствию, к оздоровлению физического тела». Такой массаж производится в медитативно-погруженном состоянии с настройкой на гармонизацию, активизацию и самовосстановление физических и тонкоматериальных процессов обратившегося человека. Энергетический массаж позволяет гармонизировать энерго-вибрационную структуру человека, что приводит к расширению осознания, увеличению светимости энергетического тела (просветлению) и, как естественному следствию, к оздоровлению физического тела».  
      %td
    %tr
      %td 17
      %td Хиромассаж тела
      %td 60 мин
      %td 2200
    %tr
      %td 
      %td.italic Это не разновидность ухода за кожей лица и тела, а целый комплекс профессиональных приемов, которые способны оказывать на тело женщины невероятно мощный косметологический и лечебный эффект. Процедура хиромассажа позволяет добиться полной нормализации деятельности сальных желез, способствует снятию усталости мышц, регенерации клеток, профилактике отечностей. Кроме того, хиромассаж дает невероятно мощный лифтинговый эффект: всего за несколько процедур можно добиться заметного сглаживания кожных покровов и заметного уменьшения целлюлита.  
      %td
    %tr
      %td 18
      %td Массаж Гуаша
      %td 60 мин
      %td 2200
    %tr
      %td 
      %td.italic Китайский массаж гуаша. Перевод этого названия: гуа - движение в одну сторону, скрести; ша - плохое, т. е. «скрести всё плохое». Массаж гуаша включает 3 основных метода воздействия: се-гуа - движения быстрые, с сильным нажимом (метод рассеивания); бу-гуа - медленно со слабым нажимом; пинь-бу пинь-се: медленно с сильным нажимом. Используются скребки различной конфигурации из нефрита или рога китайских животных. Массаж проводится по специальному маслу.  
      %td
    %tr
      %td 19
      %td Фитнес массаж
      %td 60 мин
      %td 1900
    %tr
      %td 
      %td.italic Это одна из самых эффективных и современных мануальных методик коррекции фигуры. Данная методика является симбиозом мануальных классических методик, лимфодренирующих техник, а также системного применения активных статических и динамических физических упражнений. Результат:  
      %td
    %tr
      %td 
      %td.italic • Нормализация  крово- и лимфообращения, ликвидация застойного явления в органах и тканях, нормализация обменных процессов , в следствии гарантированная потеря избыточной массы тела, изменение структуры кожи(повышение упругости и эластичности, а также защитной функции кожи), повышение жизненного тонуса.  
      %td
    %tr
      %td 
      %td.italic • Снижение болезненности для пациента, путем оптимального сочетания нескольких методик  
      %td
    %tr
      %td 
      %td.italic • Ликвидация последствий гиподинамии, нормализация деятельности ОДА, снятие блокировки суставов, нормализация осанки, профилактика сколиозов 
      %td
    %tr
      %td 
      %td.italic • Скульптурирование мышечного корсета, локальная миостимуляция отдельно взятых мышечных групп путем систематизированного применения индивидуального комплекса упражнений (согласно физическому и функциональному состояния организма, а также потребностей клиента) 
      %td
    %tr
      %td 20
      %td Полинезийский массаж в 2 руки
      %td 60 мин
      %td 2200
    %tr
      %td 21
      %td Полинезийский массаж в 4 руки
      %td 60 мин
      %td 2800
    %tr
      %td 
      %td.italic Полинезийский массаж в четыре руки - уникальная возможность всеобъемлюще воздействовать на ваш организм. Вы сможете выйти на новый уровень ощущения и осознания собственного тела. Восстановление энергетического баланса принесет так необходимое в наше время возвращение жизненных сил, повысит жизненный тонус и поможет адаптироваться к стрессам.  
      %td
    %tr
      %td 22
      %td Гигиенический общий
      %td 60 мин
      %td 1800
    %tr
      %td 
      %td.italic Представляет собой совокупность методик и массажных приемов, направленных на общее оздоровление организма. Применение гигиенического массажа направлено на восстановление работы организма и внутренних органов, после полученных травм. Этот массаж способствует снятию мышечного напряжения, улучшения эластичности кожи и повышения общего тонуса организма, замедления процесса старения. Выполнять гигиенический массаж можно как по всему телу, так и отдельной его части, например, по лицу, животу, рукам, ногам или спине.  
      %td
    %tr
      %td 23
      %td Восточный
      %td 60 мин
      %td 1800-2000
    %tr
      %td 
      %td.italic Представляет собой сочетание двух методик: точечного и поверхностного массажа. Восточный массажа оказывается воздействие на биологически активные точки организма (БАТ), тем самым активизируя работу поврежденного органа. В отличие от других видов массажа, восточный массаж проводится без использования смазывающих масел и кремов, что обеспечивает более глубокое воздействие на покровы тела. Кроме того, проводиться данный массаж может не только руками, но и ногами по направлению и от периферии к центру, так и в обратную сторону.  
      %td
    %tr
      %td 24
      %td Массаж бамбуковыми палочками
      %td 60 мин
      %td 1800
    %tr
      %td 
      %td.italic Это разновидность креольского массажа. В процессе сеанса, на мягкие ткани организма воздействуют не руки массажиста, а специально подготовленная твердая бамбуковая древесина. Для каждого участка тела используются палочки разного размера и формы, которые могут быть наполнены писком или зерном. Этот вид массажа, как и мануальный массаж, делается по массажному маслу. Таким образом, достигается плотный и безболезненный контакт палочек с телом. Благодаря особой техники выполнения массажа происходит эффективное воздействие на сосудистую систему организма.  
      %td
    %tr
      %td 25
      %td Чи Ней Цзан
      %td 30 мин
      %td 900
    %tr
      %td 
      %td.italic Чи ней цзан дословно значит "работа энергии внутренних органов" или " трансформация чи внутренних органов". Он использует все принципы Кан-Фу и Тай Чи Чуан известной как Ци-Гун, Чи ней цзан, форма " Прикладной Ци-Гун". воздействие массажа направлено на все системы организма - пищеварительную, дыхательную, лимфатическую, нервную, эндокринную, мочевыделительную, репродуктивную и скелетно-мышечную. Это глубокий и одновременно мягкий массаж брюшной полости.  
      %td
    %tr
      %td 26
      %td Спортивный
      %td 60 мин
      %td 1700-1800
    %tr
      %td 27
      %td Спортивный по зонам
      %td 20-30 мин
      %td 600-800
    %tr
      %td 
      %td.italic Этот вид массажа, который применяется на практике для усовершенствования физических возможностей и увеличения работоспособности спортсменов. Он составляет одно из звеньев в цепи системы спортивной тренировки. Применение этого вида массажа благоприятствует скорейшему достижению спортивной формы, а также ее удержанию. Кроме того, спортивный массаж является хорошей подготовкой для участия в соревнованиях, а также помогает бороться с утомлением.   
      %td
    %tr
      %td 28
      %td Скульптурирующий
      %td 60 мин
      %td 1800-2000
    %tr
      %td 
      %td.italic Это не просто набор приемов и техник, а целая научная система, которая опирается на особенности человеческого организма и имеет четко направленную стратегию воздействия на тело человека с акцентом на проблемные зоны (бедра, живот, ягодицы).С помощью скупьптурирующего массажа можно целенаправленно уменьшить или увеличить объемы тела в тех местах, где Вы считаете это нужным. Проведенные экспериментальные исследования показали, что скульптурирующий массаж за восемь процедур уменьшает проявления целлюлита на 1 степень. Для каждого пациента (мужчины или женщины) составляется индивидуальная программа лечения, позволяющая достичь максимального результата.   
      %td
    %tr
      %td 29
      %td Ломи-Ломи
      %td 60 мин
      %td 1800
    %tr
      %td 
      %td.italic Один из древнейших видов массажа, зародившихся на Полинезийских островах. Это священный массаж, проводимый по всему телу с использованием тёплого масла, в ритме целительной музыки. Дословный перевод названия довольно необычен и звучит как "мягкое прикосновение бархатной лапы довольного кота".   
      %td
    %tr
      %td 30
      %td Энергомассаж чакр
      %td 30 мин
      %td 800
    %tr
      %td 
      %td.italic Это духовно ориентированная форма массажа, которая очень тонко, но эффективно гармонизирует умственную и духовную сферу человеческого организма. Этот метод стимулирует умственное и духовное развитие, помогает развить скрытый потенциал. Посредством энергомассажа чакр можно не только ускорить исцеление заболеваний, его можно использовать также для обретения уравновешенности и душевного спокойствия.   
      %td
    %tr
      %td 31
      %td Вьетнамский энергетический вибрационный висцеральный
      %td 30 мин
      %td 800
    %tr
      %td 
      %td.italic Традиционный вьетнамский массаж сочетает в себе технику надавливания на энергетические каналы и биологически активные точки с воздействием на позвоночник, суставы и энергичные движения, согревающие мышцы.  Благодаря применению традиционно вьетнамских масел и ароматов, происходит глубокое расслабление, нормализуются энергетические потоки, выводятся токсины, повышается упругость кожи, усиливается работоспособность. Вьетнамский массаж снимает мышечное напряжение, улучшает циркуляцию крови и лимфы. В результате активизируется энергетическая система всего организма, гармонизируется физическое и душевное самочувствие, усиливается иммунитет и работоспособность. Происходит глубокое внутреннее расслабление всего тела и обретение покоя.    
      %td
    %tr
      %td 32
      %td Постизометрическая миорелаксация мышц тела (по зонам)
      %td 30 мин
      %td 700-900
    %tr
      %td 33
      %td Постизометрическая миорелаксация мышц лица
      %td 60 мин
      %td 2000
    %tr
      %td 
      %td.italic Постизометрическая релаксация (ПИР) - это метод восстановления нормального тонуса напряженной мышцы, с помощью её растяжения. Результаты применения методики заметно ощущаются уже на первом сеансе миорелаксации: исчезает мышечная боль, болевые точки прекращают остро реагировать на прикосновения, болезненные уплотнения перестают ощущаться.    
      %td
    %tr
      %td 34
      %td Body Refit
      %td 30 мин
      %td 1200
    %tr
      %td 35
      %td Акупрессура по зонам
      %td 30 мин
      %td 700
    %tr
      %td 
      %td.italic В основу точечного массажа положен тот же принцип, что и при проведении метода иглоукалывания, прижигания (чжэнь-цзю-терапия) - с той лишь разницей, что на БАТ воздействуют пальцем или кистью. Всего таких точек описано около 700, но наиболее часто используют всего около 150.    
      %td
    %tr
      %td 36
      %td Шоколадный массаж
      %td 60 мин
      %td 1800-2000
    %tr
      %td 
      %td.italic Направлен на расслабление организма, избавления от стрессов и плохого настроения с помощью шоколадной пасты. Производство шоколадной пасты для целей массажа основано на использовании только чистого шоколада без примесей консервантов и ароматизаторов. Применение такой смеси не оказывает негативных воздействий на работу органов пищеварения и печени, а также нормализует уровень холестерина в крови. Действие шоколадного массажа обладает максимальным расслабляющим эффектом, повышает чувствительность и эластичность кожи.    
      %td
    %tr
      %td 37
      %td Тибетский массаж
      %td 60 мин
      %td 1900
    %tr
      %td 
      %td.italic Главная цель тибетского массажа - восстановление баланса тонких энергий человека. Тибетский линейный массаж охватывает всю биосистему в целом, которая, по воззрениям традиционной медицины, имеет свою проекцию на позвоночник и конечности. Массаж активизирует секрецию синовиальной оболочки сустава, способствует рассасыванию отёков, выпотов и патологических отложений. Вызываемое растиранием перераспределение крови и лимфы в массируемом участке обеспечивает приток кислорода и питательных веществ, что активизирует местное кровообращение, усиливает окислительно-восстановительные процессы. Всё это способствует снятию болей и восстановлению функций позвоночника    
      %td
    %tr
      %td 38
      %td Масляный массаж 
      %td 60 мин 
      %td 1900
    %tr
      %td 
      %td.italic Это очень приятный и расслабляющий вид массажа, который подойдет всем. Он заряжает энергией, снимает стресс, дарит хорошее настроение, омолаживает тело и кожу, улучшает обмен веществ, укрепляет иммунитет и тонизирует все системы организма. Масляный массаж отличается мягким воздействием на тело и отсутствием силовых и болевых приемов. Особенность массажа заключается в уникальном воздействии на организм посредством растительных эфирных масел.     
      %td
    %tr
      %td 39
      %td Аромамассаж 
      %td 60 мин 
      %td 1800
    %tr
      %td 
      %td.italic Воздействия на кожу человека при помощи классических приемов массажа в сочетании с применением ароматических веществ. Эфирные масла оказывают профилактическое воздействие на состояние кожи и организма человека, а также обоняние путем вдыхания ароматических паров. Аромамассаж часто используется в комплексе процедур по борьбе с проявлениями целлюлита, при проведении точечного, лимфодренажного и общего массажа.     
      %td
    %tr
      %td 40
      %td Су-джок терапия  
      %td 30 мин
      %td 600
    %tr
      %td 
      %td.italic Су Джок или точечный массаж рук – это корейский метод лечения, благодаря которому можно улучшить свое самочувствие без помощи лекарств. Су Джок переводится с корейского так «су» – означает кисть, а «джок» – стопа. В основе популярной во всем мире терапии лежит метод акупунктуры: воздействие на точки человека, которые связанны со всеми внутренними органами. Согласно Су Джок наши кисти рук и стопы ног представляют собой проекцию тела человека: так ладонь и стопа – это туловище, а пять пальцев – это руки, ноги и голова.     
      %td
    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
