.masthead
  .container_viel.orange{:align => 'center'}
    %br
    %br
    %h3{:'font-family' => 'font-centr'} 
      =link_to 'SPA-этикет', spa_etiquette_viel_index_path
      %br
    %hr
      = image_tag('spa.jpg',  :class => 'img-rounded', height: "77", width: "320", :align => 'center')
    %br
    %br
    %br
  .container
    %ul.white{:'font-size' => 'medium'}
      %li{:'font-size' => 'medium'}  Бронирование времени для прохождения процедур по подарочному сертификату происходит по предварительной записи по контактну телефону центра: +7 (938) 429-23-28, не менее чем за 3-4 дня на будние дни, а на выходные дни - не менее чем за 2-3 недели.
      %li Если по каким-то причинам Вы не можете посетить центр в забронированное время, Администрация центра просит отменять визит не менее чем за 24 часа.
      %li Несвоевременный отказ от забронированного времени прохождения процедур по Подарочному сертификату ведет к его аннулированию.
      %li При осуществлении предварительной записи Клиент имеет право выбора  специалиста.  Свои предпочтения по этому вопросу необходимо обозначить администратору центра при бронировании времени прохождения процедур.
      %li В центр красоты и здоровья рекомендуется  приходить за 15 минут до назначенного времени начала процедур, чтобы оставить время на переодевание.  Халаты, тапочки и одноразовое белье предлагаются.
      %li В случае первичного посещения клиенту необходимо заполнить Медицинскую карту для получения консультации специалиста по вопросу медицинских противопоказаний. Если в результате анализа данных Медицинской карты выявлены медицинские противопоказания,  допустима равноценная замена на безопасную для здоровья Клиента процедуру.
      %li К сожалению,  время Вашего опоздания отразится на продолжительности Ваших процедур, так  как любое изменение в расписании мастеров может негативно повлиять на других Клиентов центра.
      %li Значительное число процедур по уходу за телом предполагает принятие душа до их начала, о чем  Клиентов предупреждает персонал. Клиентам следует принять душ, переодеться в  предлагаемый халат, тапочки и одноразовое белье.
      %li Дамам  рекомендуется удалить макияж предлагаемыми косметическими средствами, которые находятся в комнатах для переодевания, а мужчинам желательно не бриться менее чем за 3 часа до прохождения  процедур по  уходу за лицом.
      %li Напоминаем о необходимости снять украшения и часы, в противном случае администрация не несет ответственности за вещи, оставленные в карманах халата, на туалетных столиках процедурных кабинетов и в местах общественного пользования.
      %li Администрация центра не несет ответственности за ценные вещи, оставленные в шкафчиках для переодевания, если только они не были сданы на ответственное хранение администрации центра.
      %li Для поддержания обстановки релаксации не рекомендуется использование мобильных телефонов, и не приветствуются громкие разговоры.
      %li Курение в нашем  центре запрещается.
      %li «Чаевые» вознаграждения специалистам центра остаются на усмотрение Клиента.
      %br
      %br

  .container{:align => 'center'}
    %h4.orange{:'font-family' => 'font-centr', :'font-style' => 'strong'} Надеемся на понимание и соблюдение норм внутреннего spa-этикета.
    %h4.orange{:'font-family' => 'font-centr', :'font-style' => 'strong'} Приятного вам отдыха в нашем центре!
    %br
    %br
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    



