.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Тайский лечебный массаж
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
      .container_viel{:align => 'center'}
        = image_tag('tai.jpg',  :class => 'img-rounded', height: "231", width: "750")

    %br
    %br



    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
