.masthead
  %title Услуги тайского массажа
  %keywords{:content =>'тайский массаж, тайский массаж крансодар, массаж краснодар'}
  %description{:content =>'Тайский массаж в Краснодаре любой сложности в центре красоты и здоровья Виэль.'}
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Тайский лечебный массаж
  %hr    
    %h4.italic.OrangeRed{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel.OrangeRed{:align => 'center'}
    = image_tag('tai.jpg',  :class => 'img-rounded', height: "231", width: "750")
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} Тайский массаж – волшебство, древняя система манипуляций влияющих на состояние организма человека. Это знания и традиции, опыт и мудрость великой восточной культуры, недоступные для иных народов. Тайский массаж Краснодар - это таинство, в котором сохранена грань между глубокими познаниями духовности и нормального психического здоровья человека. Тайский массаж – это состояние полного удовлетворения, которое приносит здоровье вашему организму.
    %br Тайские целители полагают, что через все человеческое тело проходят многочисленные невидимые каналы, циркулирующие жизненную энергию, нарушения которых вызывают болезни. 
    %br Тайский массаж (Краснодар) от прочих отличается тем, что механическое воздействие акцентируются не на мышечной ткани, а на определенные энергетические точки тела. После череды надавливаний на них устраняются заторы, и энергия жизни восстанавливает свое движение. При этом человек отчищается от депрессий, болевых синдромов.
    %br Сеанс продолжается от 2 до 3 часов. Одетый в легкую одежду с натуральной ткани пациент, располагается на специальном сооружении, и массажист начинает свое волшебство. 
    %br Массаж Краснодар начинается с легких, мягких воздействий на стопы ног. Здесь располагается особая зона, отвечающая за общее расслабление тела. Массируют их плавными, ритмичными нажимами. Получив сигнал, тело пациента полностью расслабляется.
    %br  И только после этого начинается проработка всех участков тела. К каждому из них применяется своя методика и сила надавливаний, растяжений или скруток.
    %br
    %br



    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
         
