.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %h2{:'font-family' => 'font-centr'} Сколько солнцезащитного крема нужно наносить
    %hr   
    %h4.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel2.black

        %h4Социологические опросы, которые проводились в разных странах и среди разных групп населения (возраст, материальное положение и другие социологические показатели), показали, что подавляющее большинство людей наносят на кожу недостаточное количество крема, что уменьшает защиту и от UVB-излучения, и от UVA-излучения, то есть снижается фактор защиты. 
        %br
        При нанесении на кожу солнцезащитных средств необходимо помнить, что для тестирования любое солнцезащитное средство наносится на кожу в достаточно приличном количестве: на каждый квадратный сантиметр открытой кожи во время тестов наносится 2 мг солнцезащитного средства с любым фактором защиты.
        %br
        Поэтому, нанося на пляже солнцезащитное средство на открытую кожу, не стоит экономить — ничем хорошим это не закончится (в самом лучшем случае вы просто разочаруетесь в компании-производителе).
        %br
        Если наносить на кожу меньшее количество солнцезащитного крема, то степень защиты от UV-излучения (ультрафиолетового излучения) очень заметно снижается. Соответственно, возрастает риск солнечных ожогов кожного покрова, а при наличии заболеваний, при которых очень важен фактор инсоляции (солнечного облучения), не будет обеспечена необходимая защита.
        %br
        %h3.red Внимание! Подавляющее большинство людей, которые пользуются солнцезащитными средствами, наносят такие средства в объеме от 0,8 до 1 мг на квадратный сантиметр кожи, то есть в два раза меньше необходимого количества (а то и в два с половиной раза меньше).
        %br
        %hr
        %br
        %h2.red.strong Внимание! Европейская маркировка!
        %br
        В 2007 году в странах Европейского Союза солнцезащитные средства начали маркировать несколько иначе и во всех странах ЕС одинаково, то есть маркировка всех солнцезащитных средств была унифицирована. Эти изменения приняты для того, чтобы потребители в любой европейской стране могли получить полную информацию по всем вопросам, связанным с эффективностью и безопасностью солнцезащитного средства.
        %br
        Чтобы упростить маркировку и сделать ее совершенно понятной для потребителя в любой стране Евросоюза, выделены четыре класса солнцезащитных средств:
        %br
        %br
        %li Средства с очень высокой степенью защиты (SPF50+);
        %br
        %li Средства с высокой степенью защиты (от 40 до 50 SPF);
        %br
        %li Средства со средней степенью защиты (от 15 до 40 SPF);
        %br
        %li Средства с низкой степенью защиты (от 6 до 15 SPF).
        %br
        Приняты стандарты, в соответствии с которыми любое солнцезащитное средство должно иметь на упаковке информацию о соотношении SPF/PPD. Известно, что полноценную защиту от всех видов ультрафиолетового солнечного излучения (UVA и UVB) гарантирует соотношение SPF/PPD<3.
        %br
        Но какой бы крем или спрей не использовался, необходимо помнить, что действовать он начнет только через двадцать минут после нанесения на кожу. В США с 2012 года Управление по контролю за качеством пищевых продуктов и лекарственных препаратов тщательно следит, чтобы на всех солнцезащитных средствах обязательно было такое предупреждение.
        %br
        Также необходимо помнить, что любое солнцезащитное средство нуждается в постоянном обновлении — каждые два часа или после каждого купания.
        %br
        Не следует отказываться от использования солнцезащитных средств в облачную или пасмурную погоду, поскольку неоднократно доказано, что облака задерживают не более 20 % солнечных лучей, то есть 80 % ультрафиолетового излучения достигает земной поверхности даже при облачности.


        %br

        %br

        %br

        %br

        %br


        %br
        %hr
        %br    
        %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
