.masthead
  .container_viel2.OrangeRed{:align => 'center'}
  
    %h4.italic{:'font-family' => 'font-centr', :align => 'right'} 
      .container_viel{:align => 'center'}
        %h2{:'font-family' => 'font-centr'} Полезные советы
        %hr 

        =link_to image_tag('useful_tips1.jpg',  :class => 'img-rounded', height: "77", width: "320", :align => 'center'), useful_tips_1_viel_index_path
        %br
        =link_to "Крем для загара с ППД защитой", useful_tips_1_viel_index_path
        %br
        %br
        =link_to image_tag('useful_tips2.jpg',  :class => 'img-rounded', height: "77", width: "320", :align => 'center'), useful_tips_2_viel_index_path
        %br
        =link_to "Как выбрать солнцезащитный крем?", useful_tips_2_viel_index_path
        %br
        %br
        =link_to image_tag('useful_tips3.jpg',  :class => 'img-rounded', height: "77", width: "320", :align => 'center'), useful_tips_3_viel_index_path
        %br
          =link_to "Сколько солнцезащитного крема нужно наносить?", useful_tips_3_viel_index_path
        %br    
        %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
