.masthead
  .container.OrangeRed{:align => 'center'}
    %h2{:'font-family' => 'font-centr'} Крем для загара с ППД защитой
    %hr   
    %h4.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container.black

        %h4«Все течет, все меняется», — так говорили древние, и они были правы. Возьмем, например, загар. Сначала на это никто не обращал никакого внимания, и это было совершенно объяснимо — жили-то люди в пещерах и почти все время находились на улице. 
        Потом загар стал совершенно немодным и неприемлемым — по крайней мере, для господ, потому что загорелыми были только плебеи и рабы. Затем загар стал необыкновенно популярным, потому что считался верным признаком активности и здоровья. Еще спустя немного времени к загару опять начали относиться с настороженностью, потому что его начали подозревать в отрицательном воздействии на здоровье…
        %br
        Но тут уже в игру вступили крупные производители всего, что имеет к загару хоть какое-то отношение, — кремов «до» и «после», лосьонов, спреев, купальников, соляриев, очков, ковриков, пляжных сумок и сумочек, специального питания и витаминов, специальных шампуней, специальной декоративной косметики…
        %br
        И если между предыдущими этапами отношения к загару проходили сначала тысячи, а затем сотни лет, то этап бизнеса на загаре может продлиться и вовсе бесконечно. Но если есть предложение, то есть и потребители — это несомненно. А для потребителей очень важно разбираться во всех этих таинственных значках и буквочках на баночках, тюбиках, упаковках.
        %br
        %br
        Итак, уважаемые потребители, начинаем разбираться…
        %br
        %br
        = image_tag('useful_tips1.jpg',  :class => 'img-rounded', height: "462", width: "400")
        %br
        %hr
        %h3.italic.strong Несколько слов о фототипе:
        %br
        %h4 Чтобы как можно точнее определить, какое солнцезащитное средство подойдет лучше всего и будет наиболее полезным, необходимо помнить, что выбор солнцезащитного средства должен зависеть не только от компании-производителя и от надписей на упаковке, но и от фототипа.
        %br
        Что же такое фототип? Это чувствительность кожи к воздействию солнечных лучей. Чем светлее кожа, тем быстрее и сильнее она обгорает на солнце и тем тщательнее такую кожу необходимо защищать от воздействия прямых солнечных лучей.
        %br
        %br
        %h3.strong 1. Кельтский фототип
        %br
        К этому фототипу относятся люди с очень светлыми волосами (иногда волосы могут быть рыжими), глаза у представителей кельтского фототипа тоже очень светлые — как правило, голубые или серые, кожа тонкая и белоснежная, которая кажется хрупкой и фарфоровой, — такая кожа обгорает на солнце практически мгновенно.
        %br
        Если речь идет о солнцезащитных средствах, то для людей кельтского фототипа фактор защиты должен быть максимальным.
        %br
        %br
        %h3.strong 2. Нордический фототип (светлокожий европейский)
        %br
        Представители этого фототипа чаще всего имеют русые волосы (редко — каштановые), глаза у них светлые, то есть голубые, серые или синие (иногда зеленые); кожа светлая и нежная, однако обгорает она не мгновенно, а минут за десять — понятно, что риск обгореть для представителей нордического фототипа практически такой же значительный, как и для «кельтов».
        %br
        Выбирая солнцезащитные средства, следует останавливаться на тех, которые имеют максимальный фактор защиты.
        %br
        %br
        %h3.strong 3. Среднеевропейский фототип
        %br
        Определить среднеевропейский фототип можно по таким внешним признакам: волосы у представителей европейского фототипа чаще всего каштановые, глаза карие, кожа часто смуглая, а если и светлая, то загорающая практически мгновенно и без особых проблем.
        %br
        Обгорает незащищенная кожа представителей среднеевропейского фототипа примерно за полчаса, а если солнечные лучи очень интенсивные, то немного быстрее — минут за двадцать.
        %br
        Фактор защиты средств для загара может быть не максимальным, однако средние показатели фактора защиты лишними не будут — зачем же провоцировать ожоги, даже если их вероятность не стопроцентная?
        %br
        %br
        %h3.strong 4. Средиземноморский фототип (южноевропейский)
        %br
        Если волосы темные (темно-каштановые или черные), глаза темно-карие, кожа постоянно смугло-оливковая, которая загорает практически мгновенно и практически никогда не обгорает, тогда речь идет о средиземноморском фототипе.
        %br
        Нужны ли средства для загара? Как известно, береженого и Бог бережет — это во-первых. Во-вторых, средства для загара делают цвет кожи более ровным и позволяют избежать любых неприятных ощущений от воздействия прямых солнечных лучей. В-третьих, такие средства обеспечивают даже смуглую кожу необходимым питанием и витаминами.
        %br
        Так что можно остановиться на средствах для загара с совсем небольшим фактором защиты, однако эти средства лишними не будут.
        %br
        %br
        %h3.strong 5–6. Индонезийский фототип. Афроамериканский фототип
        %br
        Представители индонезийского и афроамериканского фототипов имеют очень смуглую кожу, которая иногда может быть темно-коричневой или даже почти черной. Волосы и глаза у таких людей очень темные — практически всегда черные. Кожа на солнце не обгорает.
        %br
        %br
        = image_tag('fototip.gif',  :class => 'img-rounded', height: "462", width: "650")        
        %br
        %br
        Что касается фактора защиты средств для загара, то можно остановиться на средствах с минимальным солнцезащитным фактором, причем не столько защищать кожу от воздействия солнечных лучей, сколько увлажнять ее и подпитывать.
        %br 
        %h3.red Внимание! Чем светлее кожа, тем более сильный солнцезащитный фактор для нее нужен и тем короче должно быть время пребывания под прямыми солнечными лучами. 
        %hr
        %h3.italic.strong О солнечных лучах (с точки зрения современной науки)
        %br
        %h4 Современная наука различает солнечные лучи трех спектров — UVC, UVB и UVA.
        %br
        Самым неопасным для людей можно считать UVC-излучение, потому что это самые «короткие» лучи, которые поглощает озоновый слой Земли и которые до земной поверхности попросту не доходят. Хотя на самом деле именно эти лучи самые агрессивные. 
        %br
        Гораздо опаснее UVB-излучение — это активные солнечные лучи, благодаря которым мы получаем и солнечный загар, и солнечные ожоги. UVB-излучение легко задерживается одеждой или стеклом, поэтому защита от этого излучения — легкая одежда (лучше, конечно, светлая); шляпка, косынка или бейсболка; солнцезащитные очки. Результат воздействия UVB-лучей заметен практически сразу — кожа краснеет, а то и начинает покрываться волдырями ожогов.
        %br
        Самым опасным и агрессивным считается UVA-излучение, которое не останавливают ни оконные стекла, ни летняя одежда и которое проникает в глубокие слои кожного покрова.       
      %br    
      %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
