.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'}Как выбрать солнцезащитный крем?
    %hr   
    %h4.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel2.black
        %br
        %br
        = image_tag('kak_vybrat_krem.jpg',  :class => 'img-rounded', height: "462", width: "580")
        %br
        %br    
        %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
