.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %h2{:'font-family' => 'font-centr'} Способы защиты от солнечного облучения
    %hr   
    %h4.italic{:'font-family' => 'font-centr', :align => 'center'} 
      .container_viel4.black

        %h3.red Ассоциация рака кожи (Skin Cancer Association) обращает внимание на необходимость защиты кожи от вредного воздействия прямых солнечных лучей. 
        %br
        1. Во-первых, настоятельно рекомендуется наносить перед выходом на улицу солнцезащитные средства с соответствующим солнцезащитным фактором на все открытые участки кожи.
        %br
        %br
        2. Во-вторых, находясь на пляже, необходимо наносить повторно солнцезащитные средства каждые два часа и после любого погружения в воду.
        %br
        %br
        3. В-третьих, не следует оставлять необработанные солнцезащитным средством участки кожи.
        %br
        %br
        4. В-четвертых, в периоды особенной солнечной активности следует обязательно уходить в тень.
        %br
        %br
        5. В-пятых, во время пребывания на улице стараться носить одежду, которая не пропускает ультрафиолетового излучения (такую одежду выпускают многие производители одежды, предназначенной для активного отдыха), головные уборы, не пропускающие ультрафиолетового излучения, и солнцезащитные очки с соответствующим фактором защиты.
        %br
        %h3 Ультрафиолетовый спектр солнечного излучения является биологически активным.
        %br
        Это излучение делится на 3 спектра:
        %br
        %li UVC (100-280нм),
        %br
        %li UVB (280-320нм),        
        %br
        %li UVA (320-400нм).        
        %br
        UVC – это излучение с самой короткой длиной волны, т.е. до 290 нм. Обладает самым высоким уровнем энергии, является сильно эритемогенным, но практически полностью поглощается озоновым слоем атмосферы и в нормальных условиях не достигает поверхности Земли.        
        %br
        Излучение UVB с длиной волны от 290 до 320 нм обладает очень сильными эритемогенными свойствами, усиливает синтез пигмента кожи, отвечает за появление солнечных ожогов.
        %br
        UVA является излучением с длиной волны 320-400 нм, оно менее эртитемогенно, но зато более активно способствует выработке пигмента, чем излучение UVB. Количество излучения UVA, достигающего поверхности Земли, значительно больше, чем излучения UVB. Высокие дозы UVA могут усиливать эритемную реакцию и увеличивать неблагоприятные биологические эффекты, возникающие в результате воздействия излучения UVB.
        %br
        Очень активное с биологической точки зрения излучение UVB, приводящее к быстро заметному эффекту солнечного ожога, в значительной мере поглощается озоновым слоем в стратосфере (только несколько процентов этого излучения достигает поверхности Земли). То же время, излучение UVA незначительно ослабляется атмосферой, оно проникает глубоко в кожу и влияет на иммунную систему человека. Поэтому мы должны ограждать себя от слишком больших доз ультрафиолетового излучения. Уровень вредности ультрафиолетового излучения зависит не только от величины дозы, но также от индивидуальной чувствительности кожи на данный тип излучения.
        %br
        %h3 Количество ультрафиолетового излучения, достигающего поверхности Земли, зависит от:
        %br
        %li Высоты Солнца над горизонтом, т.е. географической широты, времени года и времени дня. Самое сильное излучение достигает Земли в тропической зоне, самое слабое – в области полюсов. В Польше самое сильное излучение наблюдается летом около 12 часов дня.        
        %br
        %li Высоты над уровнем моря: чем выше, тем сильнее излучение – самые высокие показатели ультрафиолетового излучения в Польше наблюдаются горах – Татрах.        
        %br
        %li Рассеивания излучения в атмосфере аэрозолями и водяным паром.         
        %br
        %li Содержания озона в атмосфере; считается, что 1% изменения полного содержания озона приводит к изменению 1,1÷1,3% ультрафиолетового UV.       
        %br
        %li Поглощения и отражения излучения поверхностью Земли. Соотношение отражаемого излучения к падающему излучению называется альбедо, для льда и снега оно составляет около 0,5, а для растительности 0,03. Влияние альбедо сильнее всего проявляется высоко в горах (отражение от скал и снега) и над морем (отражение от песка и воды).       
        %br
        %li Размера и типа облачности – ультрафиолетовое излучение сильно поглощается облаками. Защита от ультрафиолетового излучения - это, прежде всего, ограничение воздействия солнечного излучения на кожу. Следует ограничивать пребывание на солнце – особенно, если кожа чувствительна, или в случае светлого типа кожи. Дополнительным противопоказанием для загара является применение оральных противозачаточных средств и период беременности, поскольку в этом случае увеличивается риск появления устойчивых пигментных пятен на коже. От солнечного излучения можно защититься, выбирая такую одежду, которая закрывает значительные участки тела. Если она будет сшита из натуральных тканей – льна, хлопка, шелка – то можно избежать перегрева. Однако следует помнить о том, что тонкая одежда светлых тонов не защищает нас от излучения UVA. Летом стоит носить головной убор, например, шляпу: она защитит чувствительную кожу лица, а если будет хорошо подобрана, то придаст нам очарования и элегантности. Очень важно также защищать глаза от ультрафиолетового излучения – в солнечное время года необходимо носить солнечные очки с фильтром UV.       
        %br
        %br
        %h3.red Очень важным элементом защиты от ультрафиолетового излучения является применение специальных препаратов, содержащих фильтры UV.
        %br
        Уже давно известны вещества, защищающие от солнца. Их можно разделить на физические и химические. Физические фильтры (минеральные) – это вещества, обладающие способностью отражать и рассеивать солнечные лучи. В препаратах, защищающих от солнца, чаще всего применяется двуокись титана и окись цинка. Физические фильтры обладают широкой сферой защитных действий, как в спектре UVB, так и UVA. Химические фильтры представляют собой синтетические органические соединения, поглощающие солнечное излучение и преобразующие его в тепловую энергию.
        Чтобы упростить маркировку и сделать ее совершенно понятной для потребителя в любой стране Евросоюза, выделены четыре класса солнцезащитных средств:
        %br
        Самые современные фильтры сочетают в себе преимущества минеральных и химических фильтров, защищая кожу от ультрафиолетового излучения различными способами – они отражают, рассеивают и поглощают его. Качественные препараты для солнечной защиты содержат комплекс химических и физических фильтров, благодаря чему достигают высокого уровня защиты в широком спектре. При правильном сочетании, эти фильтры взаимно усиливают свое действие и обладают хорошей фотостабильностью, т.е. устойчивостью к воздействию электромагнитного излучения, обеспечивая длительное действие препарата, в котором применены. Различные фильтры отличаются обладают различными защитными свойствами. Их эффективность и сфера действия обозначаются при помощи общепринятых сокращений.
        %br
        %h4.darkblue Сила действия защитного солнечного препарата от излучения UVB определяется международным обозначением SPF (sun protection factor). Он указывает, насколько дольше (во сколько раз) можно пребывать на солнце после нанесения данного защитного препарата, до момента появления эритемной реакции, по сравнению с пребыванием на солнце без защиты.
        %br
        MED* на коже после нанесения защиты SPF = MED* на коже после нанесения защиты / MED на коже без защиты 
        %br
        MED - minimal erythema dose – минимальная эритемная доза. Это самая маленькая доза ультрафиолетового излучения, требуемая для появления воспалительной реакции, проявляющейся покраснением кожи.
        %br
        Однако этот показатель не следует рассматривать дословно: на практике люди наносят меньшее количество защитного препарата, чем в лабораторных условиях. Кроме того, его защитное действие дополнительно снижают такие факторы, как купание, вытирание полотенцем, и потоотделение на коже. Для того, чтобы поддержать соответствующий уровень защиты от ультрафиолетового излучения, необходимо во время пребывания на солнце несколько раз наносить препарат на кожу. Значительно сложнее оценить показатель защиты от излучения UVA. Дело в том, что отсутствуют унифицированные методы определения SPF для данного спектра излучения, поэтому на упаковках солнцезащитных препаратов можно встретить различные параметры, определяющие коэффициент защиты от излучения UVA: IPD, PPD или просто UVA.
        %br
        IPD (Immediate Pigment Darkening), а также PPD (Persistent Pigment Darkening) – это методы, при которых исследуются эффекты действия излучения UVA через 1 минуту после окончания воздействия этого излучения (IPD) или через 2-24 часа (PPD). Показатель факторов определяется соотношением количества излучения UVA, необходимого для появления видимой реакции на защищенной коже, а также на коже, не защищенной фильтром UVA.
        %br
        %h3 Показатели этих факторов интерпретируются следующим образом:
        %br
        %li IPD информирует, в какой степени препарат защищает от излучения UVA (максимальный достижимый уровень это IPD 90, что означает 90% защиты от UVA).
        %br
        %li PPD информирует, во сколько раз уменьшилась доза излучения UVA, поглощаемого кожей; к примеру, PPD 10 означает, что в кожу проникает в 10 раз меньше энергии излучения UVA.
        %br
        %h4.darkblue Применение солнцезащитных препаратов может не только предотвратить появление острой солнечной реакции, такой, как солнечный ожог, фотоаллергическая реакция или солнечная аллергия, но также уменьшает риск развития онкологических болезней кожи. 
        %br
        Предотвращение сильных ожогов имеет особое значение при профилактике злокачественной меланомы. 
        %br
        %h4.darkblue Доказано также профилактическое действие солнцезащитных препаратов при появлении таких изменений, как солнечный кератоз и фотостарение кожи.
        %br
        В случае некоторых видов фотодерматита применение солнечной защиты может являться очень важным элементом лечения. Пациенты, заболеваниям которых сопутствует повышенная чувствительность к солнечному свету, должны применять препараты с максимальным фактором защиты от излучения UVB, а также, по возможности, от излучения UVA. И хотя применение препаратов солнечной защиты является наиболее очевидным в летнее время года, следует помнить о том, что стоит применять их круглый год – для того, чтобы сохранить здоровье и красоту кожи.
        %br
        Новые* обозначения препаратов солнечной защиты – рекомендации COLIPA (The European Cosmetic Toiletry and Perfumery Association)
        %br
        %h3 Самый высокий солнцезащитный фактор
        %br
        SPF 50+ - зарезервирован для препаратов, которые по меркам, применяемым ранее, достигали уровня SPF 60 или более.
        %br
        %h4.darkblue Низкая 2 - 4 - 6
        %br
        %h4.darkblue Средняя 8 - 10 - 12
        %br
        %h4.darkblue Высокая 15 - 20 - 25
        %br
        %h4.darkblue Очень высокая 30 - 40 - 50
        %br
        %h4.darkblue Ультравысокая 50+ 


        %br
        %hr
        %br    
        %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
