.masthead
  .container_viel.OrangeRed{:align => 'center'}
    %br
    %br
    %h2{:'font-family' => 'font-centr'} Наши вакансии:
  %hr 
    %br
      %h3{:align => 'center'} 1. Требуется массажист
  %hr 
    %br
      %h3{:align => 'center'} 2. Требуется косметолог
  %hr 
    %br
      %h3{:align => 'center'} 3. Требуется иглорефлексотерапевт
  %hr 
    %br
      %h3{:align => 'center'} Аренда кабинета (в сутки и в месяц). Цена договорная.
  %hr 
    %br
    %br        
  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")






