.masthead
  .container_viel2.OrangeRed{:align => 'center'}
    %br
    %h2{:'font-family' => 'font-centr'} Обёртывания
  %hr    
    %h4.italic.black{:'font-family' => 'font-centr', :align => 'right'} 
  .container_viel{:align => 'center'}
    = image_tag('legs.jpg',  :class => 'img-rounded', height: "231", width: "300")
    = image_tag('massage.jpg',  :class => 'img-rounded', height: "231", width: "307")
    %br
    %br
  %table.black{:border => "3", :cellpadding=>"5"}
    %tr
      %th
      %th Процедура
      %th Цена, руб.
    %tr
      %td 
      %td{:align => 'center'} ОБЁРТЫВАНИЯ
      %td 1800-2200
    %tr
      %td 1
      %td Бандажные обертывание
      %td 1800-2500
    %tr
      %td 
      %td.italic Бандажи пропитаны гелиевыми составами из натуральных ингредиентов: вино, шоколад, перец, мёдё, корица, арбуз и различные травы. Бандажи быстро и легко накладываются на тело, создают приятные ощущения. в процессе сеанса бандажного обёртывания обязательно проводитсялимфодренажный массаж. После снятия бандажей кожа не нуждается в водной процедуре, так как гелиевый состав прекрасно впитывается в кожу, придавая ей обновлённый свежий вид.
      %td 
    %tr
      %td 2
      %td Термо-одеяло
      %td 1800-2200
    %tr
      %td 
      %td.italic При горячем обертывании (используется термоодеяло) действует эффект сауны, который усиливает обмен веществ и проникновение активных ингредиентов внутрь. Термообертывание позволяет добиться уменьшения объемов тела, способствует выведению токсинов из организма и улучшает микроциркуляцию крови, прекрасно эксфолиирует ороговевшие клетки с поверхности кожи, стимулируя клеточную регенерацию, улучшает текстуру и цвет кожи. Обогащенный ценными маслами и морскими компонентами питает, полирует, минерализует и обновляет кожу., а самое главное помогает бороться с целлюлитом, нормализуя тургор кожи и улучшая ее внешний вид. И все это в абсолютно комфортных для клиента условиях! 
      %td
    %tr
      %td 3
      %td Обертывание (термоодеяло):
      %td 
    %tr
      %td 
      %td - вискипелинание
      %td 1600-2000 
    %tr
      %td 
      %td - шоколадное
      %td 1600-1800 
    %tr
      %td 
      %td - винное
      %td 1600-2000 
    %tr
      %td 
      %td - медовое
      %td 1800-2200 
    %tr
      %td 
      %td - водорослевое
      %td 1800-2200
    %tr
      %td 
      %td - грязь
      %td 1800-2200
    %tr
      %td 
      %td - глина
      %td 1800-2200
    %tr
      %td 
      %td - ил
      %td 1800-2200
    
    %br
  %br

  .container{:align => 'center'}
    = image_tag('01-trans.png',  :class => 'img-rounded', height: "462", width: "678")
    

         
