!
.head
  .meta{:content=>'text/html; charset=UTF-8', :'http-equiv'=>'Content-Type'}
.body
  %h1 Welcome to viel-centr.ru, <%= @gift.name %>
    %p
      You have successfully signed up to viel-centr.ru,
      your gift_type is: <%= @gift.type %>.
    %p
      To login to the site, just follow this link: <%= @url %>.
    %p Thanks for joining and have a great day!
