#vk_like


:javascript
  $(function(){
    VK.init({
        apiId: 4224369,
        onlyWidgets: true
      });
 
    VK.Widgets.Like('vk_like');
    VK.Widgets.Comments('vk_like', {limit: 10, width: "496", attach: false});
  });



