Клиент
= @gift_certificate.name 
,

подал заявку на подарочный сертификат
Необходимо связаться с ним в
= @gift_certificate.time
Телефон для связи:
= @gift_certificate.phone
E-mail для связи:
= @gift_certificate.email
