// Place all the styles related to the puper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

.blue {
  color: #33aaff;
}
.red {
  color: red;
}
.white {
  color: white;
}
.orange {
  color: Orange;
}

.italic {
  font-style: italic;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container > hr {
  margin: 60px 0;
}

.container_viel {
  margin: 0 auto;
  max-width: 1200px;
}
 .container_viel2 {
  margin: 0 auto;
  max-width:   00px;
}
/* Customize the navbar links to be fill the entire space of the .navbar */


.span3 {
width: 33%;
*width: 33%
}

@font-face {
    font-family: 'font_viel_centr';
    src: font-url('font_viel_centr.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font_viel_emblema';
    src: font-url('font_viel_emblema.ttf') format('ttf');
    font-weight: normal;
    font-style: oblique;
    font-size: 40px;
}

.head {
	font-family: "font_viel_emblema";
}

body {
	font-family: "font_viel_centr";
  font-size: small;
}

p.font_viel_centr{
    font-family: 'font_viel_centr';
    height: 5px; 
}

.background_viel {
    margin: 0 auto; 
    padding: 0px;
    background-image: asset-url('fon1.jpeg');
    background-color: DarkGreen;
    background-repeat: no-repeat;
    background-size: cover;
}
.background_viel2 {
    height: 200px; 
    width: 350px; 
    border: solid 1px blue; 
    margin: 0 auto; 
    padding: 0px;
    background-image: url('/images/fon1.jpeg');
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: orange;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: darkorange;
  text-decoration: none;
  background-color: white;
}

a {
  color: DarkOrange;
  font-face: font_viel_emblema;
  text-decoration: none;
}

a:hover,
a:focus {
  color: white;
  text-decoration: underline;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1200px;
}

.btn_learn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 18px;
  line-height: 26px;
  color: DarkGreen;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #FF8C00;
  *background-color: #FF8C00;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient('linear', 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid DarkOrange;
  *border: 0;
  border-style: 3px double #006400; 
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.button_learn {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, Red, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   *background: transparent url('logotyp_black.jpg') no-repeat scroll top right ;
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: font_viel_emblema, font_viel_centr;
   font-style: italic;
   text-decoration: none;
   vertical-align: middle;
}

.button_learn:hover {
   border-top-color: #28597a;
   background: white;
   color: darkorange;
}

.button_learn:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.button_viel {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, OrangeRed, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button_viel:hover {
   border-top-color: #28597a;
   background: darkgreen;
   color: #d6ced6;
}

.button_viel:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.button_viel_menu {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, OrangeRed, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   font-style: italic;
   text-decoration: none;
   vertical-align: middle;
}

.button_viel_menu:hover {
   border-top-color: #28597a;
   background: #d6ced6;
   color: darkorange;
}

.button_viel_menu:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.nav-pills.viel-pills {
  *zoom: 1;
}

.nav-pills.viel-pills:before,
.nav-pills.viel-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-pills.viel-pills:after {
  clear: both;
}

.nav-pills.viel-pills > li {
  float: left;
}

.nav-pills.viel-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: font_viel_centr;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

.nav-pills > .active > a {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(green), to(#f0822d));
   background: -webkit-linear-gradient(top, green, yellow);
   background: -moz-linear-gradient(top, DarkGreen, green);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.li > .active > a {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(green), to(#f0822d));
   background: -webkit-linear-gradient(top, green, yellow);
   background: -moz-linear-gradient(top, DarkGreen, green);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}
