// Place all the styles related to the puper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 20px;
  padding-bottom: 60px;
}

.blue {
  color: #33aaff;
}
.red {
  color: red;
}
.white {
  color: white;
}
.orange {
  color: Orange;
}
.color-back {
  color: DarkGreen;
}
.darkorange {
  color: darkorange;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.OrangeRed {
  color:OrangeRed;
}

.strong_my {
  font-style: bold;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container > hr {
  margin: 60px 0;
}

.container_viel {
  margin: 0 auto;
  max-width: 1200px;
}
 .container_viel2 {
  margin: 0 auto;
  max-width:   800px;
}
/* Customize the navbar links to be fill the entire space of the .navbar */


.span3 {
width: 33%;
*width: 33%
}

@font-face {
    font-family: 'font_viel_centr';
    src: font-url('font_viel_centr.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font_viel_emblema';
    src: font-url('font_viel_emblema.ttf') format('ttf');
    font-weight: normal;
    font-style: oblique;
    font-size: 40px;
}

.head {
	font-family: "font_viel_emblema";
}

body {
	font-family: "font_viel_centr";
  font-size: large;
}

p.font_viel_centr{
    font-family: 'font_viel_centr';
    height: 5px; 
}

.background_viel {
    margin: 0 auto; 
    padding: 0px;
    background-image: asset-url('fon1.jpeg');
    background-color: DarkGreen;
    background-repeat: no-repeat;
    background-size: cover;
}
.background_viel2 {
    height: 200px; 
    width: 350px; 
    border: solid 1px blue; 
    margin: 0 auto; 
    padding: 0px;
    background-image: url('/images/fon1.jpeg');
}
 
label,
input,
select {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  width: 500px;
}

button {
  font-size: 18px;
  font-weight: normal;
  line-height: 40px;
  width: 500px;
}
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  width: 500px;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: orange;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: darkorange;
  text-decoration: none;
  background-color: white;
}

a {
  color: DarkOrange;
  font-face: font_viel_emblema;
  text-decoration: none;
}

a:hover,
a:focus {
  color: white;
  text-decoration: underline;
}

ul_my,
ol_my {
  padding: 0;
  margin: 0 0 10px 25px;
  list-style-type: none;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1200px;
}

.btn_learn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 18px;
  line-height: 26px;
  color: DarkGreen;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #FF8C00;
  *background-color: #FF8C00;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient('linear', 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid DarkOrange;
  *border: 0;
  border-style: 3px double #006400; 
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.button_learn {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, Red, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   *background: transparent url('logotyp_black.jpg') no-repeat scroll top right ;
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: font_viel_emblema, font_viel_centr;
   font-style: italic;
   text-decoration: none;
   vertical-align: middle;
}

.button_learn:hover {
   border-top-color: #28597a;
   background: white;
   color: darkorange;
}

.button_learn:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.button_viel {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, OrangeRed, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button_viel:hover {
   border-top-color: #28597a;
   background: orange;
   color: #d6ced6;
}

.button_viel:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.button_viel_menu {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, OrangeRed, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   font-style: italic;
   text-decoration: none;
   vertical-align: middle;
}

.button_viel_menu:hover {
   border-top-color: #28597a;
   background: orange;
   color: #d6ced6;
}

.button_viel_menu:active {
   border-top-color: #86a5ba;
   background: #86a5ba;
}

.nav-pills.viel-pills {
  *zoom: 1;
}

.nav-pills.viel-pills:before,
.nav-pills.viel-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-pills.viel-pills:after {
  clear: both;
}

.nav-pills.viel-pills > li {
  float: left;
}

.nav-pills.viel-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: font_viel_centr;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

.nav-pills > .active > a {
   border-top: 2px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(green), to(#f0822d));
   background: -webkit-linear-gradient(top, green, yellow);
   background: -moz-linear-gradient(top, DarkGreen, green);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.viel-pills > .active > a {
   border-top: 3px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(#e67512), to(#f0822d));
   background: -webkit-linear-gradient(top, #e67512, yellow);
   background: -moz-linear-gradient(top, OrangeRed, orange);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.li > .active > a {
   border-top: 1px solid #e8d615;
   background: #f0822d;
   background: -webkit-gradient(linear, left top, left bottom, from(green), to(#f0822d));
   background: -webkit-linear-gradient(top, green, yellow);
   background: -moz-linear-gradient(top, DarkGreen, green);
   background: -ms-linear-gradient(top, #e67512, #f0822d);
   background: -o-linear-gradient(top, #e67512, #f0822d);
   padding: 11px 22px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: font_viel_emblema, font_viel_centr, Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.sliders {
        height: 300px;
        width: 300px;
      }

table_viel {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table_viel {
  width: 100%;
  margin-bottom: 20px;
}

.table_viel th,
.table_viel td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table_viel th {
  font-weight: bold;
}

.table_viel thead th {
  vertical-align: bottom;
}

.table_viel caption + thead tr:first-child th,
.table_viel caption + thead tr:first-child td,
.table_viel colgroup + thead tr:first-child th,
.table_viel colgroup + thead tr:first-child td,
.table_viel thead:first-child tr:first-child th,
.table_viel thead:first-child tr:first-child td {
  border-top: 0;
}

.table_viel tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table_viel .table_viel {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table_viel td[class*="span"],
table_viel th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table_viel td.span1,
.table_viel th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table_viel td.span2,
.table_viel th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table_viel td.span3,
.table_viel th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table_viel td.span4,
.table_viel th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table_viel td.span5,
.table_viel th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table_viel td.span6,
.table_viel th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table_viel td.span7,
.table_viel th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table_viel td.span8,
.table_viel th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table_viel td.span9,
.table_viel th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table_viel td.span10,
.table_viel th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table_viel td.span11,
.table_viel th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table_viel td.span12,
.table_viel th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table_viel tbody tr.success > td {
  background-color: #dff0d8;
}

.table_viel tbody tr.error > td {
  background-color: #f2dede;
}

.table_viel tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table_viel tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

.form-actions_my {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: DarkGreen;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: orange;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, orange, darkorange);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, darkorange, red);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: red;
  *background-color: #003bb3;
}

.class_large {
    text-decoration: none;
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    margin: 0 3px 3px 0;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.class_large_my_4:hover {
    -moz-transform: scale(4.2,4.28) translate(15px,-15px);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}
.class_large_my_2:hover {
    -moz-transform: scale(2.1,2.14) translate(20px,20px);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative; 

    z-index: 99;
}

.class_large_my_3:hover {
    -moz-transform: scale(3.15,3.21) translate(25px,25px);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    bottom: 150px;
    right: 200px;
    z-index: 99;
}
