%br
.navbar
  .container
    %ul_my.nav-pills.viel-pills
      %li{:class => set_active_if(:home, @menu_item)}
        =link_to 'Главная', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:about_us, @menu_item)}
        =link_to 'О нас', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:our_experts, @menu_item)}
        =link_to 'Наши специалисты', home_viel_index_path, :class => 'button_viel'

      %li{:class => set_active_if(:gallery, @menu_item)}
        =link_to 'Галерея', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:appointment, @menu_item)}
        =link_to 'Запись на прием', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:cosmetics, @menu_item)}
        =link_to 'Косметика', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:feedback, @menu_item)}
        =link_to 'Отзывы', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:contacts, @menu_item)}
        =link_to 'Контакты',  home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:advice, @menu_item)}
        =link_to 'Консультации', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:spa_etiquette, @menu_item)}
        =link_to 'SPA-этикет', home_viel_index_path, :class => 'button_viel'

  .container
    %ul_my.nav-pills.viel-pills
      %li{:class => set_active_if(:documents, @menu_item)}
        =link_to 'Документы', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:vacancies, @menu_item)}
        =link_to 'Вакансии', home_viel_index_path, :class => 'button_viel'
      %li{:class => set_active_if(:useful_tips, @menu_item)}
        =link_to 'Полезные советы', home_viel_index_path, :class => 'button_viel'


