.container_viel{:align => 'left'}
  .span3
    %ul
      %li
        =link_to 'Массаж', massage_viel_index_path, :class => 'button_viel_menu'
      %br
      %li
        =link_to 'Косметология', root_url, :class => 'button_viel_menu'
      %br
      %li
        =link_to 'SPA-программы', root_url, :class => 'button_viel_menu'
      %br
      %li
        =link_to 'Обертывания', root_url, :class => 'button_viel_menu'
      %br
      %li
        =link_to 'Пиллинги', root_url, :class => 'button_viel_menu'
      %br
      %br
      %li
        %a.button_learn{:href=>""} ОБУЧЕНИЕ




