.container_viel{:align => 'left'}
  .span3
    %ul_my
      %li{:class => set_active_if(:children, @menu_item)}
        =link_to 'ДЛЯ ДЕТЕЙ', children_viel_index_path, :class => 'button_learn'
      %br
      %li{:class => set_active_if(:massage, @side_menu_item)}
        =link_to 'Лечебный массаж', massage_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:manipulation, @side_menu_item)}
        =link_to 'Мануальный терапевт', manipulation_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:medical_gymnastics, @side_menu_item)}
        =link_to 'ЛФК', medical_gymnastics_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:fizio_procedures, @side_menu_item)}
        =link_to 'Физиопроцедуры', fizio_procedures_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:cosmetology, @side_menu_item)}
        =link_to 'Косметология', cosmetology_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:permanent_cosmetics, @side_menu_item)}
        =link_to 'Тату, татуаж', permanent_cosmetics_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:spa_procedures, @side_menu_item)}
        =link_to 'SPA - процедуры', spa_procedures_viel_index_path, :class => 'button_viel_menu'

      %br
      %li{:class => set_active_if(:spa_programs, @side_menu_item)}
        =link_to 'SPA-программы', spa_programs_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:wraps, @side_menu_item)}
        =link_to 'Обертывания', wraps_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:peelings, @side_menu_item)}
        =link_to 'Пиллинги', peelings_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:thai_massage, @side_menu_item)}
        =link_to 'Тайский лечебный массаж', thai_massage_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:manicure_pedicure, @side_menu_item)}
        =link_to 'Маникюр, педикюр', manicure_pedicure_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:make_up, @side_menu_item)}
        =link_to 'Визаж', make_up_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:psychologist, @side_menu_item)}
        =link_to 'Психолог', psychologist_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:astrologer, @side_menu_item)}
        =link_to 'Астролог', astrologer_viel_index_path, :class => 'button_viel_menu'
      %br
      %br
      %li{:class => set_active_if(:education, @side_menu_item)}
        =link_to 'ОБУЧЕНИЕ', education_viel_index_path, :class => 'button_learn'
      %br

      =image_tag('banner3.jpg',  :class => 'img-rounded', height: "77", width: "210", :align => 'left')

      %br

 
 
  .span2.offset7{:align => 'left'}
    %br
    %br
      = render :partial => 'shared/facebook_button'
    %br
      = render :partial => 'shared/twitter_button'

    %br 
      = render :partial => 'shared/odnoklassniki_button'



