.container_viel{:align => 'left'}
  .span3
    %ul
      %li{:class => set_active_if(:massage, @side_menu_item)}
        =link_to 'Массаж', massage_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:cosmetology, @side_menu_item)}
        =link_to 'Косметология', cosmetology_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:spa_procedures, @side_menu_item)}
        =link_to 'SPA-программы', spa_procedures_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:wraps, @side_menu_item)}
        =link_to 'Обертывания', wraps_viel_index_path, :class => 'button_viel_menu'
      %br
      %li{:class => set_active_if(:peelings, @side_menu_item)}
        =link_to 'Пиллинги', peelings_viel_index_path, :class => 'button_viel_menu'
      %br
      %br
      %li{:class => set_active_if(:education, @side_menu_item)}
        =link_to 'ОБУЧЕНИЕ', education_viel_index_path, :class => 'button_learn'




